<div block="form">
    <div elem="title">Или зарегестрируйтесь</div>
    <div elem="set">
        <input type="email" elem="input" placeholder="E-mail *">
    </div>
    <div elem="set">
        <input type="text" elem="input" placeholder="Имя *">
    </div>
    <div elem="set">
        <input type="password" elem="input" placeholder="Пароль *">
        <div elem="showhide">Показать пароль</div>
    </div>
    <button elem="button">Зарегистрироваться</button>
    <p elem="note">Нажимая кнопку «Зарегистрироваться» <br>вы соглашаетесь с <a href="#">Договором-офертой</a></p>
</div>