._lock{
    overflow: hidden;
}
.form{
	
	// elements
	&__{
        &title{
            font-weight: 700;
            
            color: $color__gray1;
        }
        &set{
            margin: 1rem 0;
            
            display: flex;
            align-items: center;
            
            @media (--mobile-less) {
                flex-direction: column;
            }
        }
		&input{
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 0 1rem;
            
            min-height: 42px;
            
            border-radius: 3px;
            background-color: #f4f4f4;
            box-shadow: 0 0 0 1px #e0e0e0 inset;
            
            font-size: 13px;
        }
        &button{
            display: block;
            width: 215px;
            min-height: 52px;
            padding: .5rem 0;
            margin: 30px auto;
            
            font-family: PTSans;
            font-size: 19px;
            font-weight: 700;
            
            text-transform: uppercase;
            border-radius: 3px;
            background: $color__blue_light;
            color: white;
            
            &:hover{
                background: color($color__blue_light a(.9));
                cursor: pointer;
            }
        }
        &showhide{
            position: relative;
            margin: 0 0 0 2.5rem;
            
            white-space: nowrap;
            font-size: 13px;
            
            font-style: italic;
            
            color: $color__gray2;
            
            cursor: pointer;
            @media (--mobile-less) {
                margin-top: 10px;
            }
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: -35px;
                transform: translate(0, -50%);
                width: 29px;
                height: 17px;
                background-image: url(img/eye.png);
            }
        }
        &note{
            text-align: center;
            font-size: 13px;
            
            color: $color__gray1;
            
            a{
                text-decoration: underline;
                color: #0394d8;
            }
        }
	}
}