<div class="subsite g-section" style="background-image: url('img/bg_gamesubsite.png');">
    <div class="subsite__content g-section__content">
        <div class="subsite__left">
            <import src="modules/jackpot/jackpot.htm"></import>
            <div class="subsite__box">
                <import src="modules/product-drawing/product-drawing2.htm"></import>
                <a href="#" class="subsite__play button button_color_green">играть</a>
            </div>
            <import src="modules/informer-main/informer-main--gamesubsite.htm" class=" informer-main_subsite"></import>
        </div>
        <div class="subsite__right">
            <import src="modules/share/share.htm"></import>
        </div>
    </div>
</div>