<div class="subsite g-section subsite_all" style="background-image: url('img/bg_gamesubsite.png');">
    <div class="g-section__content">
        <div class="subsite__share">
            <import src="modules/share/share.htm"></import>
        </div>
        <div class="subsite__content">
            <div class="subsite__left">
                <div class="subsite__img">
                    <img src=":425x525" alt="">
                </div>
            </div>
            <div class="subsite__right">
                <import src="modules/surprises/surprises.htm"></import>
                <a href="#" class="subsite__play-now button button_color_green">
                    <div class="subsite__play-now__play">играть</div>
                    <div class="subsite__play-now__now">прямо сейчас</div>
                </a>
            </div>
        </div>
    </div>
</div>