.subsite{
    padding: 35px 0 60px;
    background-repeat: no-repeat;
    background-position: top center;
    &_all{
        padding: 45px 0 20px;
        .subsite__left{
            @media(--tablet){
                width: 50%;
                max-width: 50%;
            }
        }
    }
	// elements
	&__{
		&content{
            display: flex;
            @media(--s-tablet-less){
                flex-direction: column;
            }
        }
        &left{
            box-sizing: border-box;
            width: 50%;
            @media(--tablet-less){
                width: 100%;
                max-width: 464px;
            }
        }
        &right{
            box-sizing: border-box;
            width: 50%;
            margin-left: 25px;
            @media(--s-tablet-less){
                width: 100%;
                margin-left: 0;
            }
        }
        &share{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
        &box{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: 15px;
            @media(--s-mobile){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        &play{
            display: block;
            width: 176px;
            min-width: 176px;
            margin-bottom: 10px;
            line-height: 50px;
            text-align: center;
            background-color: #6aa21d;
            border-radius: 3px;
            
            color: #fff;
            font-family: PTSans;
            font-size: 23px;
            font-weight: 700;
            text-transform: uppercase;
            @media(--tablet-less){
                margin-top: 30px;
            }
        }
        &play-now{
            display: inline-block;
            margin-top: 30px;
            border-radius: 3px;
            padding: 15px 35px 10px 35px;
            
            color: #fff;
            font-family: PTSans;
            font-weight: 700;
            text-transform: uppercase;
            &__play{
                font-size: 35px;
                line-height: 32px;
            }
            &__now{
                font-size: 16px;
                line-height: 16px;
            }
        }
        &img{
            @media(--tablet-less){
                width: 100%;
                height: auto;
            }
            img{
                @media(--tablet-less){
                    width: 100%;
                    height: auto;
                }
            }
        }
	}
    .product-drawing__timer{
        width: auto !important;
    }
}