.hat-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
	margin: 0 0 20px;
	// elements
	&__{
        &title{
            color: #000;
            font-family: PTSans;
            font-size: 2.25em;
            font-weight: 700;
            @media(--mobile-less){
                font-size: 31px;
            }
        }
	}
}