.quick-lottery{
	width: 100%;
    max-width: 216px;
    margin-top: 25px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
	// elements
	&__{
        &body{
            padding: 20px 0;
            border-bottom: 2px dashed #c7c7c7;
        }
        &bottom{
            padding: 20px;
        }
        &rate{
            margin-bottom: 12px;
            &__title{
                text-align: center;
                font-size: 13px;
                color: $color__gray1;
            }
            &__body{
                display: flex;
                justify-content: center;
                margin-top: 3px;
                margin-left: -3px;
            }
            &__number{
                box-sizing: border-box;
                position: relative;
                width: 24px;
                max-width: 24px;
                height: 24px;
                line-height: 24px;
                margin-left: 3px;
                text-align: center;
                border: 1px solid #acadad;
                border-radius: 3px;
                
                color: #6e6e6e;
                font-size: 13px;
            }
        }
		&gain{
            display: flex;
            justify-content: center;
        }
        &title{
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
        &button{
            display: block;
            text-align: center;
            border-radius: 3px;
            width: 150px;
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
            line-height: 35px;
            text-decoration: none;
            text-transform: uppercase;
            
            margin: 0 auto;
        }
        &timer{
            margin-top: 20px;
            padding: 0 15px;
        }
        &stars{
            display: flex;
            justify-content: center;
            color: #ffbd0f;
            font-size: 20px;
        }
        &text{
            text-align: center;
            font-size: 13px;
            color: $color__gray1;
            &_margin{
                margin-top: 15px;
            }
        }
        &box{
            margin: 10px 0;
        }
	}
}