<div class="quick-lottery">
    <div class="quick-lottery__body">
        <div class="quick-lottery__title">Mega Millions</div>
        <div class="quick-lottery__gain">
            <import src="modules/gain/gain.htm"></import>
        </div>
        <a href="#" class="quick-lottery__button button button_color_green">Купить билет</a>
        <div class="quick-lottery__timer">
            <import src="modules/timer/timer.htm"></import>
        </div>
    </div>
    <div class="quick-lottery__bottom">
         <div class="quick-lottery__title">Групповая игра</div>
        <div class="quick-lottery__box">
            <div class="quick-lottery__stars">
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
            </div>
            <div class="quick-lottery__text">Оптимальные шансы <br>на крупный выигрыш!</div>
        </div>
        <div class="quick-lottery__box">
            <div class="quick-lottery__stars">
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
            </div>
            <div class="quick-lottery__text">Самый экономный способ играть и выигрывать</div>
        </div>
        <a href="#" class="quick-lottery__button button button_color_green">Подробнее</a>
    </div>
</div>