ul.list{
    li{
        margin-top: 4px;
        font-size: 13px;
        list-style-type: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        &:before{
            content: "\e832";
            font-family: pro-icons;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.72);
            color: #59a80b;
            font-size: 16px;
            margin-right: 8px;
        }
    }
}
ol.list{
    margin-left: 15px;
    li{
        list-style-type: decimal;
        margin-top: 4px;
        font-size: 13px;
    }
}