<ul class="list">
    <li>Donec at quam et mauris sagittis efficitur ut a diam.</li>
    <li>Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio.</li>
    <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
    <li>Donec diam arcu, euismod id purus scelerisque, ultrices blandit odio.</li>
</ul>