<div class="product-important product-important_text">
    <div class="product-important__title">Играть в лотерею онлайн</div>
    <div class="product-important__text"><p>Donec at quam et mauris sagittis efficitur ut a diam. Pro in dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Osqu ad litora torquent per conubia nostr, ultrices blandit odio. Donec at quam et mauris sagittis efficitur ut a diam. Pro in dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Osqu ad litora torquent per conubia nostr, ultrices blandit odio.</p>
        <p>Donec at quam et mauris sagittis efficitur ut a diam. Pro in dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Osqu ad litora torquent per conubia nostr, ultrices blandit odio.</p></div>
</div>