<div class="product-important">
    <div class="product-important__title">Важно: </div>
    <div class="product-important__text">Donec at quam et mauris sagittis efficitur ut a diam. Pro in dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Osqu ad litora torquent per conubia nostr, ultrices blandit odio.</div>
</div>