.product-important{
    padding: 20px;
    margin-top: 25px;
	background-color: rgba(3, 148, 216, 0.1);
    border: 0.063em solid #acdbe7;
    border-radius: 0.188em;
    &_text{
        border-color: #dce2de;
        background-color: #f4f9fd;
        .product-important__title{
            margin-bottom: 0;
        }
        p{
            margin-top: 10px;
        }
    }
	// elements
	&__{
		&title{
            margin-bottom: 15px;
            text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
            font-weight: 700;
        }
        &text{
            text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
            font-size: 0.813em;
        }
	}
}