.jackpot{
	
    &_resp{
        .jackpot__number{
            @media(--tablet-less){
                width: 32px;
                height: 48px;
                font-size: 30px;
                line-height: 40px;
            }
        }
        .jackpot__cell{
            @media(--tablet-less){
                margin-right: 5px;
            }
        }
    }
	// elements
	&__{
		&hat{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &title{
            font-family: PTSans;
            font-size: 36px;
            font-weight: 700;
            @media(--mobile-less){
                width: 100%;
                text-align: center;
                margin-top: 10px;
                font-size: 32px;
            }
        }
        &link{
            display: flex;
            align-items: center;
            color: $color__blue;
            text-decoration: none;
            @media(--mobile-less){
                display: none;
            }
            &__icon{
                margin-right: 10px;
                font-size: 18px;
            }
            &__text{
                font-size: 13px;
                border-bottom: 1px solid $color__blue;
            }
        }
        &counter{
            display: flex;
        }
        &number{
            width: 42px;
            height: 62px;
            margin-right: 1px;
            text-align: center;
            background-image: url('img/jackpot-bg.png');
            background-size: cover;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.67);
            color: #301a13;
            font-family: DINPro;
            font-size: 47px;
            font-weight: 700;
            line-height: 50px;
            @media(--mobile-less){
                width: 28px !important;
                height: 40px !important;
                font-size: 26px !important;
                line-height: 36px !important;
            }
        }
        &cell{
            display: flex;
            margin-right: 8px;
            @media(--mobile-less){
                margin-right: 3px !important;
            }
        }
        &info{
            margin-top: 10px;
            font-size: 13px;
            color: $color__gray1;
            @media(--mobile-less){
                text-align: center;
            }
        }
	}
}