<div class="jackpot">
    <div class="jackpot__hat">
        <div class="jackpot__title">Джек пот</div>
        <a href="#" class="jackpot__link">
            <span class="jackpot__link__icon"><i class="icon-help-circled"></i></span>
            <span class="jackpot__link__text">Сколько я получу?</span>
        </a>
    </div>
    <div class="jackpot__counter">
        <div class="jackpot__cell">
            <div class="jackpot__number">1</div>
            <div class="jackpot__number">7</div>
            <div class="jackpot__number">2</div>
        </div>
        <div class="jackpot__cell">
            <div class="jackpot__number">0</div>
            <div class="jackpot__number">0</div>
            <div class="jackpot__number">0</div>
        </div>
        <div class="jackpot__cell">
            <div class="jackpot__number">9</div>
            <div class="jackpot__number">9</div>
            <div class="jackpot__number">9</div>
        </div>
        <div class="jackpot__number">$</div>
    </div>
    <div class="jackpot__info">В национальной валюте: 140 345 000 000 грн.</div>
</div>