.statistics{
    padding: 25px 30px;
    margin-top: 15px;
    
	background-color: #fff;
    border: 3px solid #ffd200;
    border-radius: 7px;
    @media(--s-tablet-less){
        padding: 15px;
    }
	// elements
	&__{
		&title{
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
        &body{
            margin-top: 20px;
        }
        &head{
            font-size: 13px;
            color: #5e6254;
            line-height: 22px !important;
            @media(--s-tablet-less){
                font-size: 12px;
                line-height: 18px !important;
            }
            &__text{
                padding: 0 5px;
                display: inline-block;
            }
            div._active &__text{
                background-color: #ffd200;
                border-radius: 7px;
                color: #000;
            }
        }
        &row{
            display: flex;
            justify-content: center;
            margin-bottom: 6px;
            line-height: 28px;
        }
        &col{
            width: 100%;
            text-align: center;
            &_center{
                box-sizing: border-box;
                width: 145px;
                min-width: 145px;
                margin: 0 6px;
                @media(--s-tablet-less){
                    width: 70px;
                    min-width: 70px;
                }
                
            }
            &_left{
                display: flex;
                justify-content: flex-end;
            }
            &_right{
                display: flex;
                justify-content: flex-start;
            }
        }
        &number{
            background-color: #f1f1f1;
            border: 1px solid #d2d2d2;
            border-radius: 3px;
            
            font-size: 13px;
            font-weight: 700;
           color:  #484848;
        }
        &win{
            width: 98%;
            background-color: #59a500;
            background-image: url('img/pattern-statistics.png');
            border-radius: 3px;
            
            color: #fff;
            font-size: 13px;
            font-weight: 700;
        }
        &loss{
            width: 25%;
            background-color: #0394d8;
            background-image: url('img/pattern-statistics.png');
            border-radius: 3px;
            
            color: #fff;
            font-size: 13px;
            font-weight: 700;
        }
	}
}