<div class="statistics">
    <div class="statistics__title">Статистика выпадений всех основных шаров диапозона 1-75</div>
    <div class="statistics__body">
        <div class="statistics__row statistics__head">
            <div class="statistics__col statistics__col_left"><div class="statistics__head__text">Всего выпадений</div></div>
            <div class="statistics__col statistics__col_center"><div class="statistics__head__text">По номеру</div></div>
            <div class="statistics__col statistics__col_right _active"><div class="statistics__head__text">Розыгрышей не выпадал</div></div>
        </div>
        <div class="statistics__row">
            <div class="statistics__col statistics__col_left"><div class="statistics__win">98</div></div>
            <div class="statistics__col statistics__col_center"><div class="statistics__number">75</div></div>
            <div class="statistics__col statistics__col_right"><div class="statistics__loss">25</div></div>
        </div>
        <div class="statistics__row">
            <div class="statistics__col statistics__col_left"><div class="statistics__win">98</div></div>
            <div class="statistics__col statistics__col_center"><div class="statistics__number">75</div></div>
            <div class="statistics__col statistics__col_right"><div class="statistics__loss">25</div></div>
        </div>
        <div class="statistics__row">
            <div class="statistics__col statistics__col_left"><div class="statistics__win">98</div></div>
            <div class="statistics__col statistics__col_center"><div class="statistics__number">75</div></div>
            <div class="statistics__col statistics__col_right"><div class="statistics__loss">25</div></div>
        </div>
        <div class="statistics__row">
            <div class="statistics__col statistics__col_left"><div class="statistics__win">98</div></div>
            <div class="statistics__col statistics__col_center"><div class="statistics__number">75</div></div>
            <div class="statistics__col statistics__col_right"><div class="statistics__loss">25</div></div>
        </div>
    </div>
</div>