.share{
	position: relative;
	
    &_main{
        @media(--tablet-less){
            display: none;
        }
    }
	@media(--s-tablet-less){
		display: none;
	}
	// elements
	&__{
		&button{
			display: flex;
			padding: 0 15px 0 15px;
			border-radius: 5px;
			line-height: 35px;
			font-size: 0.875em;
            user-select: none;
			&__icon{
				margin-left: 10px;
			}
		}
		&body{
			display: none;
			
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 22;
			
			margin-top: 10px;
			padding: 15px 25px;
			
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
			
			&._active{
				display: block;
			}
			
			&:after{
				position: absolute;
				bottom: 100%;
				left: 55%;
				
				content: "";
				
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #fff;
			}
		}
		&link{
			display: block;
			white-space: nowrap;
			color: #0394d8;
			font-size: 0.813em;
			text-decoration: underline;
            &:hover{
                color: #01aeff;
            }
			&:not(:last-child){
				margin-bottom: 10px;
			}
		}
		&icon{
			display: inline-block;
			width: 24px;
			height: 24px;
			
			margin-right: 15px;
			
			text-align: center;
			line-height: 24px;
			border-radius: 0.188em;
			font-size: 1.1em;
			color: #fff;
			&_tw{
				background-color: #47c9d0;
			}
			&_fb{
				background-color: #5491cb;
			}
			&_vk{
				background-color: #476e97;
			}
			&_ok{
				background-color: #f58326;
			}
		}
	}
}