<div class="share">
	<div class="share__button button_color_blue">Поделиться<i class="icon-down-dir share__button__icon"></i></div>
	<div class="share__body">
		<a href="#" class="share__link">
			<span class="share__icon share__icon_tw"><i class="icon-soctw"></i></span>Twitter
		</a>
		<a href="#" class="share__link">
			<span class="share__icon share__icon_fb"><i class="icon-socfb"></i></span>Facebook
		</a>
		<a href="#" class="share__link">
			<span class="share__icon share__icon_vk"><i class="icon-socvk"></i></span>Vkontakte
		</a>
		<a href="#" class="share__link">
			<span class="share__icon share__icon_ok"><i class="icon-socok"></i></span>Odnoklassniki
		</a>
	</div>
</div>