<div class="number-combinations">
    <div class="number-combinations__text number-combinations__text_left">удалить<br> комбинацию</div>
    <div class="number-combinations__sign number-combinations__sign_minus">-</div>
    <div class="number-combinations__number">112</div>
    <div class="number-combinations__sign">+</div>
    <div class="number-combinations__text number-combinations__text_right">удалить<br> комбинацию</div>
</div>