.number-combinations{
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
	// elements
	&__{
		&text{
            color: $color__blue;
            font-size: 13px;
            @media(--tablet){
                display: none;
            }
            @media(--mobile-less){
                display: none;
            }
            &_left{
                margin-right: 12px;
                text-align: right;
                @media(--mobile-less){
                    margin-right: 5px;
                }
            }
            &_right{
                margin-left: 12px;
                text-align: left;
                @media(--mobile-less){
                    margin-left: 3px;
                }
            }
        }
        &sign{
            box-sizing: border-box;
            width: 48px;
            height: 48px;
            min-width: 48px;
            text-align: center;
            line-height: 54px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid rgba(0, 139, 210, 0.3);
            
            color: $color__blue;
            font-family: PTSans;
            font-size: 40px;
            cursor: pointer;
            &_minus{
                line-height: 50px;
            }
        }
        &number{
            padding-top: 15px;
            margin: 0 15px;
            color: $color__blue;
            font-family: PTSans;
            font-size: 70px;
            line-height: 80px;
            @media(--mobile-less){
                font-size: 40px;
                line-height: 70px;
            }
        }
	}
}