<div class="timer">
    <div class="timer__line timer__line_color_green">
        <div class="timer__line__active"></div>
    </div>
    <div class="timer__time">
        <div class="timer__time__text">Осталось: 60шт.</div>
    </div>
</div>