.timer{
    width: 100%;
    max-width: 100%;
    &__line{
        height: 7px;
        margin: 0 0 10px;
        background-color: rgba(255, 255, 255, 0.1);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
        border: 0.063em solid #eee;
        border-radius: 0.188em;
        &__active{
            height: 100%;
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
            border-radius: 0.188em;
            opacity: 1;
        }
        &_color_green &__active{
            width: 40%;
            background-color: #59a500;
        }
        &_color_yellow &__active{
            width: 70%;
            background-color: yellow;
        }
        &_color_red &__active{
            width: 90%;
            background-color: red;
        }
    }
    &__time{
        display: flex;
        align-items: center;
        margin: 0 5px;
        &__icon{
            margin-right: 10px;
            color: #a1a1a1;
        }
        &__text{
            color: #5e6254;
            font-size: 0.813em;
        }
    }
}