<div class="timer">
    <div class="timer__line timer__line_color_green">
        <div class="timer__line__active"></div>
    </div>
    <div class="timer__time">
        <div class="timer__time__icon"><i class="icon-clock"></i></div>
        <div class="timer__time__text">Розыгрыш через 49 мин.</div>
    </div>
</div>