<div block="faq">
    <div elem="nav">
        <a href="#faq__quest1" elem="quest">Как выбрать редакцию «1С-Битрикс: Управление сайтом»</a>
        <a href="#faq__quest2" elem="quest">Можно ли купить модули отдельно?</a>
        <a href="#faq__quest3" elem="quest">Затрудняюсь с выбором редакции, можно привести примеры?</a>
        <a href="#faq__quest4" elem="quest">Можно ли купить модули отдельно?</a>
    </div>
    <h2 id="faq__quest1">Как выбрать редакцию «1С-Битрикс: Управление сайтом», которая мне подойдет?</h2>
    <p>На нашем сайте вы можете ознакомиться с примерами работ, реализованных на каждой из редакций .Все работы в этом списке были осуществлены нашими партнерами. Сама компания «1С-Битрикс» разработкой сайтов и внедрением корпоративных порталов не занимается.</p>
    <h2 id="faq__quest2">Можно ли купить модули отдельно?</h2>
    <p>На нашем сайте вы можете ознакомиться с примерами работ, реализованных на каждой из редакций .Все работы в этом списке были осуществлены нашими партнерами. Сама компания «1С-Битрикс» разработкой сайтов и внедрением корпоративных порталов не занимается.</p>
    <h2 id="faq__quest3">Затрудняюсь с выбором редакции, можно привести примеры?</h2>
    <p>На нашем сайте вы можете ознакомиться с примерами работ, реализованных на каждой из редакций .Все работы в этом списке были осуществлены нашими партнерами. Сама компания «1С-Битрикс» разработкой сайтов и внедрением корпоративных порталов не занимается.</p>
    <h2 id="faq__quest4">Можно ли купить модули отдельно?</h2>
    <p>На нашем сайте вы можете ознакомиться с примерами работ, реализованных на каждой из редакций .Все работы в этом списке были осуществлены нашими партнерами. Сама компания «1С-Битрикс» разработкой сайтов и внедрением корпоративных порталов не занимается.</p>
</div>