.faq{
    margin: 0 0 30px;
	
	// elements
    h2{
        margin: 1em 0 .75em;
        font-family: PTSans;
        font-size: 25px;
        
        line-height: 1;
    }
	&__{
		&quest{
            display: block;
            
            box-sizing: border-box;
            min-height: 40px;
            padding: .5rem 0;
            border-bottom: 1px dotted color(black a(.3));
            
            text-decoration: none;
            color: $color__blue;
            
            display: flex;
            align-items: center;
            
            &:before{
                content: '\e808';
                
                margin: 0 10px 0 0;
                
                font-family: pro-icons;
            }
        }
	}
}