<div class="product-drawing">
    <div class="product-drawing__title">Тираж № 106, 27 декабря</div>
    <div class="product-drawing__date">Розыгрыш состоится в 19:35 </div>
    <div class="product-drawing__timer">
        <import src="modules/timer/timer.htm"></import>
    </div>
</div>