.product-drawing{
    @media(--s-tablet-less){
        margin-top: 30px;
    }
	// elements
	&__{
		&head{
            display: flex;
            justify-content: flex-end;
        }
        &title{
            font-family: PTSans;
            font-size: 1.563em;
            @media(--mobile-less){
                text-align: center;
            }
        }
        &date{
            margin-bottom: 20px;
            color: #5e6254;
            font-size: 0.813em;
            @media(--mobile-less){
                text-align: center;
            }
        }
        &timer{
            display: flex;
            justify-content: flex-start;
            width: 340px;
            max-width: 100%;
        }
	}
}