.social{
	padding: 40px 0;
	background-color: #fff;
	@media(--mobile-less){
        overflow: hidden;
		padding: 0;
        background-color: #f4fafb !important;
	}
	// elements
	&__{
		&item{
			&:last-child{
				@media(--tablet-less){
					display: none;
				}
			}
			&:nth-child(3){
				@media(--s-tablet-less){
					display: none;
				}
			}
		}
		&body{
			display: flex;
			justify-content: space-between;
			@media(--mobile-less){
				display: none;
			}
		}
        &links{
            display: none;
			@media(--mobile-less){
				display: block;
			}
        }
	}
}