<div class="g-section social">
	<div class="g-section__content social__content">
        <div class="social__body">
            <div class="social__item">
                <img src="http://dummyimage.com/200x250/00ddff" alt="">
            </div>
            <div class="social__item">
                <img src="http://dummyimage.com/200x290/00ddff" alt="">
            </div>
            <div class="social__item">
                <img src="http://dummyimage.com/200x270/00ddff" alt="">
            </div>
            <div class="social__item">
                <img src="http://dummyimage.com/200x300/00ddff" alt="">
            </div>
        </div>
        <div class="social__links">
            <import src="modules/social-links/social-links.htm"></import>
        </div>
	</div>
</div>