<div class="types">
	<div class="types__tabs">
		<div class="types__tab types__tab_first _active">Последние 3 месяца<span class="types__sandwich"><i class="icon-menu"></i></span></div>
		<div class="types__content">
			<div class="types__tab">Последние полгода</div>
			<div class="types__tab">2015</div>
			<div class="types__tab">2014</div>
			<div class="types__tab">2013</div>
		</div>
	</div>
</div>