.types{
	width: 100%;
	// elements
	&__{
		&tabs{
			position: relative;
			display: flex;
			align-items: center;
			@media(--mobile-less){
				display: block;
			}
		}
		&tabs._open &content{
			display: block;
		}
		&tab{
            white-space: nowrap;
			box-sizing: border-box;
			padding: 0 10px;
			line-height: 30px;
			font-size: 0.875em;
			border: 1px dashed #b2b1b1;
			border-radius: 0.438em;
			cursor: pointer;
            &:not(._active){
                &:hover{
                    color: #01aeff;
                }
            }
			@media(--s-tablet){
				font-size: 0.75em;
			}
			@media(--mobile-less){
				width: 100%;
				border: none;
				border-radius: 0;
				background-color: #fff;
				&:not(._active){
					cursor: pointer;
					&:hover{
						background-color: #ccc;
					}
				}
			}
			&:not(:last-child){
				margin-right: 10px;
				@media(--s-tablet){
					margin-right: 0;
				}
			}
			&:not(:first-child){
				@media(--s-tablet){
					margin-right: 0;
				}
			}
			&._active{
				border: none;
				background-color: #ffd200;
				background-image: linear-gradient(to top, #fdd11f 0%, rgba(255, 255, 255, 0) 100%);
			}
			&_first{
				@media(--mobile-less){
					display: flex;
					justify-content: space-between;
					width: 100%;
					border-radius: 0.438em;
					&._open{
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
		&sandwich{
			display: none;
			@media(--mobile-less){
				display: block;
			}
		}
		&content{
			display: flex;
			align-items: center;
			@media(--s-tablet){
				width: 100%;
                div{
                    margin-left: 10px;
                }
			}
			@media(--mobile-less){
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 22;
			}
		}
	}
}