<div class="types">
	<div class="types__tabs">
		<div class="types__tab types__tab_first _active">Популярные<span class="types__sandwich"><i class="icon-menu"></i></span></div>
		<div class="types__content">
			<div class="types__tab">СНГ</div>
			<div class="types__tab">Европа</div>
			<div class="types__tab">Америка</div>
			<div class="types__tab">Азия и Океания</div>
			<div class="types__tab">Групповые</div>
			<div class="types__tab">Все</div>
		</div>
	</div>
</div>