<div block="nav">
    <div class="nav__left">
        <a href="#" elem="home"><span class="icon-home"></span></a>
    </div>
    <div class="nav__content">
        <div class="nav__content__first">
            <a href="#" elem="link">Как играть</a>
            <span class="nav__sandwich"><i class="icon-menu"></i></span>
        </div>
        <div class="nav__content__body">
            <a href="#" elem="link">Как играть</a>
            <a href="#" elem="link">Правила</a>
            <a href="#" elem="link">Играть</a>
            <a href="#" elem="link">Груповая игра</a>
            <a href="#" elem="link _active">Результаты</a>
            <a href="#" elem="link">Проверить билеты</a>
            <a href="#" elem="link">Видео</a>
            <a href="#" elem="link">Статистика</a>
        </div>
    </div>
</div>