<div block="nav">
    <div class="nav__left">
        <a href="#" elem="home"><span class="icon-home"></span></a>
    </div>
    <div class="nav__content">
        <div class="nav__content__first">
            <a href="#" elem="link">Главная</a>
            <span class="nav__sandwich"><i class="icon-menu"></i></span>
        </div>
        <div class="nav__content__body">
            <a href="#" elem="link">Главная</a>
            <a href="#" elem="link"><span class="nav__link__icon"><i class="icon-left-open"></i></span>Вернуться на сайт игры</a>
            <a href="#" elem="link"><span class="nav__link__icon"><i class="icon-right-open"></i></span>Перейти в личный кабинет</a>
        </div>
    </div>
</div>