.nav{
    position: relative;
    z-index: 2;
	box-sizing: border-box;
    line-height: 30px;
    
    display: flex;
    @media(--mobile-less){
        width: 100%;
        line-height: 33px;
    }
	// elements
	&__{
        &content{
            display: flex;
            @media(--mobile-less){
                width: 100%;
                &:not(._active){
                    .nav__content__body{
                        display: none;
                    }
                }
            }
            &__first{
                display: none;
                position: relative;
                z-index: 2;
                @media(--mobile-less){
                    display: block;
                    width: 100%;
                    padding: 0 15px;
                    background-color: #ffd200;
                    border-radius: 0.438em;
                    color: #000;
                    text-decoration: none;
                    &._active{
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    a{
                        text-decoration: none !important;
                        font-size: 16px;
                        color: #000;
                        &:hover{
                            color: #000;
                        }
                    }
                }
            }
            &__body{
                display: flex;
                flex-wrap: wrap;
                @media(--mobile-less){
                    box-shadow: 0 0 10px #aaa;
                    overflow: hidden;
                    position: absolute;
                    top: 100%;
                    margin-top: -7px;
                    left: 0;
                    padding-top: 7px;
                    background-color: #fff;
                    color: #000;
                    border-bottom-right-radius: 7px;
                    border-bottom-left-radius: 7px;
                    a{
                        padding: 0 15px;
                        text-decoration: none;
                        &:not(:last-child){
                            border-bottom: 1px solid #e3e3e3;
                        }
                        &._active{
                            color: #000;
                            font-weight: 700;
                        }
                        &:hover{
                            color: #000;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        &left{
            @media(--mobile-less){
                display: none;
                width: 100%;
            }
        }
        &sandwich{
            display: none;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(0, -50%);
            @media(--mobile-less){
                display: block;
            }
        }
		&home{
            display: block;
            width: 50px;
            margin-right: 10px;
            
            text-align: center;
            
            border-radius: 7px;
            box-shadow: 0 0 0 1px white inset;
            
            &._active{
                box-shadow: none;
                background: $color__yellow;
                color: black;
            }
            &:hover{
                box-shadow: 0 0 0 1px $color__yellow inset;
                color: $color__yellow;
            }
        }
        &link{
            display: block;
            font-size: 15px;
                padding: 0 13px;
            &:last-child{
                padding-right: 0;
            }
            @media(--mobile-less){
                width: 100%;
                margin-right: 0 !important;
                padding: 0;
            }
            
            @media (min-width: 639px){
                &:hover{
                    color: $color__yellow;
                }
                &._active{
                    border-radius: 6px;
                    background-color: $color__yellow;
                    color: #000;
                    text-decoration: none;
                }
            }
            &__icon{
                margin-right: 5px;
                font-size: 13px;
            }
        }
	}
}