<div block="nav">
    <div class="nav__left">
        <a href="#" elem="home"><span class="icon-home"></span></a>
    </div>
    <div class="nav__content">
        <div class="nav__content__first">
            <a href="#" elem="link">Главная</a>
            <span class="nav__sandwich"><i class="icon-menu"></i></span>
        </div>
        <div class="nav__content__body">
            <a href="#" elem="link">Главная</a>
            <a href="#" elem="link">Игры</a>
            <a href="#" elem="link">Групповые игры</a>
            <a href="#" elem="link">Новости</a>
            <a href="#" elem="link _active">Акции</a>
            <a href="#" elem="link">Победители</a>
            <a href="#" elem="link">Вопросы/ответы</a>
            <a href="#" elem="link">Видеоархив</a>
            <a href="#" elem="link">Контакты</a>
        </div>
    </div>
</div>