<div class="contact-form">
    <div class="contact-form__head">
        <div class="contact-form__left">
            <div class="contact-form__title">Служба поддержки</div>
            <div class="contact-form__text">Эта форма связи предназначена для решения только общих вопросов.</div>
        </div>
        <div class="contact-form__right">
            <div class="contact-form__face">
                <img src=":70x80" alt="">
            </div>
        </div>
    </div>
    <form action="action.php" class="contact-form__form">
        <input type="text" class="contact-form__input form__input" placeholder="E-mail *">
        <input type="text" class="contact-form__input form__input" placeholder="Имя *">
        <textarea name="mess" id="" cols="30" rows="2" class="contact-form__input contact-form__input_textarea form__input form__input_textarea" placeholder="Сообщение *"></textarea>
        <button class="contact-form__button button button_color_blue">отправить</button>
    </form>
</div>