.contact-form{
    overflow: hidden;
    box-sizing: border-box;
	max-width: 405px;
    padding: 20px 30px 30px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    @media(--s-tablet-less){
        margin-top: 20px;
    }
	// elements
	&__{
        &head{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            &:after{
                position: absolute;
                left: 100%;
                top: 50%;
                margin-left: 10px;
                transform: translate(0, -50%);

                content: "";
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #74c8f0;
            }
        }
        &face{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
            width: 100px;
            height: 100px;
            margin-left: 20px;
            border-radius: 50%;
            background-color: #74c8f0;
        }
		&title{
            font-family: PTSans;
            font-size: 25px;
            line-height: 22px;
        }
        &text{
            margin-top: 5px;
            color: #5e6254;
            font-size: 15px;
            @media(--mobile-less){
                font-size: 13px;
            }
        }
        &input{
            margin-top: 15px;
            background-color: #fff !important;
            color: #a2a2a2;
            font-family: Arial;
            font-size: 13px;
            font-weight: 400;
            border: 1px solid #cecece;
            &_textarea{
                line-height: 42px;
            }
        }
        &button{
            width: 112px;
            margin-top: 15px;
            line-height: 32px;
            border-radius: 3px;
            color: #fff;
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 3px
        }
	}
}