.button{
	text-decoration: none;
	// elements
    &_color{
        &_blue{
            user-select: none;
			background-color: #599dd6;
			color: #fff;
			cursor: pointer;
            &:hover{
                background-color: #4fa8f2;
            }
            &._not-active{
                opacity: 0.3;
            }
        }
        &_green{
            user-select: none;
			background-color: #6aa21d;
			color: #fff;
            &:hover{
                background-color: #7ec122;
            }
            &._not-active{
                opacity: 0.3;
            }
        }
    }
    &_recall{
        display: block;
        text-align: center;
        width: 100%;
        padding-top: 3px;
        line-height: 30px;
        border-radius: 3px;
        color: #fff;
        font-family: PTSans;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
    }
}