.menu{
    position: relative;
	// elements
	
	&__{
		&sandwich{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			
			width: 120px;
			height: 60px;
			
			background-color: #364252;
			z-index: 33;
			cursor: pointer;
            user-select: none;
            &:hover{
                color: #fc0;
            }
		}
		&menu{
			margin-left: 15px;
			text-shadow: 0 0.063em 0 rgba(0, 0, 0, 0.75);
			font-size: 0.938em;
		}
		&icon{
			font-size: 1.2em;
		}
		&mobile{
			display: none;
			position: fixed;
			top: 60px;
			left: 0;
			z-index: 23;
			width: 100vw;
			&._active{
				@media(--s-tablet-less){
					display: block;
				}
			}
			&__list{
				display: none;
				&._open{
					display: block !important;
				}
			}
			&__item{
				display: block;
				line-height: 42px;
				background-color: #4a5c74;
				border: 0.063em solid rgba(60, 80, 108, 0.76);
				color: #fefffe;
				cursor: pointer;
				&__link{
					padding: 0 30px;
					font-size: 1.188em;
					text-decoration: none;
                    color: inherit;
				}
				&._open{
					color: #ffb400;
				}
				&:hover{
					color: #ffb400;
				}
				&._open .menu__mobile__list{
					display: block !important;
				}
			}
			&__link{
				display: block;
				padding: 0 30px;
				line-height: 36px !important;
				background-color: #364252;
				border: 0.063em solid rgba(60, 80, 108, 0.76);
				text-decoration: none;
                color: #feffff;
				
				font-size: 0.938em;
				line-height: 2.47;
				&._active{
					color: #000;
					background-color: #ffb400;
				}
				&:hover{
					color: #000;
					background-color: #ffb400;
				}
			}
		}
		&content{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 23;
			
			width: 1040px;
			height: auto;
            
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.11);
			
			&._active{
				display: flex;
			}
			@media(--tablet-less){
                position: fixed;
				width: 100vw;
			}
			@media(--s-tablet-less){
				display: none !important;
			}
		}
		&aside{
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 40%;
			padding: 0 0 30px 0;
			background-color: #414f62;
			@media(--tablet-less){
				width: 40%;
			}
		}
		&main{
            position: relative;
			box-sizing: border-box;
			padding: 25px 30px;
			background-color: #fff;
			width: 100%;
            &__item{
                display: none;
                &._active{
                    display: block;
                }
            }
			@media(--tablet-less){
				width: 60%;
			}
		}
		&close{
			display: flex;
			justify-content: space-between;
            align-items: center;
			position: absolute;
			top: 25;
			right: 40px;
			
			color: #679f1c;
			font-size: 0.875em;
			cursor: pointer;
            user-select: none;
            z-index: 2;
            &__icon{
                font-size: 18px;
                margin-left: 10px;
            }
		}
		&head{
			display: flex;
			align-items: center;
			height: 60px;
            margin-right: 27px;
		}
		&useful{
            margin-top: 25px;
			margin-right: 30px;
			margin-bottom: 15px;
			text-align: left;
			&__link{
				display: block;
				color: #fff;
				font-weight: 700;
				text-decoration: none;
                line-height: 30px;
			}
            &__icon{
                margin-right: 10px;
            }
		}
		&list{
			margin-right: 30px;
			&__item{
				min-width: 210px;
				box-sizing: border-box;
				&:not(:last-child){
					margin-bottom: 10px;
				}
			}
			&__item._active &__head{
				background-color: #4793a6;
				border-color: transparent;
				border-radius: 0.438em 0.438em 0 0;
			}
			&__item._active .menu__list__icon:before{
                    content: '\e80e';
			}
			&__item &__link{
                &._active{
                    background-color:  #547b8e;
                }
                &:hover{
                    background-color:  #547b8e;
                }
			}
			&__item_third &__link{
                &._active{
                    background-color: #668263;
                }
                &:hover{
                    background-color: #668263;
                }
			}
			&__item_first._active &__head{
                background-color: rgba(255, 204, 0, 0.6);
				border-radius: 0.438em;
			}
			&__item_second._active &__head{
                background-color: rgba(73, 178, 197, 0.6);
				border-radius: 0.438em;
			}
			&__item_third._active &__head{
                background-color: rgba(133, 201, 47, 0.6);
			}
			&__item_third._active &__body{
                background-color: #557452;
			}
			&__item._active &__body{
				display: block;
			}
			&__head{
				position: relative;
				display: flex;
				align-items: center;
				user-select: none;
				
				padding: 5px 20px;
				border: 0.063em dashed #b0b0b0;
				border-radius: 0.438em;
				color: #fff;
				cursor: pointer;
			}
			&__number{
				margin-right: 15px;
                margin-bottom: 0;
				color: #000;
			}
            &__title{
                font-weight: 700;
            }
			&__body{
                overflow: hidden;
				display: none;
				background-color: #457084;
				border-bottom-left-radius: 0.438em;
				border-bottom-right-radius: 0.438em;
			}
			&__link{
				display: block;
				padding-left: 63px;
				line-height: 33px;
				text-decoration: none;
				color: #fff;
			}
			&__icon{
				position: absolute;
				top: 50%;
				right: 15px;
                transform: translate(0, -50%);
				width: 12px;
				height: 12px;
				
                font-size: 0.8em;
				text-align: center;
				
				color: #fff;
				border-radius: 4px;
				cursor: pointer;
               &:before{
                    content: '\e80d';
                    font-family:pro-icons;
                    font-style:normal;
                    font-weight:400;
                    speak:none;
                    display:inline-block;
                    text-decoration:inherit;
                    text-align:center;
                    font-variant:normal;
                    text-transform:none;
                    line-height:1em;
                    -webkit-font-smoothing:antialiased;
                    -moz-osx-font-smoothing:grayscale
                }
			}
		}
	}
}