<div class="menu">
	<div class="menu__sandwich">
		<div class="menu__icon"><i class="icon-menu"></i></div>
		<div class="menu__menu">Меню</div>
	</div>
	<div class="menu__mobile">
		<div href="#" class="menu__mobile__item">
			<a href="#" class="menu__mobile__item__link">ProLotto</a>
		</div>
		<div href="#" class="menu__mobile__item">
			<a href="#" class="menu__mobile__item__link">Справочник участника</a>
		</div>
		<div href="#" class="menu__mobile__item">
			<a href="#" class="menu__mobile__item__link">Все по сто</a>
		</div>
		<div href="#" class="menu__mobile__item">
			<a href="#" class="menu__mobile__item__link">Бинго</a>
			<div class="menu__mobile__list">
				<a href="#" class="menu__mobile__link">Mega Million</a>
				<a href="#" class="menu__mobile__link">Powerball</a>
				<a href="#" class="menu__mobile__link">Euromillions</a>
				<a href="#" class="menu__mobile__link _active">Mega Million</a>
				<a href="#" class="menu__mobile__link">Powerball</a>
				<a href="#" class="menu__mobile__link">Euromillions</a>
			</div>
		</div>
		<div href="#" class="menu__mobile__item">
			<a href="#" class="menu__mobile__item__link">Лотереи</a>
			<div class="menu__mobile__list">
				<a href="#" class="menu__mobile__link">Mega Million</a>
				<a href="#" class="menu__mobile__link">Powerball</a>
				<a href="#" class="menu__mobile__link">Euromillions</a>
				<a href="#" class="menu__mobile__link _active">Mega Million</a>
				<a href="#" class="menu__mobile__link">Powerball</a>
				<a href="#" class="menu__mobile__link">Euromillions</a>
			</div>
		</div>
	</div>
	<div class="menu__content">
		<div class="menu__aside">
			<div class="menu__head">
                <import src="modules/logo/logo-inner.htm"></import>
			</div>
			<div class="menu__useful">
				<a href="#" class="menu__useful__link"><span class="menu__useful__icon"><i class="icon-help-circled"></i></span>ProLotto</a>
				<a href="#" class="menu__useful__link"><span class="menu__useful__icon"><i class="icon-help-circled"></i></span>Справочник участника</a>
			</div>
			<div class="menu__list">
				<div class="menu__list__item menu__list__item_first">
					<div class="menu__list__head">
						<div class="menu__list__number ball ball_size_small ball_color_green">1</div>
						<div class="menu__list__title">Все по 100</div>
					</div>
				</div>
				<div class="menu__list__item menu__list__item_second">
					<div class="menu__list__head">
						<div class="menu__list__number ball ball_size_small ball_color_yellow">2</div>
						<div class="menu__list__title">Бинго</div>
					</div>
				</div>
				<div class="menu__list__item menu__list__item_third">
					<div class="menu__list__head">
						<div class="menu__list__number ball ball_size_small ball_color_yellow">3</div>
						<div class="menu__list__title">Лотереи</div>
						<div class="menu__list__icon"><i></i></div>
					</div>
					<div class="menu__list__body">
						<a href="#" class="menu__list__link">Украина</a>
						<a href="#" class="menu__list__link _active">Россия</a>
						<a href="#" class="menu__list__link">Белоруссия</a>
						<a href="#" class="menu__list__link">Козахстан</a>
					</div>
				</div>
				<div class="menu__list__item">
					<div class="menu__list__head">
						<div class="menu__list__number ball ball_size_small ball_color_green">4</div>
						<div class="menu__list__title">Кено</div>
						<div class="menu__list__icon"><i></i></div>
					</div>
					<div class="menu__list__body">
						<a href="#" class="menu__list__link">Украина</a>
						<a href="#" class="menu__list__link">Россия</a>
						<a href="#" class="menu__list__link">Белоруссия</a>
						<a href="#" class="menu__list__link _active">Козахстан</a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu__main">
            <import src="modules/close/close.htm" class=" menu__close"></import>
            <div class="menu__main__item">
                <import src="modules/lottery/lottery-all100.htm"></import>
            </div>
            <div class="menu__main__item _active">
                <import src="modules/lottery/lottery.htm"></import>
            </div>
            <div class="menu__main__item">
                <import src="modules/lottery/lottery-all.htm"></import>
            </div>
            <div class="menu__main__item">
                <import src="modules/lottery/lottery-keno.htm"></import>
            </div>
            <div class="menu__main__item">
                <import src="modules/lottery/lottery-start.htm"></import>
            </div>
		</div>
	</div>
</div>