.more{
	text-align: center;
	// elements
	&__{
		&link{
			display: inline-block;
			padding: 0 15px;
			line-height: 33px;
			
			border-radius: 5px;
			
			font-family: PTSans;
			font-size: 0.938em;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}