<div class="product-carousel">
    <div class="product-carousel__item">
		<img src="http://dummyimage.com/320x440/00ddff" alt="">
    </div>
    <div class="product-carousel__item">
		<img src="http://dummyimage.com/320x440/00ddff" alt="">
    </div>
    <div class="product-carousel__item">
		<img src="http://dummyimage.com/320x440/00ddff" alt="">
    </div>
    <div class="product-carousel__item">
		<img src="http://dummyimage.com/320x440/00ddff" alt="">
    </div>
</div>