.product-carousel{
    position: relative;
	margin: 30px 0;
	// elements
	&__{
		&item{
            width: 320px;
            margin: 0 auto;
            text-align: center;
            img{
                max-width: 100%;
                height: auto;
            }
        }
        &arrow{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            &_left{
                left: 0;
            }
            &_right{
                right: 0;
                transform: rotate(180deg) translate(0, 60%);
            }
        }
	}
}