.stars{
    
    display: flex;
	
	// elements
	&__{
		&star{
            margin: 0 .125rem 0 0;
            
            font-family: pro-icons;
            font-size: 1rem;
                
            &:after{
                content: '\e81d';
            }
            
            &:not(._fill){
                color: #d8d8d8;
            }
            &._fill{
                color: #f4ad00;
            }
        }
	}
}