<div class="informers">
	<div class="informers__item">
		<div class="informers__title ">
			<div class="informers__icon"><i class="icon-chat"></i></div>
			<div class="informers__text">Online chat</div>
		</div>
		<div class="informers__body">
			<import module="deals"></import>
		</div>
	</div>
	<div class="informers__item">
		<div class="informers__title">
			<div class="informers__icon"><i class="icon-gift"></i></div>
			<div class="informers__text">спецпредложения</div>
		</div>
		<div class="informers__body">
			<import module="deals"></import>
		</div>
	</div>
	<div class="informers__item">
		<div class="informers__title">
			<div class="informers__icon"><i class="icon-gift"></i></div>
			<div class="informers__text">спецпредложения</div>
		</div>
		<div class="informers__body">
			<import module="deals"></import>
		</div>
	</div>
</div>