.informers{
	position: absolute;
	top: 170px;
	right: 0;
	z-index: 22;
	@media(--mobile-less){
        display: none;
	}
	// elements
	&__{
        &item{
            height: 190px;
            position: relative;
            margin-bottom: 5px;
            &._active{
                height: auto;
            }
        }
		&title{
			display: flex;
			justify-content: center;
			
			position: absolute;
			top: 0;
            right: 0;
            transform: translate(77px, 77px) rotate(-90deg);
			
			min-width: 190px;
			line-height: 36px;
			
			background-color: #669e1c;
			background-image: linear-gradient(to left, #fc0 0%, #ffdd1e 100%);
			border-radius: 0.438em 0.438em 0 0;
			box-shadow: inset 0.063em 0 0.188em rgba(255, 255, 255, 0.28);
			cursor: pointer;
		}
		&icon{
			margin-right: 5px;
            line-height: 34px;
		}
		&text{
			text-shadow: 0.044em 0.044em 0 rgba(255, 255, 255, 0.75);
			color: #000;
			font-family: PTSans;
			font-size: 0.938em;
			font-weight: 700;
			text-transform: uppercase;
		}
		&body{
            display: none;
            width: 0;
            opacity: 0;
		}
		&item._active &body{
            display: block;
			width: auto;
			opacity: 1;
		}
        &item._active &title{
            left: 0;
            right: auto;
            transform: translate(-113px, 77px) rotate(-90deg);
        }
	}
}