[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-edit_property:before {
	width: 128px;
	height: 128px;
	background-position: 0px 0px;
}
.i-loop:before {
	width: 128px;
	height: 128px;
	background-position: -133px 0px;
}
