<div class="contacts">
	<a href="#" class="contacts__link contacts__item"><span class="contacts__icon"><i class="icon-chat"></i></span>Онлайн чат </a>
	<a href="#" class="contacts__link contacts__item"><span class="contacts__icon"><i class="icon-mail"></i></span>Онлайн чат </a>
	<a href="442031500476" class="contacts__phone contacts__item"><span class="contacts__icon"><i class="icon-phone-squared"></i></span>+44 20 3150 0476</a>
	<a href="#" class="contacts__callback contacts__item button_color_blue">Бесплатный звонок</a>
</div>