.contacts{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	border: 0.063em solid #9bbec2;
	border-radius: 0.188em;
	margin-bottom: 30px;
	
	@media(--tablet-less){
		margin-bottom: 30px;
	}
	@media(--s-tablet-less){
		font-size: 0.85em;
	}
	@media(--mobile-less){
		padding: 0;
		flex-wrap: wrap;
        justify-content: flex-start;
		border: none;
	}
	
	// elements
	&__{
        &item{
			@media(--mobile-less){
				width: 50%;
			}
        }
		&link{
            display: flex;
            align-items: center;
			text-shadow: 0.031em 0.056em 0 rgba(255, 255, 255, 0.27);
			color: #0394d8;
			font-weight: 700;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
                color: #4fa8f2;
            }
			@media(--mobile-less){
				width: 50%;
				margin-bottom: 10px;
			}
		}
		&icon{
			margin-right: 10px;
            i{
                font-size: 25px;
            }
		}
		&phone{
            display: flex;
            align-items: center;
			text-shadow: 0.031em 0.056em 0 rgba(255, 255, 255, 0.27);
			font-family: Arial;
			font-size: 1.25em;
			font-weight: 700;
			color: #0394d8;
			text-decoration: none;
            &:hover{
                color: #4fa8f2;
            }
			@media(--mobile-less){
				font-size: 0.85em;
			}
		}
		&callback{
            box-sizing: border-box;
			display: block;
			padding: 5px 12px 3px;
			border-radius: 5px;
			font-family: PTSans;
			font-size: 0.688em;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			text-shadow: 0.044em 0.044em 0 rgba(96, 153, 27, 0.75);
			@media(--mobile-less){
                display: inline-block;
                width: auto !important;
			}
		}
	}
}