.options{
	
	// elements
	&__{
		&item{
            display: flex;
            align-items: center;
            margin: 12px 0;
        }
        &name{
            width: 130px;
            color: #5e6254;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &set{
            width: 44px;
            text-align: right;
        }
        &select{
            box-sizing: border-box;
            width: 100%;
            height: 23px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #cecece;
            border-radius: 3px;
            
            color: #5e6254;
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
        }
        &input{
            box-sizing: border-box;
            width: 23px;
            height: 23px;
            text-align: center;
            background-color: #fff;
            border: 1px solid #cecece;
            border-radius: 3px;
        }
        &info{
            margin-left: 12px;
            color: $color__blue;
        }
	}
}