<div class="options">
    <div class="options__item">
        <div class="options__name">Кол-во тиражей</div>
        <div class="options__set">
            <select name="number" id="number" class="options__select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="options__info"><i class="icon-help-circled"></i></div>
    </div>
    <div class="options__item">
        <div class="options__name">Megaplier</div>
        <div class="options__set">
            <input type="text" class="options__input">
        </div>
        <div class="options__info"><i class="icon-help-circled"></i></div>
    </div>
    <div class="options__item">
        <div class="options__name">Game option</div>
        <div class="options__set">
            <input type="text" class="options__input">
        </div>
        <div class="options__info"><i class="icon-help-circled"></i></div>
    </div>
</div>