<div class="comments">
    <div class="comments__comment">
        <div class="comments__left">
            <div class="comments__preview">
                <img src=":40x40" alt="">
            </div>
        </div>
        <div class="comments__right">
            <div class="comments__hat">
                <div class="comments__name comments__hat__item">Юрий Pro</div>
                <div class="comments__date comments__hat__item"><span class="comments__icon"><i class="icon-clock"></i></span>10 января 7:04</div>
                <div class="comments__like comments__hat__item"><span class="comments__icon"><i class="icon-thumbs-up-alt"></i></span>0 Мне нравиться</div>
                <div class="comments__recall comments__hat__item">Ответить</div>
                <div class="comments__more comments__hat__item">Еще<span class="comments__icon"><i class="icon-down-dir"></i></span></div>
            </div>
            <div class="comments__text">В заказах та же фигня после фильтрации, да и везде после фильтрации не работает. В заказах та же фигня после фильтрации, да и везде после фильтрации не работает.</div>
        </div>
    </div>
    <div class="comments__comment">
        <div class="comments__left">
            <div class="comments__preview">
                <img src=":40x40" alt="">
            </div>
        </div>
        <div class="comments__right">
            <textarea name="comment" id="comment" cols="30" rows="1" class="comments__textarea" placeholder="Добавить комментарий"></textarea>
        </div>
    </div>
</div>