.comments{
	// elements
	&__{
		&comment{
            display: flex;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-top: 3px;
            background-color: #f5f7f8;
            @media(--mobile-less){
                padding: 10px;
            }
            &:first-child{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 30px;
                    border-bottom: 10px solid #f5f7f8;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
            }
        }
        &left{
            margin-right: 15px;
            @media(--mobile-less){
                margin-right: 10px;
            }
        }
        &right{
            width: 100%;
            max-width: 100%;
            overflow: hidden;
        }
        &preview{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
        }
        &hat{
            display: flex;
            align-items: center;
            font-size: 13px;
            color: $color__gray1;
            &__item{
                &:not(:last-child){
                    margin-right: 15px;
                    @media(--mobile-less){
                        margin-right: 10px;
                    }
                }
            }
            @media(--mobile-less){
                flex-wrap: wrap;
                font-size: 12px;
                line-height: 22px;
            }
        }
        &text{
            max-width: 580px;
            font-size: 14px;
            line-height: 24px;
            @media(--mobile-less){
                font-size: 12px;
            }
        }
        &name{
            color: $color__blue;
            font-size: 16px;
            font-weight: 700;
        }
        &icon{
            margin: 0 5px;
            color: #a7abb0;
        }
        &textarea{
            box-sizing: border-box;
            padding-top: 10px;
            width: 100%;
            max-width: 100%;
            height: 30px;
            background: none;
            border: none;
            color: $color__gray1;
            outline: none;
            font: 400 16px arial;
        }
	}
}