.g-section{
    background-color: #f8fefa;
	&__content{
		width: 940px;
		margin: 0 auto;
		
		@media (--tablet){
			width: 720px;
		}
		@media (--s-tablet){
			width: 600px;
		}
		@media (--mobile){
			width: 420px;
		}
		@media (--s-mobile){
			width: 300px;
		}
	}
}