.more-line{
    padding: 30px 0;
    
    font-family: PTSans;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 1px #a4cad7 inset,
        0 2px white inset;
    color: #0394d8;
    
    display: flex;
    justify-content: center;
    
    // mods
    &:hover &__link{
        border-bottom-color: transparent;
    }
	
	// elements
	&__{
		&content{
            
            display: flex;
            
            &:before{
                content: '\e828';
                
                margin: 0 .5rem 0 0;
                
                font-family: pro-icons;
                
                text-decoration: none;
            }
        }
        &link{
            border-bottom: 1px dashed;
        }
	}
}