<div class="counter">
	<div class="counter__item">
		<div class="counter__number">1</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">2</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">3</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">4</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">5</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">6</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">7</div>
		<div class="counter__line"></div>
	</div>
	<div class="counter__item">
		<div class="counter__number">$</div>
		<div class="counter__line"></div>
	</div>
</div>