.counter{
	display: flex;
	justify-content: center;
	margin: 10px 0;
	// elements
	&__{
		&item{
			position: relative;
			min-width: 24px;
			height: 42px;
			margin: 0 1px;
			background-color: #59a500;
			border: 0.063em solid #488500;
			border-radius: 0.125em;
			box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.18);
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				border-top: 24px solid #77b52f;
				border-right: 24px solid transparent;
			}
		}
		&number{
			position: relative;
			text-shadow: 0 0.063em 0.063em rgba(0, 0, 0, 0.67), 0 0 0.313em rgba(0, 0, 0, 0);
			color: #301a13;
			font-family: PTSans;
			font-size: 2.125em;
			font-weight: 700;
			line-height: 46px;
			color: #fff;
			z-index: 1;
		}
		&line{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 2;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 1px;
				width: 1px;
				height: 6px;
				background-color: #000;
				background-image: linear-gradient(to top, #212121 0%, #5b5b5b 46%, #c4c4c4 100%);
				transform: translate(0, -50%);
			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: 1px;
				width: 1px;
				height: 6px;
				background-color: #000;
				background-image: linear-gradient(to top, #212121 0%, #5b5b5b 46%, #c4c4c4 100%);
				transform: translate(0, -50%);
			}
		}
	}
}