.reviews{
	
	// elements
	&__{
		&comment{
            padding: 1rem 0;
            border-bottom: 1px solid color(black a(.1));
            
            font-size: 13px;
            
            color: #5e6254;
            
            &._answer{
                padding: .5rem 0 .5rem 80px;
            }
            &._answered{
                border-bottom-style: dotted;
            }
        }
        &stars{
            margin: 0 0 .5rem;
        }
        &header{
            margin: 0 0 .5rem;
        }
        &name{
            margin: 0 .5em 0 0;
            
            font-size: 16px;
            font-weight: 700;
            
            color: black;
        }
        &footer{
            margin: .5rem 0 0;
            
            color: #a6a6a6;
        }
        &true,
        &false{
            border-bottom: 1px dotted;
        }
        &true{
            color: #0394d8;
        }
        &false{
            color: #ff8989;
        }
        &counter:not(:empty){
            &:before{
                content: '(';
            }
            &:after{
                content: ')';
            }
        }
        &separator{
            color: #b9d0d2;
            
            &:after{
                content: '|';
            }
        }
        &all{
            display: inline-block;
            
            margin: 30px 0 0;
            
            font-size: 14px;
            
            color: #0394d8;
        }
	}
}