<div block="reviews">
    <div elem="comment">
        <div elem="stars">
            <import src="modules/stars/stars.htm"></import>
        </div>
        <header elem="header">
            <span elem="name">Виктория</span>
            <time elem="date" datatime="2004-07-24T18:18:18+04:00">21 августа 2015</time>
        </header>
        <div elem="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut e  nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
        <footer elem="footer">
            <div elem="useful">
                <span elem="quest">Отзыв вам был полезен?</span>
                <span elem="true">Да</span>
                <span elem="counter">1</span>
                <span elem="separator"></span>
                <span elem="false">Нет</span>
                <span elem="counter"></span>
            </div>
        </footer>
    </div>
    <div elem="comment _answered">
        <div elem="stars">
            <import src="modules/stars/stars.htm"></import>
        </div>
        <header elem="header">
            <span elem="name">Виктория</span>
            <time elem="date" datatime="2004-07-24T18:18:18+04:00">21 августа 2015</time>
        </header>
        <div elem="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut e  nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
        <footer elem="footer">
            <div elem="useful">
                <span elem="quest">Отзыв вам был полезен?</span>
                <span elem="true">Да</span>
                <span elem="counter">1</span>
                <span elem="separator"></span>
                <span elem="false">Нет</span>
                <span elem="counter"></span>
            </div>
        </footer>
    </div>
    <div elem="comment _answer">
        <header elem="header">
            <span elem="name">Виктория</span>
            <time elem="date" datatime="2004-07-24T18:18:18+04:00">21 августа 2015</time>
        </header>
        <div elem="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut e  nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
    <a href="#" elem="all">Смотреть все отзывы</a>
</div>