.information{
	padding-top: 40px;
	
	@media(--tablet-less){
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	@media(--s-tablet-less){
		display: block !important;
	}
	
	// elements
	&__{
		&news{
			@media(--tablet-less){
				width: 43%;
			}
			@media(--s-tablet-less){
				width: 100% !important;
			}
		}
	}
}