<div class="items">
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
    <import src="modules/item/item.htm"></import>
</div>