.items{
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
    margin-left: -19px;
	@media(--tablet){
         margin-left: -17px;
	}
	@media(--s-tablet-less){
		justify-content: center;
	}
	// elements
    &__hidden{
        display: none;
        &._active{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}