.footer{
	padding: 30px 0;
	background-color: #dbecf3;
	&__top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		
		@media(--tablet-less){
			display: none;
		}
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		
		@media(--tablet-less){
			display: block;
			margin-top: 0;
		}
	}
	&__left{
		width: 100%;
	}
	&__right{
		min-width: 210px;
		width: 210px;
		margin-left: 30px;
		@media(--tablet-less){
			width: 100%;
			margin-left: 0;
		}
	}
	&__title{
		margin-bottom: 10px;
		color: #000;
		font-family: PTSans;
		font-size: 1.563em;
	}
	&__text{
		color: #506466;
		font-size: 0.813em;
	}
	&__between{
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}