<div class="g-section footer">
	<div class="g-section__content footer__content">
		<div class="footer__top">
			<div class="footer__left">
				<div class="footer__title">О нас</div>
				<div class="footer__body">
					<div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa. Donec at quam et mauris sagittis efficitur ut a diam. Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec diam arcu, euismod id purus scelerisque, ultrices blandit odio. Mauris nec fringilla massa. Donec at quam et mauris sagittis efficitur ut a diam. Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec diam arcu, euismod id purus scelerisque, ultrices blandit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa. Donec at quam et mauris sagittis efficitur ut a diam. Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec diam arcu, euismod id purus scelerisque, ultrices blandit odio. Mauris nec fringilla massa. Donec at quam et mauris sagittis efficitur ut a diam. Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec diam arcu, euismod id purus scelerisque, ultrices blandit odio.</div>
					</div>
			</div>
			<div class="footer__right">
				<div class="footer__title">Способ оплаты</div>
				<div class="footer__body">
					<import module="payment"></import>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__left footer__between">
				<import module="contacts"></import>
				<import module="security"></import>
			</div>
			<div class="footer__right">
				<import module="footer-menu"></import>
			</div>
		</div>
	</div>
</div>