<div class="g-section footer">
	<div class="g-section__content footer__content">
		<import src="modules/useful-inner/useful-inner.htm"></import>
		<div class="footer__bottom">
			<div class="footer__left footer__between">
		        <import src="modules/contacts/contacts.htm"></import>
		        <import src="modules/security/security.htm"></import>
			</div>
			<div class="footer__right">
		        <import src="modules/footer-menu/footer-menu.htm"></import>
			</div>
		</div>
	</div>
</div>