.g-page{
	position: relative;
	min-width: 320px;
    
    padding-top: 60px;
    
	background: #fff;
	overflow-x: hidden;
	font: 400 16px 'Arial';
    @media(--s-tablet-less){
        padding-top: 100px;
    }
}