@font-face{
	font-family: 'pro-icons';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/pro-icons.woff) format('woff');
}
@font-face{
	font-family: 'PTSans';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/PTSans Narrow.woff) format('woff');
}
@font-face{
	font-family: 'PTSans';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/PTSans Narrow-Bold.woff) format('woff');
}
@font-face{
	font-family: 'prolotto';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/prolotto.woff) format('woff');
}
@font-face{
    font-family: 'BrushScriptStd';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/brushscriptstd.woff) format('woff');
}
@font-face{
    font-family: 'DINPro';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/DINPro-Bold.woff) format('woff');
}