@font-face {
  font-family: 'pro-icons';
  src: url('../font/pro-icons.eot?74893463');
  src: url('../font/pro-icons.eot?74893463#iefix') format('embedded-opentype'),
       url('../font/pro-icons.woff?74893463') format('woff'),
       url('../font/pro-icons.ttf?74893463') format('truetype'),
       url('../font/pro-icons.svg?74893463#pro-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pro-icons';
    src: url('../font/pro-icons.svg?74893463#pro-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pro-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lock:before { content: '\e800'; } /* '' */
.icon-lock-open-alt:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-phone-squared:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-bell-alt:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-euro:before { content: '\e80a'; } /* '' */
.icon-dollar:before { content: '\e80b'; } /* '' */
.icon-rouble:before { content: '\e80c'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80d'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-gift:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-credit-card:before { content: '\e812'; } /* '' */
.icon-book-open:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-calendar:before { content: '\e815'; } /* '' */
.icon-socvk:before { content: '\e816'; } /* '' */
.icon-socgp:before { content: '\e817'; } /* '' */
.icon-socok:before { content: '\e818'; } /* '' */
.icon-socfb:before { content: '\e819'; } /* '' */
.icon-soctw:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-star:before { content: '\e81d'; } /* '' */
.icon-star-empty:before { content: '\e81e'; } /* '' */
.icon-star-half-alt:before { content: '\e81f'; } /* '' */
.icon-star-half:before { content: '\e820'; } /* '' */
.icon-circle-thin:before { content: '\e821'; } /* '' */
.icon-info-circled:before { content: '\e822'; } /* '' */
.icon-attention-circled:before { content: '\e823'; } /* '' */
.icon-credit-card-1:before { content: '\e824'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e825'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e826'; } /* '' */
.icon-comment:before { content: '\e827'; } /* '' */
.icon-plus-circled:before { content: '\e828'; } /* '' */
.icon-minus-circled:before { content: '\e829'; } /* '' */
.icon-cancel-1:before { content: '\e82a'; } /* '' */
.icon-diamond:before { content: '\e82b'; } /* '' */
.icon-check:before { content: '\e82c'; } /* '' */
.icon-money:before { content: '\e82d'; } /* '' */
.icon-pound:before { content: '\e82e'; } /* '' */
.icon-cancel:before { content: '\e82f'; } /* '' */
.icon-left-open:before { content: '\e830'; } /* '' */
.icon-right-open:before { content: '\e831'; } /* '' */
.icon-down-open:before { content: '\e832'; } /* '' */
.icon-up-open:before { content: '\e833'; } /* '' */
.icon-play-circled:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\e835'; } /* '' */
.icon-down-dir:before { content: '\e836'; } /* '' */
.icon-up-dir:before { content: '\e837'; } /* '' */
.icon-left-dir:before { content: '\e838'; } /* '' */
.icon-right-dir:before { content: '\e839'; } /* '' */