<div block="aside">
    <div elem="nav">
        <a href="#" elem="link">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="lin-textk">Оплата заказов</span>
        </a>
        <a href="#" elem="link">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="link-text">Приобретение билетов</span>
        </a>
        <a href="#" elem="link _active">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="link-text">Выплата выигрышей</span>
        </a>
        <a href="#" elem="link">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="link-text">Гарантии и ответственность</span>
        </a>
    </div>
</div>