$aside__link_h: 3rem;
.aside{
    padding: 1rem 0;
    
    font-family: PTSans;
    font-size: 13px;
    
    color: #506466;
    
    position: relative;
    @media(--s-tablet-less){
        width: 100%;
        margin-right: 0;
        
        &:before{
            content: '';
            position: absolute 0 * 0 0;
            width: 100vw;
            
            background: #f4f4f4;
        }
    }
    
    &:after{
        content: '';
        position: absolute 0 0 0 *;
        width: 100vw;
        
        background: #f4f4f4;
    }
	
	// elements
    > *{
        position: relative;
        z-index: 10;
    }
	&__{
        &content{
            position: relative;
            z-index: 20;
        }
        &header{
            padding: 1.25rem 0;
            margin: -1rem 0 0;
            
            font-size: 19px;
            
            text-shadow: 1px 1px 0 color(white a(.6));
            
            &:after{
                content: '';
                position: absolute 0 0 0 *;
                z-index: 0;
                width: 100vw;
                
                background: #dadcdf;
            }
            @media(--mobile-less){
                &:before{
                    content: '';
                    position: absolute 0 * 0 0;
                    z-index: 0;
                    width: 100vw;
                    
                    background: #dadcdf;
                }
            }
        }
        &set{
            margin: 1rem 0;
        }
        &value{
            font-size: 17px;
            
            &._colored{
                color: $color__blue;
            }
        }
        &numb{
            font-size: 35px;
            font-weight: 700;
        }
        &button{
            
            width: 135px;
            height: 50px;
            
            font-family: PTSans;
            font-size: 18px;
            font-weight: 700;
            
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 3px;
            background: $color__yellow;
            color: black;
            
            transition: .3s;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover{
                background: color($color__yellow b(+5%));
            }
        }
        &line{
            height: 1px;
            margin: 1rem 0;
            
            &:after{
                content: '';
                display: block;
                position: absolute * 0 * *;
                width: 100vw;
                
                border-bottom: 1px dashed color(black a(.3));
            }
        }
		&link{
            height: $aside__link_h;
            
            font-size: 19px;
            
            text-decoration: none;
            
            position: relative;
            display: flex;
            align-items: center;
            
            color: #506466;
            
            &._active{
                color: black;
                
                &:after{
                    content: '';
                    position: absolute 0 0 0 *;
                    width: 100vw;
                    z-index: 0;
                    
                    background: $color__yellow;
                }
                @media(--mobile-less){
                    &:before{
                        content: '';
                        position: absolute 0 * 0 0;
                        width: 100vw;
                        z-index: 0;
                        
                        background: $color__yellow;
                    }
                }
            }
            
            &-icon,
            &-text{
                z-index: 10;
            }
            &-icon{
                width: 20px;
                margin: 0 1.25rem 0 0;
            }
            &-text{
                position: relative;
            }
        }
	}
}