<div block="aside">
    <header elem="header">
        <div elem="content">
            Номер заказа: 2345672  
        </div>
    </header>
    <div elem="set">
        Сумма:
        <div elem="value"><span elem="numb">12000</span> руб</div>
    </div>
    <div elem="set">
        Сумма WebMony:
        <div elem="value" class="_colored"><span elem="numb">392</span> wmz</div>
    </div>
    <div elem="line"></div>
    <a href="#" elem="button">оплатить</a>
    <div elem="nav">
        <a href="#" elem="link">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="lin-textk">Оплата заказов</span>
        </a>
        <a href="#" elem="link">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="link-text">Приобретение билетов</span>
        </a>
        <a href="#" elem="link _active">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="link-text">Выплата выигрышей</span>
        </a>
        <a href="#" elem="link">
            <span elem="link-icon" class="icon-dollar"></span>
            <span elem="link-text">Гарантии и ответственность</span>
        </a>
    </div>
</div>