<div block="aside" class="aside_payments">
    <header elem="header">
        <div elem="content">
            Номер заказа: 2345672  
        </div>
    </header>
    <div elem="set">
        Сумма:
        <div elem="value"><span elem="numb">12000</span> руб</div>
    </div>
    <div elem="set">
        Сумма WebMony:
        <div elem="value" class="_colored"><span elem="numb">392</span> wmz</div>
    </div>
    <div elem="line"></div>
    <a href="#" elem="button">оплатить</a>
</div>