.select{
	position: relative;
}
.select__selected{
}
.select__list{
	position: absolute;
    top: 100%;
    left: 0;
	box-sizing: border-box;
	min-width: 100%;
	line-height: 20px;
	visibility: hidden;
	cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.select__list_pos_down{
	top: 100%;
	margin-top: 10px;
}
.select__list_pos_up{
	bottom: 100%;
	margin-bottom: 10px;
}
.select__list_pos_left{
	left: 0;
	margin-left: 10px;
}
.select__list_pos_right{
	right: 0;
	margin-right: 10px;
}
.select__item{
	padding: 0 10px;
    line-height: 33px;
	white-space: nowrap;
    &:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
}
.select__item.selected,
.select__item:hover{
	background: $color__blue;
}
.select.open .select__list{
	visibility: visible;
}