.logo{
	display: flex;
	align-items: center;
	padding: 20px 0;
    @media(--mobile-less){
        padding: 10px 0;
    }
	// elements
	&__{
		&icon{
            width: 104px;
            min-width: 104px;
			@media(--mobile-less){
                width: 52px;
                min-width: 52px;
                height: 60px
			}
			img{
				width: 104px;
                min-width: 104px;
				height: 112px;
                @media(--mobile-less){
                    width: 52px;
                    min-width: 52px;
                    height: 60px
                }
			}
		}
		&title{
			font-family: prolotto;
			font-size: 3.2em;
			letter-spacing: 1px;
			text-shadow: 1px 2px 0 rgba(0,0,0,.39);
			color: #fff;
			@media(--mobile-less){
                font-size: 1.75em;
			}
		}
		&subtitle{
			font-size: 0.875em;
			color: #fff;
			@media(--mobile-less){
                display: none;
			}
		}
	}
}
.logo-inner{
	display: flex;
	align-items: center;
	&__{
		&icon{
            width: 34px;
            min-width: 34px;
			img{
				width: 34px;
                min-width: 34px;
				height: 37px;
			}
		}
		&title{
			font-family: prolotto;
			font-size: 1.2em;
			text-shadow: 1px 2px 0 rgba(0,0,0,.39);
			color: #fff;
		}
	}
}