<div class="logo-inner">
	<div class="logo-inner__icon"><img src="img/logo.svg" alt="" width="34" height="37"></div>
	<div class="logo-inner__content">
		<h1 class="logo-inner__title">PROLOTTO</h1>
	</div>
</div>