<div class="logo">
	<div class="logo__icon"><img src="img/logo.svg" alt="" width="104" height="112"></div>
	<div class="logo__content">
		<h1 class="logo__title">PROLOTTO</h1>
		<h2 class="logo__subtitle">Ваш лучший посредник в мире лотерей  </h2>
	</div>
</div>