<div class="quickstart">
    <div class="quickstart__select">Выбранные номера:</div>
    <div class="quickstart__numbers">
        <div class="quickstart__number">231<span class="quickstart__number__cross"><i class="icon-cancel"></i></span></div>
        <div class="quickstart__number">231<span class="quickstart__number__cross"><i class="icon-cancel"></i></span></div>
        <div class="quickstart__number">231<span class="quickstart__number__cross"><i class="icon-cancel"></i></span></div>
    </div>
    <div class="quickstart__banner">
        <div class="quickstart__banner__text">Действует скидка: 10%</div>
        <div class="quickstart__banner__info"><i class="icon-help-circled"></i></div>
    </div>
    <div class="quickstart__information">
        <div class="quickstart__price">
            <div class="quickstart__price__title">Сумма: <span class="quickstart__price__title-old">150, 00 грн.</span></div>
            <div class="quickstart__price__number">120 000, 00 
                <span class="quickstart__price__currency">грн.</span>
                <span class="quickstart__price__info"><i class="icon-help-circled"></i></span>
            </div>
        </div>
        <div class="quickstart__price">
            <div class="quickstart__price__title quickstart__price__title_second">Сумма в бонусах:</div>
            <div class="quickstart__price__number quickstart__price__number_second">392 </div>
        </div>
    </div>
    <div class="quickstart__payment">
        <a href="#" class="quickstart__pay"><span class="quickstart__pay__icon"><img src="http://dummyimage.com/33x33/00ddff" alt=""></span>оплатить webmoney</a>
        <a href="" class="quickstart__promo-link">Ввести промокод</a>
    </div>
    <div class="quickstart__promocode">
        <input type="text" class="quickstart__promocode__input" placeholder="Введите номер Вашего промогода">
        <button class="quickstart__promocode__button">Ок</button>
    </div>
    <div class="quickstart__type-pay">
        <div class="quickstart__account">
            <div class="select quickstart__account__select">
                <div class="select__selected">оплатить с призового счета</div>
                <div class="select__list">
                    <div class="select__item">RUB</div>
                    <div class="select__item">Euro</div>
                    <div class="select__item">Dollar</div>
                </div>
                <input type="hidden" name="select-currancy" class="select__input" value="RUB">
            </div>
        </div>
        <div class="quickstart__type-pay__links">
            <a href="" class="quickstart__type-pay__link">Другая платежная система</a>
            <a href="" class="quickstart__type-pay__link">Подарить другу</a>
        </div>
    </div>
</div>