.quickstart{
    margin-top: 30px;
	background-color: #fff;
    border: 0.063em solid #3ba3dc;
    border-radius: 0.375em;
	// elements
	&__{
		&select{
            padding: 15px 20px 0 20px;
            font-size: 0.813em;
        }
        &numbers{
            display: flex;
            padding: 5px 20px;
        }
        &number{
            display: flex;
            align-items: center;
            font-family: PTSans;
            font-size: 1.563em;
            line-height: 32px;
            &:not(:last-child){
                margin-right: 20px;
            }
            &__cross{
                margin-left: 3px;
                margin-bottom: 2px;
                color: #c7c7c7;
                font-size: 0.65em;
                cursor: pointer;
            }
        }
        &banner{
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 25px;
            margin-left: -5px;
            margin-right: 20px;
            line-height: 44px;
            background-color: #599dd6;
            @media(--s-mobile){
                padding: 0 15px;
                margin-right: 0;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border-right: 16px solid #fff;
                border-top: 22px solid transparent;
                border-bottom: 22px solid transparent;
            }
            &__text{
                color: #fff;
                font-weight: 700;
            }
            &__info{
                margin-left: 10px;
                color: #fff;
            }
        }
        &information{
            display: flex;
            padding: 20px 20px 10px 20px;
            @media(--tablet-less){
                flex-direction: column;
            }
            @media(--s-mobile){
                padding: 20px 0 10px 0;
                flex-direction: column;
                align-items: center;
            }
        }
        &price{
            @media(--s-mobile){
                text-align: center;
                margin-right: 0;
            }
            &:not(:last-child){
                margin-right: 30px;
                @media(--s-mobile){
                    margin-right: 0;
                }
            }
            &:last-child{
                @media(--tablet-less){
                    display: flex;
                    align-items: center;
                }
            }
            &__title{
                font-size: 0.813em;
            }
            &__title-old{
                margin-left: 5px;
                color: #b5b5b5;
                font-size: 0.813em;
                text-decoration: line-through;
            }
            &__number{
                margin-top: 7px;
                color: #0394d8;
                font-family: PTSans;
                font-size: 2.188em;
                font-weight: 700;
                @media(--s-mobile){
                    font-size: 1.8em;
                }
                &_second{
                    @media(--tablet-less){
                        margin-top: 0;
                        font-size: 16px;
                        color: #000;
                    }
                }
            }
            &__currency{
                font-size: 0.5em;
            }
            &__info{
                font-size: 0.5em;
            }
        }
        &payment{
            display: flex;
            align-items: center;
            padding: 0 20px 20px;
            @media(--s-mobile){
                flex-direction: column;
            }
        }
        &pay{
            display: flex;
            align-items: center;
            height: 50px;
            padding: 0 15px;
            background-color: #ffd200;
            border-radius: 0.188em;
            text-shadow: 0.044em 0.044em 0 rgba(255, 255, 255, 0.75);
            color: #000;
            font-family: PTSans;
            font-size: 1.125em;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            @media(--s-mobile){
                margin-bottom: 20px;
            }
            &__icon{
                display: flex;
                align-items: center;
                margin-right: 10px;
            }
        }
        &promo-link{
            margin-left: 15px;
            color: #0394d8;
            font-size: 0.813em;
        }
        &promocode{
            display: flex;
            padding: 15px 20px;
            border-top: 0.063em dashed #c7c7c7;
            border-bottom: 0.063em dashed #c7c7c7;
            &__input{
                box-sizing: border-box;
                width: 250px;
                height: 32px;
                padding: 0 10px;
                background-color: #fff;
                border: 0.063em solid #cecece;
                border-radius: 0.188em;
                color: #5e6254;
                font-family: Arial;
                font-size: 0.813em;
                font-weight: 400;
            }
            &__button{
                box-sizing: border-box;
                height: 32px;
                padding: 0 5px;
                margin-left: 15px;
                background-color: #599dd6;
                border: none;
                border-radius: 0.188em;
                font-family: PTSans;
                color: #fff;
                font-size: 0.938em;
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    background-color: #4fa8f2;
                }
                &._not-active{
                    opacity: 0.3;
                }
            }
        }
        &type-pay{
            display: flex;
            align-items: center;
            padding: 15px 10px 15px 20px;
            @media(--tablet-less){
                padding: 15px 20px 15px 20px;
            }
            @media(--tablet){
                flex-direction: column;
            }
            @media(--mobile){
                flex-direction: column;
            }
            @media(--s-mobile){
                flex-direction: column;
            }
            &__links{
                width: 100%;
            }
            &__link{
                white-space: nowrap;
                display: block;
                color: #0394d8;
                font-size: 13px;
                line-height: 20px;
                text-decoration: underline;
            }
        }
        &account{
            box-sizing: border-box;
            margin-right: 15px;
            @media(--tablet-less){
                margin-right: 0;
            }
            @media(--tablet){
                width: 100%;
                margin-bottom: 10px;
            }
            @media(--mobile){
                width: 100%;
                margin-bottom: 10px;
            }
            @media(--s-mobile){
                width: 100%;
            }
            &__select{
                position: relative;
                box-sizing: border-box;
                line-height: 33px;
                padding: 3px 10px 0;
                background-color: #599dd6;
                border-radius: 0.188em;
                color: #fff;
                font-family: PTSans;
                font-size: 0.938em;
                font-weight: 700;
                text-transform: uppercase;
                width: 230px;
                cursor: pointer;
                @media(--tablet){
                    width: 100%;
                }
                @media(--mobile){
                    width: 100%;
                }
                @media(--s-mobile){
                    width: 100%;
                    font-size: 0.7em;
                    padding: 0 10px;
                    margin-bottom: 20px;
                }
                &:hover{
                    background-color: #4fa8f2;
                }
                &._not-active{
                    opacity: 0.3;
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 30px;
                    width: 1px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.30);
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: calc(30px / 3);
                    transform: translate(0, -50%);
                    border-top: 6px solid #fff;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                }
            }
        }
	}
}