<div block="popup" data-popup="reg">
	<div elem="overlay"></div>
	<div elem="content">
        <header elem="header">
            <div elem="title">Зарегистрируйся и играй!</div>
            <div elem="social">
                Войдите через:
                <div elem="social-links">
                    <a href="#" elem="social-link">
                        <img src=":44x44" alt="">
                    </a>
                    <a href="#" elem="social-link">
                        <img src=":44x44" alt="">
                    </a>
                    <a href="#" elem="social-link">
                        <img src=":44x44" alt="">
                    </a>
                    <a href="#" elem="social-link">
                        <img src=":44x44" alt="">
                    </a>
                </div>
                <a href="#" elem="social-more">еще</a>
            </div>
        </header>
        <div class="line"></div>
        <div elem="main">
            <import src="modules/form/form.reg.htm"></import>
        </div>
	</div>
</div>
<div block="popup" data-popup="combinations">
	<div elem="overlay"></div>
	<div elem="content" class="popup__content_combinations">
        <div  elem="close">
            <import src="modules/close/close.htm"></import>
        </div>
        <div elem="title">Все групповые комбинации</div>
        <div class="popup__combinations">
            <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
            <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
            <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
            <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
            <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
            <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
        </div>
	</div>
</div>