.lock{
	overflow: hidden;
}
.popup{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	overflow: auto;
	visibility: hidden;
    
    &._active{
        visibility: visible;
        animation: fadeIn .5s;
    }
    
    // elements
    &__{
        &overlay{
            position: absolute 0;
            z-index: -1;
        }
        &content{
            position: relative;
            z-index: 1;
            
            box-sizing: border-box;
            max-width: 455px;
            margin: 50px auto;
            
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 5px 10px color(black a(.2));
            &_combinations{
                max-width: 755px;
            }
        }
        &header,
        &main{
            padding: 0 30px;
        }
        &close{
            position: absolute;
            top: 20px;
            right: 20px;
        }
        &combinations{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 30px;
            .product-card__numbers__inline{
                &:nth-child(2n+1){
                    margin-right: 20px;
                }
            }
        }
        &header{
            padding-bottom: 30px;
        }
        &main{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &title{
            padding: 1.25rem 0;
            
            font-family: PTSans;
            font-size: 25px;
            
            text-align: center;
        }
        &social{
            color: #5e6254;
            font-weight: 700;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @media (--mobile-less) {
                flex-direction: column;
            }
            
            &-{
                &links{
                    display: flex;
                    
                    @media (--mobile-less) {
                        margin: .5rem 0 0;
                    }
                }
                &link{
                    margin: 0 4px;
                    
                    text-decoration: none;
                    
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
                &more{
                    font-size: 13px;
                    font-weight: 700;
                    
                    color: $color__blue_light;
                    
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}