.prompt{
    display: none;
    box-sizing: border-box;
	position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 340px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.22);
    z-index: 10;
    @media(--tablet-less){
    }
    &:after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
    }
	// elements
	&__{
		&close{
            display: flex;
            justify-content: flex-end;
            font-family: PTSans;
            font-weight: 700;
            line-height: 32px;
            
        }
        &numbers{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: -10px;
            &_more{
                padding-top: 5px;
                background-color: #e5f4fb;
                span{
                    &:not(._active){
                        cursor: pointer;
                        &:hover{
                            color: #0394d8 !important;
                            border-color: #0394d8 !important;
                        }
                    }
                    &._active{
                        background-color: #0394d8 !important;
                    border-color: #0394d8 !important;
                    }
                }
            }
            span{
                box-sizing: border-box;
                display: block;
                width: 26px;
                min-width: 26px;
                height: 26px;
                margin: 0 0 10px 10px;
                text-align: center;
                line-height: 24px;
                padding-top: 2px;
                font-size: 14px;
                font-weight: 400;
                color: #a5a5a5;
                border: 1px solid #a5a5a5;
                border-radius: 3px;
                    &:not(._active){
                        cursor: pointer;
                        &:hover{
                            color: #59a500;
                            border-color: #59a500;
                        }
                    }
                &._active{
                    color: #fff;
                    background-color: #59a500;
                    border-color: #59a500;
                }
            }
        }
        &title{
            text-align: center;
            font-family: PTSans;
            font-weight: 700;
            font-size: 25px;
            color: #000;
        }
        &link{
            font-size: 13px;
            color: $color__blue;
        }
        &bottom{
            text-align: center;
            padding: 10px 0 15px;
        }
        &text{
            font-family: PTSans;
            font-size: 13px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            color: $color__gray2;
            &__icon{
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                color: $color__yellow;
            }
        }
	}
}