<div class="prompt">
    <div class="prompt__close">
        <import src="modules/close/close.htm"></import>
    </div>
    <div class="prompt__body">
        <div class="prompt__numbers">
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
            <span>77</span>
        </div>
    </div>
</div>