<div class="prompt">
    <div class="prompt__close">
        <import src="modules/close/close.htm"></import>
    </div>
    <div class="prompt__body">
        <div class="prompt__title">Избранные комбинации</div>
        <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
        <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
        <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
        <div class="prompt__bottom">
            <a href="#" class="prompt__link">Случайная комбинация</a>
        </div>
    </div>
</div>