<div class="prompt">
    <div class="prompt__close">
        <import src="modules/close/close.htm"></import>
    </div>
    <div class="prompt__body">
        <div class="prompt__title">Избранные комбинации</div>
        <div class="prompt__text">У вас нет избранных/любимых комбинаций,<br> пожалуйста нажмите на <span class="prompt__text__icon"><i class="icon-star-empty"></i></span><br> для добавления в списке заказа</div>
        <div class="prompt__bottom">
            <a href="#" class="prompt__link">Случайная комбинация</a>
        </div>
    </div>
</div>