.useful-inner{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(--mobile-less){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
	// elements
	&__{
		&item{
            position: relative;
            overflow: hidden;
            width: 210px;
            height: 120px;
            margin-bottom: 30px;
            border-radius: 5px;
            @media(--tablet){
                width: 160px;
                height: 90px;
            }
            &_color{
                &_yellow{
                    background-color: #ffc000;
                }
                &_green{
                    background-color: #5aa601;
                }
                &_lightblue{
                    background-color:#01afef;
                }
                &_blue{
                    background-color:#0076ef;
                }
            }
        }
        &img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &item:hover &img{
            transform: translate(-50%, -50%) scale(1.1);
        }
	}
}