<div class="useful-inner">
    <a href="#" class="useful-inner__item useful-inner__item_color_yellow">
        <img src="img/useful1.png" alt="" class="useful-inner__img">
    </a>
    <a href="#" class="useful-inner__item useful-inner__item_color_green">
        <img src="img/useful2.png" alt="" class="useful-inner__img">
    </a>
    <a href="#" class="useful-inner__item useful-inner__item_color_lightblue">
        <img src="img/useful3.png" alt="" class="useful-inner__img">
    </a>
    <a href="#" class="useful-inner__item useful-inner__item_color_blue">
        <img src="img/useful4.png" alt="" class="useful-inner__img">
    </a>
</div>