.inner-info{
    margin-top: 20px;
	@media(--mobile-less){
        text-align: center;
    }
	// elements
	&__{
		&title{
            margin-bottom: 15px;
            font-family: PTSans;
            font-size: 25px;
        }
        &text{
            margin-bottom: 10px;
            font-size: 0.813em;
        }
	}
}