<div class="inner-info">
    <div class="inner-info__body">
        <div class="inner-info__title">Результаты лотереи</div>
        <p class="inner-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem alias facilis, ab porro non. Iusto voluptatum quod dolores quidem at veniam et expedita, quo odit qui iste eligendi omnis eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem alias facilis, ab porro non. Iusto voluptatum quod dolores quidem at veniam et expedita, quo odit qui iste eligendi omnis eaque.</p>
        <p class="inner-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem alias facilis, ab porro non. Iusto voluptatum quod dolores quidem at veniam et expedita, quo odit qui iste eligendi omnis eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem alias facilis, ab porro non. Iusto voluptatum quod dolores quidem at veniam et expedita, quo odit qui iste eligendi omnis eaque.</p>
    </div>
    <import module="social-links" class=" social-links_inline"></import>
</div>