.people{
    margin: 30px 0 0;
    
    display: flex;
    flex-wrap: wrap;
    
    @media (--mobile-less) {
        flex-direction: column;
        align-items: center;
    }
	
	// elements
	&__{
		&person{
            max-width: 120px;
            margin: 0 0 34px 0;
            
            text-align: center;
            
            &:not(:nth-child(5n)){
                margin-right: 85px;
            }
            
            @media (--tablet-less) {
                margin-right: 50px !important;
                
                &:not(:nth-child(5n)){
                    margin-right: inherit;
                }
            }
            
            @media (--mobile-less) {
                margin-right: 0 !important;
            }
        }
        &photo{
            margin: 0 0 1rem;
            
            border-radius: 50%;
        }
        &name{
            display: inline;
            
            text-decoration: none;
            border-bottom: 1px dashed;
            
            font-size: 13px;
            
            color: #0394d8;
        }
        &subtitle{
            margin: .5em 0;
            
            font-size: 13px;
            
            color: #5e6254;
        }
        &won{
            font-size: 1rem;
            font-weight: 700;
        }
	}
}