<div block="people">
    <div elem="person" repeat="10">
        <img src=":110x110" alt="" elem="photo">
        <a href="#" elem="name">Твердохлебова Виктория </a>
        <div elem="subtitle">SuperEnalotto</div>
        <div elem="won">934 596 руб.</div>
    </div>
</div>