.product{
	display: flex;
    justify-content: space-between;
    
    min-height: 260px;
    &:not(:last-child){
        border-bottom: 0.125em dashed #c7c7c7;
    }
    @media(--mobile-less){
        flex-direction: column;
        margin-top: 30px;
    }
	// elements
	&__{
		&left{
            display: flex;
            
            width: 100%;
            @media(--mobile-less){
                flex-direction: column;
            }
        }
        &right{
            position: relative;
            box-sizing: border-box;
            
            min-width: 280px;
            padding: 25px 45px 25px 50px;
            background-image: url('img/wave.png');
            @media(--tablet-less){
                min-width: 180px;
                padding: 20px;
            }
            &:before{
                content: "";
                position: absolute;
                top: 3px;
                bottom: 3px;
                left: 0;
                width: 5px;
                background-image: url('img/microball.png');
                @media(--mobile-less){
                    display: none;
                }
            }
        }
        &content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            min-height: 100%;
        }
        &preview{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 240px;
            border-right: 1px solid #e8f3f6;
            @media(--tablet-less){
                min-width: 140px;
                img{
                    max-width: 100px;
                    max-height: 120px;
                }
            }
        }
        &information{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            
            padding: 25px;
            background-image: url('img/wave.png');
        }
        &title{
            font-family: PTSans;
            font-size: 1.563em;
        }
        &list{
            margin-bottom: 10px;
            color: #555;
            font-size: 0.813em;
            &__item{
                position: relative;
                padding-left: 12px;
                &:not(:last-child){
                    margin-bottom: 5px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #aeb0a9;
                }
            }
        }
        &text{
            color: #5e6254;
            font-size: 0.813em;
            font-weight: 700;
        }
        &circulation{
            margin-bottom: 10px;
            color: #010101;
            font-weight: 700;
        }
        &date{
            margin-bottom: 10px;
            color: #5e6254;
            font-size: 0.813em;
        }
        &time{
            display: flex;
            align-items: center;
            color: #5e6254;
            font-size: 0.813em;
            &__icon{
                margin-right: 3px;
            }
        }
        &play{
            display: block;
            width: 100%;
            margin-top: 20px;
            line-height: 45px;
            padding-top: 5px;
            text-align: center;
            border-radius: 3px;
            text-transform: uppercase;
            font-family: PTSans;
            font-size: 22px;
            font-weight: 700;
            text-decoration: none;
        }
        &price{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            color: #5e6254;
            font-size: 0.813em;
        }
	}
}