<div class="product">
    <div class="product__left">
        <div class="product__preview">
			<img src="http://dummyimage.com/200x220/00ddff" alt="">
        </div>
        <div class="product__information">
            <div class="product__top">
                <div class="product__title">Электронная книга Amazon Kindle</div>
                <div class="product__list">
                    <div class="product__list__item">8-мегапиксельная камера</div>
                    <div class="product__list__item">диагональ 4,7″</div>
                    <div class="product__list__item">HD дисплей</div>
                </div>
                <div class="product__text">Завладейте смартфоном мечты!</div>
            </div>
            <div class="product__bottom">
                <import module="status"></import>
            </div>
        </div>
    </div>
    <div class="product__right">
        <div class="product__content">
            <div class="product__top">
                <div class="product__circulation">Тираж № 106,</div>
                <div class="product__date">27 декабря</div>
                <div class="product__time"><span class="product__time__icon"><i class="icon-clock"></i></span>19.15</div>
            </div>
            <div class="product__bottom">
                <a href="#" class="product__play button_color_green">Играть</a>
                <div class="product__price">
                    <div class="product__price__text">Цена билета:</div>
                    <div class="product__price__number">100 руб</div>
                </div>
            </div>
        </div>
    </div>
</div>