.lottery-table{
    margin-top: 25px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 7px;
	// elements
	&__{
		&title{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #5e6254;
            font-size: 13px;
            font-weight: 700;
            &__icon{
                margin-left: 7px;
                @media(--s-mobile){
                    display: none;
                }
            }
            @media(--s-mobile){
                font-size: 11px;
            }
        }
        &country{
            display: flex;
            align-items: center;
        }
        &icon{
            margin-right: 17px;
            @media(--s-tablet-less){
                margin-right: 7px;
            }
            @media(--s-mobile){
                display: none;
            }
        }
        &text{
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
            color: #5e6254;
            font-size: 13px;
            @media(--s-mobile){
                font-size: 9px;
            }
        }
        &jackpot{
            padding: 5px 7px;
            background-color: #fedc48;
            border-radius: 5px;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.67);
            color: #5e6254;
            font-size: 13px;
            font-weight: 700;
            span{
                font-size: 21px;
                @media(--s-mobile){
                    font-size: 11px;
                }
            }
            @media(--s-tablet-less){
                padding: 0 3px;
            }
            @media(--s-mobile){
                padding: 0 2px;
                font-size: 9px;
            }
        }
        &play{
            display: block;
            width: 28px;
            height: 28px;
            line-height: 28px;
            background-image: linear-gradient(to top, #6aa21d 0%, #6aa21d 100%);
            border-radius: 3px;
            
            color: #fff;
            @media(--s-mobile){
                width: 18px;
                height: 18px;
                line-height: 18px;
            }
        }
	}
    tr{
        height: 48px;
        &:not(:last-child){
            border-bottom: 1px solid #efefef;
        }
    }
    th{
        padding: 0 15px;
        vertical-align: middle;
        @media(--s-tablet-less){
            padding: 0 5px;
        }
        @media(--s-mobile){
            padding: 0 3px;
        }
    }
    td{
        padding: 0 15px;
        vertical-align: middle;
        &:not(:nth-child(5n+1)){
            text-align: center;
        }
        @media(--s-tablet-less){
            padding: 0 5px;
        }
        @media(--s-mobile){
            padding: 0 3px;
        }
    }
}