<table  class="lottery-table">
    <tr>
        <th>
            <div class="lottery-table__title">
                <div class="lottery-table__title__text">Лотереи</div>
                <div class="lottery-table__title__icon"><i class="icon-down-dir"></i></div>
            </div>
        </th>
        <th>
            <div class="lottery-table__title">
                <div class="lottery-table__title__text">Диапазон</div>
                <div class="lottery-table__title__icon"><i class="icon-down-dir"></i></div>
            </div>
        </th>
        <th>
            <div class="lottery-table__title">
                <div class="lottery-table__title__text">Джекпот</div>
                <div class="lottery-table__title__icon"><i class="icon-down-dir"></i></div>
            </div>
        </th>
        <th>
            <div class="lottery-table__title">
                <div class="lottery-table__title__text">Розыгрыш</div>
                <div class="lottery-table__title__icon"><i class="icon-down-dir"></i></div>
            </div>
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            <div class="lottery-table__country">
                <div class="lottery-table__icon"><img src=":21x21" alt=""></div>
                <div class="lottery-table__text">Австралия-Лото Понедельника</div>
            </div>
        </td>
        <td>
            <div class="lottery-table__text">6/90 + 2/15</div>
        </td>
        <td>
            <div class="lottery-table__jackpot">€<span>135</span> Млн.</div>
        </td>
        <td>
            <div class="lottery-table__text">3 дня 19:08:12</div>
        </td>
        <td>
            <a href="#" class="lottery-table__play"><i class="icon-right-dir"></i></a>
        </td>
    </tr>
    <tr>
        <td>
            <div class="lottery-table__country">
                <div class="lottery-table__icon"><img src=":21x21" alt=""></div>
                <div class="lottery-table__text">Австралия-Лото Понедельника</div>
            </div>
        </td>
        <td>
            <div class="lottery-table__text">6/90 + 2/15</div>
        </td>
        <td>
            <div class="lottery-table__jackpot">€<span>135</span> Млн.</div>
        </td>
        <td>
            <div class="lottery-table__text">3 дня 19:08:12</div>
        </td>
        <td>
            <a href="#" class="lottery-table__play"><i class="icon-right-dir"></i></a>
        </td>
    </tr>
</table>