.ticket{
    position: relative;
	
    padding: 20px 0;
	// elements
	&__{
        &close{
            position: absolute;
            top: 10px;
            right: 15px;
            
            color: #c7c7c7;
            font-size: 18px;
        }
		&title{
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
        &subtitle{
            padding: 3px 0;
            text-align: center;
            font-size: 13px;
            color: $color__gray1;
        }
        &bottom{
            &__content{
                overflow: hidden;
            }
        }
        &numbers{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 10%;
            margin-top: 10px;
            margin-left: -10px;
            @media(--tablet){
                padding: 0 1%;
            }
            @media(--s-tablet){
                padding: 0 20%;
            }
            @media(--s-mobile){
                padding: 0 1%;
                margin-left: -5px;
            }
            &_more{
                padding-top: 10px !important;
                background-color: #e5f4fb;
                span{
                    &:not(._active){
                        cursor: pointer;
                        &:hover{
                            color: #0394d8 !important;;
                            border-color: #0394d8 !important;;
                        }
                    }
                    &._active{
                        background-color: #0394d8 !important;
                    border-color: #0394d8 !important;
                    }
                }
            }
            span{
                box-sizing: border-box;
                display: block;
                width: 32px;
                min-width: 32px;
                height: 32px;
                margin: 0 0 10px 10px;
                text-align: center;
                line-height: 32px;
                font-size: 20px;
                color: #a5a5a5;
                border: 1px solid #a5a5a5;
                border-radius: 3px;
                @media(--s-mobile){
                    margin: 0 0 5px 5px;
                }
                    &:not(._active){
                        cursor: pointer;
                        &:hover{
                            color: #59a500;
                            border-color: #59a500;
                        }
                    }
                &._active{
                    color: #fff;
                    background-color: #59a500;
                    border-color: #59a500;
                }
            }
        }
        &links{
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        &link{
            display: block;
            position: relative;
            text-decoration: underline;
            margin: 0 10px;
            color: $color__blue;
            font-size: 13px;
            &:hover{
                text-decoration: none;
            }
        }
        &fill{
            &._active{
                .prompt{
                    display: block;
                }
            }
        }
	}
}