<div class="ticket">
    <div class="ticket__close"><i class="icon-cancel"></i></div>
    <div class="ticket__content">
        <div class="ticket__head">
            <div class="ticket__title">Билет №1</div>
            <div class="ticket__subtitle">Отмечено 2 номера</div>
        </div>
        <div class="ticket__body">
            <div class="ticket__numbers">
                <span>77</span>
                <span class="_active">77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
                <span>77</span>
            </div>
        </div>
        <div class="ticket__bottom">
            <div class="ticket__bottom__content">
                <div class="ticket__subtitle">Выберите +1</div>
                <div class="ticket__numbers ticket__numbers_more">
                    <span>77</span>
                    <span class="_active">77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                    <span>77</span>
                </div>
            </div>
            <div class="ticket__links">
                <div class="ticket__link ticket__fill">Заполнение <i class="icon-down-dir"></i><import src="modules/prompt/prompt3.htm"></import></div>
                <a href="#" class="ticket__link">Удалить</a>
                <a href="#" class="ticket__link">Очистить форму</a>
            </div>
        </div>
    </div>
</div>