<div class="g-section header">
	<div class="g-section__content header__content">
		<div class="header__menu">
			<import module="menu"></import>
            <div class="header__logo">
                <import src="modules/logo/logo-inner.htm"></import>
            </div>
		</div>
		<div class="header__right">
			<div class="header__search header__item">
				<div class="header__search__body">
					<input type="text" class="header__search__input">
				</div>
				<div class="header__search__icon"><i class="icon-search"></i></div>
			</div>
			
			<!---
			<a href="#" class="header__login header__item">
				<div class="header__login__text">Вход</div>
				<div class="header__login__icon"><i class="icon-lock"></i></div>
			</a>
			<div class="header__social header__item">
				<a href="#" class="header__social__link header__social__link_type_fb"><i class="icon-socfb"></i></a>
				<a href="#" class="header__social__link header__social__link_type_vk"><i class="icon-socvk"></i></a>
				<a href="#" class="header__social__link header__social__link_type_ok"><i class="icon-socok"></i></a>
				<a href="#" class="header__social__link header__social__link_type_mail">@</a>
				<div class="header__item__more header__item__more_social">
					<div class="header__item__text">Еще</div>
					<div class="header__item__body"></div>
				</div>
				<div class="header__item__body">
					<div class="header__currency__info">Призовой счет: $ 12.88</div>
					<div class="header__currency__info">Бонусный счет: 9000 баллов</div>
					<a href="#" class="header__currency__link">Накопительные скидки</a>
					<a href="#" class="header__currency__link">Пополнить счет</a>
				</div>
			</div>
			-->
			
			<div class="header__notification header__item">
				<a href="#" class="header__notification__item">
					<div class="header__notification__icon"><i class="icon-mail-alt"></i></div>
					<div class="header__notification__number">2</div>
				</a>
				<a href="#" class="header__notification__item">
					<div class="header__notification__icon"><i class="icon-bell-alt"></i></div>
					<div class="header__notification__number">235</div>
				</a>
			</div>
			<div class="header__user header__item header__item_more">
				<div class="header__user__icon"><i class="icon-user"></i></div>
				<div class="header__user__name">Vasya Pupkinttttttttt</div>
				<div class="header__item__more"><i class="icon-down-dir"></i></div>
				<div class="header__item__body">
					<a href="#" class="header__currency__link">Персональные данные</a>
					<a href="#" class="header__currency__link">Номер телефона</a>
					<a href="#" class="header__currency__link">Платежные данные</a>
					<a href="#" class="header__currency__link">Изменение пароля</a>
					<a href="#" class="header__currency__link">Удаление аккаунта</a>
					<a href="#" class="header__currency__link">Выйти</a>
				</div>
			</div>
			<div class="header__currency header__item header__item_more">
				<div class="header__currency__icon"><i class="icon-euro"></i></div>
				<div class="header__currency__value">45.567</div>
				<div class="header__item__more"><i class="icon-down-dir"></i></div>
				<div class="header__item__body">
					<div class="header__currency__info">Призовой счет: $ 12.88</div>
					<div class="header__currency__info">Бонусный счет: 9000 баллов</div>
					<a href="#" class="header__currency__link">Накопительные скидки</a>
					<a href="#" class="header__currency__link">Пополнить счет</a>
				</div>
			</div>
			<div class="header__language header__item header__item_more">
				<div class="header__language__item">
					<div class="header__language__icon"></div>
					<div class="header__language__text">Рус</div>
				</div>
				<div class="header__item__more"><i class="icon-down-dir"></i></div>
				<div class="header__item__body">
                    <a href="#" class="header__language__item header__language__list">
                        <div class="header__language__icon"></div>
                        <div class="header__language__text">Украинский</div>
                    </a>
                    <a href="#" class="header__language__item header__language__list">
                        <div class="header__language__icon"></div>
                        <div class="header__language__text">Русский</div>
                    </a>
                    <a href="#" class="header__language__item header__language__list">
                        <div class="header__language__icon"></div>
                        <div class="header__language__text">Португальский</div>
                    </a>
				</div>
			</div>
		</div>
	</div>
</div>