<div class="tickets">
    <div class="tickets__view">
        <import src="modules/ticket/ticket.htm"></import>
        <import src="modules/ticket/ticket.htm"></import>
    </div>
    <div class="tickets__more">
        <a href="#" class="tickets__more__link">Перейти к следующему билету</a>
        <div class="tickets__more__numbers">
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
            <div class="tickets__more__number"></div>
        </div>
    </div>
</div>