.tickets{
	// elements
	&__{
		&view{
            box-sizing: border-box;
            
            background-color: #fff;
            border: 0.063em solid #eee;
            border-radius: 0.313em;
            .ticket{
                &:first-child{
                    border-bottom: 2px dashed #c7c7c7;
                }
            }
        }
        &more{
            height: 70px;
            overflow: hidden;
            margin-top: 10px;
            background-color: #fff;
            border: 0.063em solid #eee;
            border-radius: 0.313em 0.313em 0 0;
            text-align: center;
            &__link{
                display: block;
                margin: 15px 0;
                font-weight: 700;
                text-decoration: none;
                color: $color__blue;
            }
            &__numbers{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0 10%;
                margin-left: -10px;
            }
            &__number{
                box-sizing: border-box;
                content: "";
                width: 32px;
                height: 32px;
                border: 0.063em solid #ccc;
                border-radius: 0.313em;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
	}
}