.security{
	display: flex;
	align-items: center;
	padding: 18px 25px;
    background-color: #85b5dd;
	border-radius: 0.188em;
	@media(--mobile-less){
		flex-wrap: wrap;
		padding: 0;
		background-color: transparent;
	}
	// elements
	&__{
		&text{
			margin-right: 25px;
			color: #fff;
			font-family: PTSans;
			font-size: 1.563em;
			@media(--mobile-less){
				color: #000;
			}
		}
		&icon{
            &:not(:last-child){
                margin-right: 25px;
            }
		}
	}
}