<div class="security">
	<div class="security__text">Безопасность сайта</div>
	<div class="security__icon">
		<img src="http://dummyimage.com/125x30/00ddff" alt="">
	</div>
	<div class="security__icon">
		<img src="http://dummyimage.com/25x24/00ddff" alt="">
	</div>
	<div class="security__icon">
		<img src="http://dummyimage.com/30x23/00ddff" alt="">
	</div>
	<div class="security__icon">
		<img src="http://dummyimage.com/32x33/00ddff" alt="">
	</div>
</div>