<div class="tooltip _active">
    <import src="modules/close/close.htm" class=" tooltip__close"></import>
    <div class="tooltip__title">Групповая игра</div>
    <div class="tooltip__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa. Donec at quam et mauris sagittis efficitur ut a diam. Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. 
Class aptent taciti sociosqu Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa. 
</div>
</div>