.tooltip{
    display: none;
	position: relative;
    padding: 25px 30px;
    border: 1px solid rgba(103, 159, 28, 0.45);
    
    background-color: #fff;
    border-radius: 5px;
    
    &._active{
        display: block;
    }
    // elements
	&__{
        &close{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        &title{
            font-family: PTSans;
            font-size: 25px;
        }
        &text{
            margin-top: 10px;
            font-size: 13px;
        }
    }
}