<div class="payment">
	<img src="http://dummyimage.com/25x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/30x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/27x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/23x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/25x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/30x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/27x25/00ddff" alt="" class="payment__item">
	<img src="http://dummyimage.com/23x25/00ddff" alt="" class="payment__item">
</div>