.articles{
	
	// elements
	&__{
		&article{
            padding: 30px 0;
            
            color: #5e6254;
            
            display: flex;
            align-items: flex-start;
            
            @media (--mobile-less) {
                flex-direction: column;
            }
            
            &:not(:last-child){
                border-bottom: 2px dashed color(black a(.2));
            }
        }
        &preview{
            margin: 0 30px 0 0;
            
            border-radius: 10px;
            
            @media (--mobile-less) {
                margin-bottom: 1rem;
            }
        }
        &title{
            display: block;
            margin: 0 0 1rem;
            
            font-size: 16px;
            font-weight: 700;
            
            text-decoration: none;
            color: inherit;
            
            &:hover{
                text-decoration: underline;
                color: #01aeff;
            }
        }
        &text{
            font-size: 15px;
        }
        &date{
            display: block;
            
            margin: 1rem 0 0;
            
            font-size: 13px;
            
            color: #b3b3b3;
        }
	}
}