<div block="articles">
    <div elem="article">
        <img src=":210x145" alt="" elem="preview">
        <div elem="info">
            <a href="#" elem="title">Хобби помогло супружеской паре выиграть миллион в EuroMillions</a>
            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Suspendisse pellentesque, nuncac fermentum eleifend.</div>
            <time elem="date">23 октября 2015</time>
        </div>
    </div>
    <div elem="article">
        <div elem="info">
            <a href="#" elem="title">Хобби помогло супружеской паре выиграть миллион в EuroMillions</a>
            <div elem="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Suspendisse pellentesque, nuncac fermentum eleifend.</div>
            <time elem="date">23 октября 2015</time>
        </div>
    </div>
</div>