.intro{
	position: relative;
    overflow: hidden;
	background-color: #2e91c8;
	@media(--tablet){
		background-position: -40% 20%;
	}
	@media(--s-tablet){
		background-position: -50% 20%;
	}
	@media(--mobile-less){
		background-position: 15% 20%;
        background-size: 50%;
	}
	// elements
	&__{
		&content{
			position: relative;
			display: flex;
			justify-content: center;
			@media(--tablet-less){
				justify-content: flex-start;
			}
			@media(--s-tablet-less){
				justify-content: center;
			}
			@media(--mobile-less){
				padding: 0;
			}
		}
        &logo{
            position: relative;
            z-index: 2;
            &:after{
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 610px;
                height: 454px;
                background-image: url('img/sun.png');
                background-position: center center;
                background-repeat: no-repeat;
                transform: translate(-37%, -14%);
            }
        }
		&right{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			@media(--s-tablet-less){
				display: none;
			}
		}
		&phone{
			font-size: 20px;
			&__text{
				text-align: right;
				color: #c7ecff;
			}
			&__number{
				text-align: right;
				color: #fff;
			}
		}
	}
}