<div class="intro">
	<div class="g-section__content intro__content">
		<div class="intro__center">
            <div class="intro__logo">
                <import module="logo"></import>
            </div>
		</div>
		<div class="intro__right">
			<div class="intro__phone">
				<div class="intro__phone__text">Наш телефон:</div>
				<div class="intro__phone__number">8 800 283 43 44</div>
			</div>
		</div>
	</div>
</div>