$color__white: #fff;
$color__black: #000;

$color__gray1: #5e6254;
$color__gray2: #a2a2a2;

$color__red: #d54531;
$color__blue: #0394d8;
$color__blue_light: #599dd6;
$color__yellow: #ffd200;
$color__green: #6aa21d;