/*media vars*/
@custom-media --tablet (max-width:1023px) and (min-width: 768px);
@custom-media --tablet-less (max-width:1023px);

@custom-media --s-tablet (max-width:767px) and (min-width: 640px);
@custom-media --s-tablet-less (max-width:767px);

@custom-media --mobile (max-width:639px) and (min-width: 480px);
@custom-media --mobile-less (max-width:639px);

@custom-media --s-mobile (max-width:479px);