.breadcrumbs{
	
    font-size: 13px;
    
    @media(--mobile-less){
        display: none;
    }
	// elements
	&__{
		&link{
            
            @media (--mobile-less) {
                display: block;
            }
            
            &:not(:last-child){
                &:after{
                    content: '/';
                    
                    display: inline-block;
                    margin: 0.25rem;
                    
                    text-decoration: none;
                    
                    @media (--mobile-less) {
                        content: none;
                    }
                }
            }
            &:hover{
                text-decoration: none;
            }
        }
	}
}