.gain{
    display: inline-block;
    position: relative;
    padding: 10px 20px 5px;
    margin: 20px 0;
    border: 0.063em solid #e1e1e1;
    border-radius: 0.188em;
    color: #0394d8;
	// elements
	&__{
        &type{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 10px;
            color: #b3b3b3;
            font-size: 0.813em;
            background-color: #fff;
        }
        &number{
            position: relative;
            color: #0394d8 !important;
            text-decoration: none;
            font-family: PTSans;
            font-size: 1.875em;
            font-weight: 700;
            line-height: 40px;
        }
        &currency{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            padding: 0 10px;
            color: #b3b3b3;
            font-size: 0.813em;
            background-color: #fff;
        }
	}
}