<div block="video">
    <div elem="frame">
        <img elem="content" src=":700x380" alt="">
    </div>
    <div elem="info">
        <div elem="title">Видеотрансляция последнего тиража <a href="#">№ 105</a> лотереи MegaMillion от 10.01.2015</div>
        <div elem="views">просмотрено:  12 000</div>
    </div>
</div>