.video{
    margin: 25px 0;
	
	// elements
	&__{
        &frame{
            position: relative;
            
            padding-bottom: 56.25%;
        }
        &content{
            position: absolute 0;
            
            size: 100%;
        }
        &info{
            margin: 20px 0 0;
            display: flex;
            
            
            @media (--mobile-less) {
                flex-direction: column-reverse;
            }
        }
        &title{
            
            font-family: PTSans;
            font-size: 25px;
            
            a{
                color: #0394d8;
                text-decoration: none;
            }
        }
        &views{
            margin: .5rem 0 0 40px;
            
            font-size: 13px;
            white-space: nowrap;
            
            color: #5e6254;
            
            @media (--mobile-less) {
                margin: 0 0 .5rem 0;
            }
        }
	}
}