.informer-combination{
    box-sizing: border-box;
    width: 49%;
    background-color: #f4f9fd;
    border-radius: 0.313em;
    padding-right: 7px;
    @media(--tablet-less){
        width: 100%;
    }
	// elements
	&__{
        &title{
            padding: 15px 0 10px 0;
            margin-left: 7%;
            text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
            font-family: PTSans;
            font-size: 1.563em;
        }
        &body{
            display: flex;
            max-height: 200px;
            flex-direction: column;
            padding: 0 25px;
            overflow: auto;
        }
		&combination{
            box-sizing: border-box;
            display: flex;
            height: 34px;
            min-height: 34px;
            margin-bottom: 7px;
            &__numbers{
                display: flex;
                align-items: center;
                padding: 0 5px 0 10px;
                background-color: #fff;
                border: 0.063em solid rgba(191, 191, 191, 0.35);
                border-radius: 0.438em 0 0 0.438em;
                &._empty{
                    border-radius: 0.438em;
                }
            }
            &__item{
                width: 24px;
                line-height: 24px;
                margin: 0 3px;
                text-align: center;
                text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
                color: #5e6254;
                font-family: Arial;
                font-size: 15px;
                &._active{
                    border-radius: 50%;
                    background-color: #72b125;
                    background-image: linear-gradient(to top, #fc0 0%, #fc0 47%, #ffdd1f 100%);
                    border: 1px solid #c87f0c;
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.18);
                }
                @media(--mobile-less){
                    width: 18px;
                    font-size: 0.813em;
                }
            }
            &__prize{
                box-sizing: border-box;
                display: flex;
                align-items: center;
                
                width: 78px;
                padding: 0 10px;
                background-color: #59a500;
                background-image: linear-gradient(to top, #fc0 0%, #ffdd1f 100%);
                border-radius: 0 0.438em 0.438em 0;
                box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.18);
                box-shadow: inset 0 -1px 0 #eca519;
                
                text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
                font-weight: 700;
                @media(--mobile-less){
                    width: 35px;
                    padding: 0 5px;
                    font-size: 0.813em;
                }
            }
            
        }
        &circle{
            width: 14px;
            height: 14px;
            margin: 0 auto;
            background-color: #e0e4e7;
            border-radius: 50%;
            @media(--mobile-less){
                width: 10px;
                height: 10px;
            }
        }
	}
}