<div class="informer-combination">
    <div class="informer-combination__title">Ваши комбинации на данный тираж:</div>
    <div class="informer-combination__body">
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item _active">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers _empty">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item _active">22</div>
                <div class="informer-combination__combination__item _active">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
        <div class="informer-combination__combination">
            <div class="informer-combination__combination__numbers">
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item">22</div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
                <div class="informer-combination__combination__item"><div class="informer-combination__circle"></div></div>
            </div>
            <div class="informer-combination__combination__prize">50$</div>
        </div>
    </div>
</div>