$items__scale: 1.1;
$items__bradius: 5px;
.item{
    box-sizing: border-box;
    width: 23%;
    margin-bottom: 30px;
    margin-left: 19px;
    
    text-align: center;
    
    
    position: relative;
    
	@media(--tablet){
         margin-left: 17px;
	}
    @media(--tablet-less){
        width: 31%;
    }
    @media(--s-tablet-less){
        width: 55%;
    }
    @media(--mobile-less){
        width: 100% !important;
    }
    
    // mods
    &:hover:after{
        box-shadow: 0 0.063em 0.5em rgba(0, 0, 0, 0.29);
            border: 1px solid #00aeef;
    }
    &:hover:after{
        transform: scale($items__scale, calc($items__scale - 0.045));
        @media(--tablet){
            transform: scale($items__scale, calc($items__scale - 0.04));
        }
        @media(--s-tablet){
            transform: scale($items__scale, calc($items__scale - 0.02));
        }
        @media(--mobile){
            transform: scale($items__scale, calc($items__scale - 0.01));
        }
        @media(--s-mobile){
            transform: scale($items__scale, calc($items__scale - 0.035));
        }
    }
    &:hover &__preview{
        transform: scale(1.09);
    }
    &:hover .gain__number{
        font-size: 2.188em;
        transition: 0.4s;
    }
    &:hover &__bottom:after{
        transition-duration: .4s;
        top: 14px;
        transform: scale(1.09, 1.34);
    }
    
    // elements
    &:after{
        content: '';
        position: absolute 0;
        z-index: 10;
        
        background: white;
        border-radius: 5px;
        
        transition-duration: .4s;
    }
    &__head,
    &__body,
    &__bottom{
        position: relative;
        z-index: 20;
    }
    
    &__preview{
        box-sizing: border-box;
        transform-origin: center bottom;
        transition-duration: .4s;
        
        border-radius: $items__bradius $items__bradius 0 0;
        overflow: hidden;
        
        img{
            width: 100%;
            height: auto;
        }
    }
    &__body{
        position: relative;
    }
    &__logo{
        position: relative;
        margin-top: -30px;
        z-index: 21;
    }
    &__title{
        color: #000;
        font-family: PTSans;
        font-size: 1.563em;
        border-top: 1px solid #f0f0f0;
        padding-top: 5px;
    }
    &__text{
        margin: 0 20px;
        color: #5e6254;
        font-size: 0.813em;
    }
    &__link{
        display: block;
        color: #0394d8;
        font-size: 0.813em;
        text-decoration: none;
    }
    &__play{
        display: inline-block;
        width: 126px;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 33px;
        font-size: 0.75em;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        border-radius: 5px;
    }
    &__bottom{
        transition-duration: .4s;
        
        padding: 15px 15px 40px 15px;
        
        border-radius: 0 0 $items__bradius $items__bradius;
        
        
        &:after{
            content: '';
            position: absolute 0;
            z-index: -1;
            
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            backface-visibility: hidden;
            
            background-color: #f7f7f7;
        }
    }
    &__content{
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
	&__head{
        box-sizing: border-box;
		width: 100%;
	}
}