<div class="item">
    <div class="item__content">
        <div class="item__head">
            <div class="item__preview">
                <img src="http://dummyimage.com/230x165/55ddcc" alt="">
            </div>
            <div class="item__logo"><img src="img/item-logo.png" alt=""></div>
        </div>
        <div class="item__body">
            <div class="item__title">Гослото 6 из 48</div>
            <div class="item__text">Pellentesque auctor purus vitae ipsum pulvinar aliquet.</div>
            <import src="modules/gain/gain.htm"></import>
            <div class="item__links">
                <a href="#" class="item__link">Проверить билет</a>
                <a href="#" class="item__link">Все результаты</a>
            </div>
            <a href="#" class="item__play button_color_green">Играть</a>
        </div>
        <div class="item__bottom">
            <import src="modules/timer/timer.htm"></import>
        </div>
    </div>
</div>