.topic{
	margin-top: 25px;
	// elements
	&__{
		&title{
            font-family: PTSans;
            font-size: 25px;
        }
        &text{
            margin-top: 5px;
            font-size: 13px;
        }
        &list{
            margin-top: 15px;
            padding: 0 20px;
            &_important{
                padding: 20px;
                background-color: rgba(89, 213, 147, 0.2);
                border: 1px solid #bae7cd;
                border-radius: 3px;
            }
            &__title{
                font-weight: 700;
            }
        }
        &table{
            width: 100%;
            @media(--mobile){
                font-size: 14px;
            }
            @media(--s-mobile){
                font-size: 9px;
            }
            th{
                height: 54px;
                vertical-align: middle;
                background-color: #ffd200;
                font-weight: 700;
            }
            td{
                height: 40px;
                text-align: center;
                vertical-align: middle;
            }
            tr{
                &:nth-child(2n){
                    background-color: #dcf1f2;
                }
            }
        }
        &block{
            margin-top: 30px;
            border-radius: 3px;
            overflow: hidden;
        }
	}
    img{
        float: right;
        margin-left: 20px;
        @media(--s-mobile){
            margin-bottom: 10px;
        }
    }
}