<div class="topic">
    <div class="topic__title">Основные правила лотереи</div>
    <div class="topic__body">
        <p class="topic__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa. Donec at quam et mauris sagittis efficitur ut a diam. Proin dapibus elementum sapien non tristique. Praesent eu luctus risus, quis placerat odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec diam arcu, euismod id purus scelerisque, ultrices blandit odio. Vestibulum iaculis, est vitae gravida placerat, est tortor elementum justo, vitae placerat turpis purus nec purus. Pellentesque auctor purus vitae ipsum pulvinar aliquet. Maecenas consectetur nisi sit amet sollicitudin vestibulum.</p>
        <div class="topic__list">
            <div class="topic__list__title">Mauris nec fringilla massa:</div>
            <import src="modules/list/list.htm"></import>
        </div>
    </div>
</div>