.informer-main{
    width: 49%;
    overflow: hidden;
    padding-top: 20px;
	background-color: #fff;
    border-radius: 0.313em;
    &_subsite{
        width: 100%;
        margin-top: 20px;
    }
    @media(--tablet-less){
        width: 100%;
        margin-bottom: 30px;
    }
	// elements
	&__{
        &select{
            display: block;
            box-sizing: border-box;
            width: 100%;
            max-width: 360px;
            height: 32px;
            line-height: 32px;
            padding: 0 10px;
            margin: 20px auto;
            background-color: #fff;
            border: 1px solid #cecece;
            border-radius: 3px;
            @media(--s-mobile){
                max-width: 260px;
            }
        }
		&balls{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px 45px;
            margin-left: -5px;
            @media(--tablet){
                justify-content: center;
            }
            @media(--s-tablet){
                justify-content: center;
            }
            @media(--mobile){
                padding: 10px 15px;
            }
            @media(--s-mobile){
                padding: 10px 10px;
            }
        }
        &title{
            padding: 0 20px;
            border-top: 2px dashed #c7c7c7;
            border-bottom: 2px dashed #c7c7c7;
            text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
            font-family: PTSans;
            font-size: 1.563em;
            line-height: 42px;
        }
        &title2{
            text-align: center;
            text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
            font-family: PTSans;
            font-size: 1.563em;
        }
        &text{
            width: 80%;
            margin: 0 auto;
            color: #5e6254;
            font-size: 0.813em;
            line-height: 25px;
        }
        &row{
            display: flex;
            @media(--mobile-less){
                flex-direction: column;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }
        &col{
            &_first{
                width: 80%;
                @media(--mobile-less){
                    width: 100%;
                }
            }
            &_second{
                width: 20%;
                @media(--mobile-less){
                    width: 100%;
                }
            }
        }
        &bottom{
            padding: 15px 0;
            margin-top: 30px;
            text-align: center;
            background-color: #f7f7f7;
        }
        &link{
            color: #0394d8;
            font-size: 0.813em;
            &:not(:last-child){
                margin-right: 20px;
                @media(--mobile-less){
                    margin-bottom: 10px;
                }
            }
            @media(--mobile-less){
                display: block;
                margin-right: 0 !important;
            }
        }
	}
}