<div class="informer-main">
    <div class="select informer-main__select">
        <div class="select__selected">1</div>
        <div class="select__list">
            <div class="select__item">1</div>
            <div class="select__item">2</div>
            <div class="select__item">3</div>
        </div>
        <input type="hidden" name="state" id="state" class="select__input" value="1">
    </div>
    <div class="informer-main__balls">
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_green">2</div>
        <div class="ball ball_size_big ball_color_white">3</div>
        <div class="ball ball_size_big ball_color_white">4</div>
        <div class="ball ball_size_big ball_color_green">5</div>
        <div class="ball ball_size_big ball_color_green">6</div>
        <div class="ball ball_size_big ball_color_green">7</div>
        <div class="ball ball_size_big ball_color_green">8</div>
        <div class="ball ball_size_big ball_color_green">9</div>
        <div class="ball ball_size_big ball_color_green">10</div>
        <div class="ball ball_size_big ball_color_green">11</div>
    </div>
    <div class="informer-main__title2">Джокер</div>
    <div class="informer-main__body">
        <div class="informer-main__balls">
            <div class="ball ball_size_big ball_color_green">1</div>
            <div class="ball ball_size_big ball_color_green">2</div>
            <div class="ball ball_size_big ball_color_white">3</div>
            <div class="ball ball_size_big ball_color_green">4</div>
            <div class="ball ball_size_big ball_color_white">5</div>
            <div class="ball ball_size_big ball_color_green">6</div>
            <div class="ball ball_size_big ball_color_green">7</div>
            <div class="ball ball_size_big ball_color_green">8</div>
            <div class="ball ball_size_big ball_color_green">9</div>
            <div class="ball ball_size_big ball_color_green">10</div>
            <div class="ball ball_size_big ball_color_green">11</div>
        </div>
        <div class="informer-main__text">
            <div class="informer-main__row">
                <div class="informer-main__col informer-main__col_first">Общее число победителей:</div>
                <div class="informer-main__col informer-main__col_second">347 249</div>
            </div>
            <div class="informer-main__row">
                <div class="informer-main__col informer-main__col_first">Сумма, выплаченная по итогам розыгрыша:</div>
                <div class="informer-main__col informer-main__col_second">$ 1 315 216</div>
            </div>
        </div>
    </div>
    <div class="informer-main__bottom">
        <a href="#" class="informer-main__link">Проверить билет</a>
        <a href="#" class="informer-main__link">Архив платежей</a>
        <a href="#" class="informer-main__link">Видеотрансляция</a>
    </div>
</div>