<div class="informer-main">
    <div class="informer-main__title">Калифорния</div>
    <div class="informer-main__body">
        <div class="informer-main__balls">
            <div class="ball ball_size_big ball_color_green">1</div>
            <div class="ball ball_size_big ball_color_green">2</div>
            <div class="ball ball_size_big ball_color_green">3</div>
            <div class="ball ball_size_big ball_color_green">4</div>
            <div class="ball ball_size_big ball_color_green">5</div>
            <div class="ball ball_size_big ball_color_green">6</div>
            <div class="ball ball_size_big ball_color_green">7</div>
            <div class="ball ball_size_big ball_color_green">8</div>
            <div class="ball ball_size_big ball_color_green">9</div>
            <div class="ball ball_size_big ball_color_green">10</div>
            <div class="ball ball_size_big ball_color_green">11</div>
            <div class="ball ball_size_big ball_color_green">12</div>
            <div class="ball ball_size_big ball_color_green">13</div>
            <div class="ball ball_size_big ball_color_green">14</div>
            <div class="ball ball_size_big ball_color_green">15</div>
            <div class="ball ball_size_big ball_color_green">16</div>
            <div class="ball ball_size_big ball_color_green">17</div>
            <div class="ball ball_size_big ball_color_green">18</div>
            <div class="ball ball_size_big ball_color_green">19</div>
            <div class="ball ball_size_big ball_color_green">20</div>
        </div>
        <div class="informer-main__text">
            <div class="informer-main__row">
                <div class="informer-main__col informer-main__col_first">Общее число победителей:</div>
                <div class="informer-main__col informer-main__col_second">347 249</div>
            </div>
            <div class="informer-main__row">
                <div class="informer-main__col informer-main__col_first">Сумма, выплаченная по итогам розыгрыша:</div>
                <div class="informer-main__col informer-main__col_second">$ 1 315 216</div>
            </div>
        </div>
    </div>
    <div class="informer-main__bottom">
        <a href="#" class="informer-main__link">Проверить билет</a>
        <a href="#" class="informer-main__link">Архив платежей</a>
        <a href="#" class="informer-main__link">Видеотрансляция</a>
    </div>
</div>