.combination{
    margin: 35px 0;
	// elements
	&__{
		&my{
            position: relative;
            padding: 30px 0;
            border-radius: 10px;
            border: 2px solid #d5d5d5;
            @media(--s-mobile){
                padding-top: 20px;
            }
            &__title{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                
                white-space: nowrap;
                padding: 0 15px;
                background-color: #fff;
                @media(--s-mobile){
                    padding: 0 10px;
                    font-size: 0.813em;
                }
            }
            &__bottom{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                
                padding: 0 15px;
                background-color: #fff;
            }
            &__button{
                width: 110px;
                line-height: 34px;
                text-align: center;
                border-radius: 3px;
            }
            &__inputs{
                display: flex;
                justify-content: center;
            }
            &__input{
                box-sizing: border-box;
                width: 50px;
                height: 32px;
                text-align: center;
                border: 2px solid #ffd512;
                border-radius: 3px;
                text-decoration: underline;
                color: #5e6254;
                @media(--s-mobile){
                    width: 36px;
                    height: 26px;
                    font-size: 0.813em;
                }
                &:not(:last-child){
                    margin-right: 15px;
                    @media(--s-mobile){
                        margin-right: 10px;
                    }
                }
            }
        }
        &info{
            width: 100%;
            line-height: 40px;
            border-radius: 3px;
            text-align: center;
            margin-top: 35px;
            background-color: #59a500;
            color: #fff;
            @media(--s-mobile){
                font-size: 0.7em;
            }
        }
        &select{
            margin: 20px 0 10px 0;
            &__arrow{
                text-align: center;
                line-height: 26px;
                font-size: 1.5em;
                border: 2px solid #d5d5d5;
                border-radius: 3px;
                color: #ffd818;
                cursor: pointer;
            }
            &__body{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: -5px;
                margin-bottom: 5px;
                @media(--tablet-less){
                    max-width: 240px;
                    margin: 0 auto 5px;
                }
            }
            &__item{
                width: 34px;
                line-height: 26px;
                text-align: center;
                margin: 5px 2px 0 2px;
                border: 2px solid #d5d5d5;
                border-radius: 3px;
                font-size: 0.813em;
                color: #5e6254;
                &._active{
                    border-color: #59a500;
                    background-color: #59a500;
                    color: #fff;
                }
                &._not-active{
                    color: #d1d7da;
                    border-color: #cde9f1;
                }
            }
        }
        &close{
            text-align: right;
            font-size: 0.813em;
            color: #0394d8;
            text-decoration: underline;
            cursor: pointer;
        }
	}
}