<div class="combination">
    <div class="combination__my">
        <div class="combination__my__body">
            <div class="combination__my__title">Введите свою комбинацию</div>
            <div class="combination__my__inputs">
                <input type="text" class="combination__my__input" placeholder="1">
                <input type="text" class="combination__my__input" placeholder="1">
                <input type="text" class="combination__my__input" placeholder="1">
                <input type="text" class="combination__my__input" placeholder="1">
            </div>
            <div class="combination__my__bottom">
                <div class="combination__my__button button_color_blue _not-active">Добавить</div>
            </div>
        </div>
    </div>
    <div class="combination__info">К сожалению, комбинация занята</div>
    <div class="combination__select">
        <div class="combination__select__arrow"><i class="icon-up-open"></i></div>
        <div class="combination__select__body">
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item _active">1155</div>
            <div class="combination__select__item">1155</div>
            <div class="combination__select__item _not-active">1155</div>
            <div class="combination__select__item _active">1155</div>
        </div>
        <div class="combination__select__arrow"><i class="icon-down-open"></i></div>
    </div>
    <div class="combination__close">Свернуть</div>
</div>