<div block="hat" class="_simple g-section">
    <div elem="content" class="g-section__content">
        <header elem="header">
            <div elem="breadcrumbs">
                <import src="modules/breadcrumbs/breadcrumbs.htm"></import>
            </div>
            <div elem="phone">
                Наш телефон: 
                <a href="tel:88002834344" elem="phone-numb">8 800 283 43 44</a>
            </div>
        </header>
        <h1 elem="title">
            Новости лотерей
            <elem elem="star _active"></elem>
        </h1>
        <footer elem="footer">
            <nav elem="nav">
                <import src="modules/nav/nav--payments.htm"></import>
            </nav>
        </footer>
    </div>
</div>