.hat{
    box-sizing: border-box;
    min-height: 180px;
    
    color: white;
    
    display: flex;
    align-items: stretch;
    
    // mods
    &._simple{
        background-color: #579dca;
        background-image: url('img/pattern-hat3.png');
    }
    &._inner{
        background-color: #599dd6;
        background-image: url('img/pattern-hat2.png');
    }
    &._bright{
        background: #31a74f;
        background-image: url('img/pattern-hat1.png');
        background-size: 36px 58px;
    }
	
	// elements
    a{
        color: inherit;
    }
	&__{
		&content{
            padding: 20px 0 10px;
            
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &header{
            display: flex;
            justify-content: space-between;
            
            @media (--mobile-less) {
                flex-direction: column;
            }
        }
        &title{
            position: relative;
            z-index: 2;
            font-family: PTSans;
            font-size: 36px;
            font-weight: 700;
            @media(--mobile-less){
                font-size: 30px;
            }
        }
        &star{
            margin-left: 8px;
            
            font-family: pro-icons;
            font-size: .75em;
            
            &:after{
                content: '\e81e';
            }
            &._active:after{
                content: '\e81d';
                
                color: $color__yellow;
            }
        }
        &phone{
            font-size: 19px;
            color: #c7ecff;
            
            a&-numb{
                text-decoration: none;
                color: white;
            
                @media (--s-mobile) {
                    display: block;
                }
            }
        }
        &sale{
            position: absolute 0 0 * *;
            transform: translateY(-50%);
            
            box-sizing: border-box;
            size: 110px;
            padding: .75rem;
            
            font-size: 13px;
            line-height: 1;
            
            border-radius: 50%;
            box-shadow: 0 0 0 2px white inset;
            background: $color__red;
            text-align: center;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            @media (--mobile-less) {
                transform: scale(0.7) translateY(-70%);
            }
            
            &-value{
                font-size: 23px;
            }
        }
        &main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @media (--s-tablet-less) {
                margin: 0 0 1rem 0;
                
                align-items: flex-start;
                flex-direction: column;
            }
        }
        &logo{
            max-width: 100%;
            height: auto;
            
            margin: 0 100px 0 0;
            
            @media (--s-tablet-less) {
                margin: 10px 0 0 0;
            }
        }
	}
}