<div block="hat" class="_bright g-section">
    <div elem="content" class="g-section__content">
        <header elem="header">
            <div elem="breadcrumbs">
                <import src="modules/breadcrumbs/breadcrumbs.htm"></import>
            </div>
            <div elem="sale">
                <div elem="sale-value">15%</div>
                скидка
            </div>
        </header>
        <div elem="main">
            <h1 elem="title">
                Новости лотерей
                <elem elem="star _active"></elem>
            </h1>
            <img elem="logo" src=":275x50" alt="">
        </div>
        <footer elem="footer">
            <nav elem="nav">
                <import src="modules/nav/nav--02.htm"></import>
            </nav>
        </footer>
    </div>
</div>