<div class="product-card product-card_reverse">
    <div class="product-card__right">
		<import src="modules/product-drawing/product-drawing2.htm"></import>
		<import src="modules/jackpot/jackpot.htm" class=" jackpot_resp"></import>
    </div>
    <div class="product-card__left">
        <import src="modules/tickets/tickets.htm"></import>
    </div>
    <div class="product-card__right">
		<import src="modules/product-important/product-important.htm"></import>
		<import src="modules/options/options.htm"></import>
		<import src="modules/quickstart/quickstart.htm"></import>
		<import src="modules/product-important/product-important--text.htm"></import>
		<import src="modules/social-links/social-links.htm" class=" social-links_inline"></import>
    </div>
</div>