<div class="product-card product-card_reverse product-card_padding">
    <div class="product-card__right">
		<import src="modules/product-drawing/product-drawing.htm"></import>
		<import src="modules/product-important/quickstart.htm"></import>
    </div>
    <div class="product-card__left">
        <div class="product-card__body">
            <div class="product-card__content">
                <div class="product-card__title">Электронная книга <br>Amazon Kindle</div>
                <div class="product-card__price">(Денежный эквивалент 9999$)</div>
                <div class="product-card__offer">
                    <div class="product-card__slogan">Завладей гаджетом свой мечты! <br>Больше ставок - больше шаносов!</div>
                    <a href="#" class="product-card__add"><div class="product-card__add__plus">+</div>Добавить 1 билет</a>
                </div>
                <div class="product-card__selection">
                    <a href="" class="product-card__selection__link">Свой выбор</a>
                </div>
                <div class="product-card__status">
                    <import src="modules/status/status.htm"></import>
                </div>
                <div class="product-card__carousel">
                    <import src="modules/combination/combination.htm"></import>
                </div>
                <div class="product-card__information">
                    <import src="modules/product-info/product-info.htm"></import>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__right">
		<import src="modules/quickstart/quickstart.htm"></import>
		<import src="modules/social-links/social-links.htm"></import>
    </div>
</div>