<div class="product-card">
    <div class="product-card__right">
		<import module="product-drawing"></import>
    </div>
    <div class="product-card__left">
        <div class="product-card__body">
            <div class="product-card__content">
                <div class="product-card__title">Электронная книга <br>Amazon Kindle</div>
                <div class="product-card__price">(Денежный эквивалент 9999$)</div>
                <div class="product-card__offer">
                    <div class="product-card__slogan">Завладей гаджетом свой мечты! <br>Больше ставок - больше шаносов!</div>
                    <a href="#" class="product-card__add"><div class="product-card__add__plus">+</div>Добавить 1 билет</a>
                </div>
                <div class="product-card__selection">
                    <a href="" class="product-card__selection__link">Свой выбор</a>
                </div>
                <div class="product-card__status">
                    <import module="status"></import>
                </div>
                <div class="product-card__carousel">
                    <import module="product-carousel"></import>
                </div>
                <div class="product-card__information">
                    <import module="product-info"></import>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__right">
		<import module="product-important"></import>
		<import module="quickstart"></import>
		<import module="social-links"></import>
    </div>
</div>