.product-card{
	// display: flex;
    padding-top: 40px;
    margin: 0 0 40px 0;
    @media(--s-tablet-less){
        flex-direction: column;
        &_reverse{
            padding-top: 0;
            flex-direction: column-reverse;
            
            .product-drawing{
                margin-top: 0;
            }
        }
        &_padding{
            padding-top: 30px;
        }
    }
	// elements
    &:after{
        content: '';
        clear: both;
        display: table;
    }
	&__{
		&left{
            float: left;
            box-sizing: border-box;
            width: calc(50% - 12.5px);
            
            @media(--s-tablet-less){
                float: none;
                
                width: 100%;
                margin-top: 1rem;
            }
        }
        &right{
            float: right;
            box-sizing: border-box;
            width: calc(50% - 12.5px);
            @media(--s-tablet-less){
                width: 100%;
                margin-left: 0;
                float: none;
            }
        }
        &body{
            box-sizing: border-box;
            padding: 20px 0;
            
            background-color: #fff;
            border: 0.063em solid #eee;
            border-radius: 0.313em;
        }
        &content{
            padding: 0 20px;
            @media(--mobile-less){
                padding: 0 15px;
            }
        }
        &title{
            text-align: center;
            font-family: PTSans;
            font-size: 2.25em;
            font-weight: 700;
        }
        &subtitle{
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
        &balls{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px 20px 0 20px;
            margin-left: -5px;
        }
        &text{
            margin-top: 25px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 13px;
        }
        &numbers{
            margin-top: 20px;
            text-align: center;
            border-top: 2px dashed #c7c7c7;
            &__inline{
                display: inline-block;
                padding:  0 20px;
                word-spacing: 5px;
                margin-top: 10px;
                line-height: 34px;
                background-color: #fff;
                border: 1px solid rgba(191, 191, 191, 0.35);
                border-radius: 7px;
                font-size: 15px;
                color: $color__gray1;
                @media(--mobile-less){
                    padding: 0 15px;
                    word-spacing: 2px;
                }
                &._active{
                    background-color: #ffd200;
                    border-color: #ffd200;
                }
                &:hover{
                    border-color: #ffd200;
                    background-color: rgba(255, 210, 0, 0.07);
                }
            }
            &__black{
                color: #000;
            }
        }
        &bottom{
            padding: 25px 0 15px;
            margin-top: 30px;
            text-align: center;
            border-top: 1px solid #e4edf2;
        }
        &more{
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $color__blue;
            text-shadow: 0.7px 0.7px 0 rgba(255, 255, 255, 0.75);
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
            &:hover &__text{
                border: none;
            }
            &__icon{
                display: inline-block;
                margin-right: 10px;
            }
            &__text{
                border-bottom: 1px dashed $color__blue;
            }
        }
        &price{
            text-align: center;
            color: #5e6254;
        }
        &offer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            @media(--s-mobile){
                flex-direction: column;
            }
        }
        &slogan{
            color: #010101;
            font-size: 0.813em;
            @media(--s-mobile){
                margin-bottom: 20px;
            }
        }
        &add{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 13px;
            line-height: 33px;
            height: 33px;
            background-color: #ffd200;
            border-radius: 0.188em;
            text-shadow: 0.044em 0.044em 0 rgba(255, 255, 255, 0.64);
            font-family: PTSans;
            font-size: 0.938em;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            white-space: nowrap;
            @media(--tablet){
                font-size: 0.7em;
            }
            &__plus{
                margin-right: 7px;
                text-shadow: 0.044em 0.044em 0 rgba(255, 255, 255, 0.75);
                font-size: 30px;
                font-weight: 400;
                padding-top: 3px;
            }
        }
        &selection{
            margin-top: 10px;
            text-align: right;
            &__link{
                color: #0394d8;
                font-size: 0.813em;
            }
        }
	}
}