<div class="product-card product-card_reverse">
    <div class="product-card__right">
		<import src="modules/product-drawing/product-drawing2.htm"></import>
		<import src="modules/jackpot/jackpot.htm" class=" jackpot_resp"></import>
    </div>
    <div class="product-card__left">
        <div class="product-card__body">
            <div class="product-card__content">
                <div class="product-card__subtitle">Количество выбранных комбинаций:</div>
                <import src="modules/number-combinations/number-combinations.htm"></import>
                <import src="modules/status/status.htm"></import>
            </div>
            <div class="product-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="product-card__balls">
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
                <div class="ball ball_size_big ball_color_green">1</div>
            </div>
            <div class="product-card__numbers">
                <div class="product-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
                <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
                <div class="product-card__numbers__inline _active">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
                <div class="product-card__numbers__inline">01 32 33 12 25 26 25 + <span class="product-card__numbers__black">03 04 04 04</span></div>
            </div>
            <div class="product-card__bottom">
                <a href="#" class="product-card__more"><span class="product-card__more__icon"><i class="icon-plus-circled"></i></span><span class="product-card__more__text">ПОКАЗАТЬ ЕЩЕ комбинации</span></a>
            </div>
        </div>
    </div>
    <div class="product-card__right">
		<import src="modules/product-important/product-important.htm"></import>
		<import src="modules/quickstart/quickstart.htm"></import>
    </div>
</div>