.gift-friend{
	display: flex;
    justify-content: space-between;
    margin: 30px 0;
    &_ticketcheck{
        flex-direction: column;
        margin-top: -10px;
        .gift-friend__input{
            max-width: 455px;
        }
    }
    @media(--mobile-less){
        flex-direction: column;
    }
	// elements
	&__{
        &left{
            width: 49%;
            @media(--mobile-less){
                width: 100%;
            }
        }
        &right{
            width: 49%;
            @media(--mobile-less){
                width: 100%;
                margin-top: 30px;
            }
        }
		&name{
            font-family: PTSans;
            font-size: 25px;
        }
        &text{
            margin-bottom: 5px;
            color: $color__gray1;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &fieldset{
            margin-top: 20px;
        }
        &input{
            box-sizing: border-box;
            width: 100%;
            max-width: 300px;
            height: 32px;
            padding: 0 10px;
            background-color: #fff;
            border: 1px solid #cecece;
            border-radius: 3px;
            
            color: #5e6254;
            font-family: Arial;
            font-size: 13px;
            font-weight: 700;
        }
        &textarea{
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            padding: 10px 20px;
            background-color: #fff;
            border: 1px solid #cecece;
            border-radius: 3px;
            
            color: #5e6254;
            font-family: Arial;
            font-size: 13px;
            font-weight: 700;
        }
        &info{
            margin-top: 15px;
            color: #a5a5a5;
            font-size: 11px;
        }
        &links{
            display: flex;
            align-items: center;
            margin-top: 25px;
        }
        &button{
            padding: 3px 20px 0;
            text-align: center;
            line-height: 31px;
            color: #fff;
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 3px;
        }
        &link{
            margin-left: 20px;
            text-decoration: none;
            color: $color__blue;
            &__icon{
                margin-right: 7px;
            }
            &__text{
                text-decoration: underline;
            }
        }
        &send{
            position: relative;
            z-index: 1;
            padding: 25px 30px 30px 30px;
            background-color: #fff;
            border: 1px solid #3ba3dc;
            border-radius: 6px;
            &:after{
                content: "";
                position: absolute;
                top: 30px;
                right: 0;
                width: 110px;
                height: 52px;
                background-image: url('img/water.png');
                z-index: -1;
            }
            &__title{
                font-weight: 700;
            }
        }
	}
}