<div class="gift-friend">
    <div class="gift-friend__left">
        <div class="gift-friend__name">Лотерея Mega Millions. Тираж №105, 05 января</div>
        <div class="gift-friend__fieldset">
            <div class="gift-friend__text">страна</div>
            <select name="country" id="country" class="gift-friend__input">
                <option value="1">country1</option>
                <option value="2">country2</option>
                <option value="3">country3</option>
            </select>
        </div>
        <div class="gift-friend__fieldset">
            <div class="gift-friend__text">Мобильный номер друга</div>
            <input type="text" class="gift-friend__input">
        </div>
        <div class="gift-friend__info">Будьте внимательны при вводе номера мобильного телефона<br> В случае выигрыша на него придет секретный код, без которого<br> выигрыш получить невозможно.</div>
        <div class="gift-friend__links">
            <a href="#" class="gift-friend__button button button_color_blue">далее</a>
            <a href="#" class="gift-friend__link">
                <span class="gift-friend__link__icon"><</span><span class="gift-friend__link__text">Назад к игре</span>
            </a>
        </div>
    </div>
    <div class="gift-friend__right">
        <div class="gift-friend__send">
            <div class="gift-friend__send__title">Если хотите приложить подарочноe<br> письмо, заполните:</div>
            <div class="gift-friend__fieldset">
                <div class="gift-friend__text">Электронная почта друга</div>
                <input type="text" class="gift-friend__input">
            </div>
            <div class="gift-friend__fieldset">
                <div class="gift-friend__text">Сопроводительный текст</div>
                <textarea name="text" id="text" cols="30" rows="4" class="gift-friend__textarea"></textarea>
            </div>
        </div>
    </div>
</div>