<div class="gift-friend gift-friend_ticketcheck">
    <div class="gift-friend__fieldset">
        <div class="gift-friend__text">Тираж №</div>
        <select name="country" id="country" class="gift-friend__input">
            <option value="1">country1</option>
            <option value="2">country2</option>
            <option value="3">country3</option>
        </select>
    </div>
    <div class="gift-friend__fieldset">
        <div class="gift-friend__text">Комбинация</div>
        <input type="text" class="gift-friend__input">
    </div>
    <div class="gift-friend__fieldset">
        <div class="gift-friend__text">Джокер</div>
        <input type="text" class="gift-friend__input">
    </div>
    <div class="gift-friend__links">
        <a href="#" class="gift-friend__button button button_color_blue">проверить</a>
    </div>
</div>