<div class="product-info">
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Диагональ:</div>
            <div class="product-info__data">4,7 дюйма</div>
        </div>
    </div>
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Камера:</div>
            <div class="product-info__data">8-мегапиксельная iSight</div>
        </div>
    </div>
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Процессор</div>
            <div class="product-info__data">А8 с 64-разрядной архитектурой</div>
        </div>
    </div>
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Дисплей:</div>
            <div class="product-info__data">HD Retina, разрешение 1334 х 750</div>
        </div>
    </div>
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Время работы:</div>
            <div class="product-info__data">до 10 дней</div>
        </div>
    </div>
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Размеры, мм:</div>
            <div class="product-info__data">138,1 / 67.0 / 6,9</div>
        </div>
    </div>
    <div class="product-info__item">
        <div class="product-info__inline">
            <div class="product-info__name">Вес:</div>
            <div class="product-info__data">129 г</div>
        </div>
    </div>
</div>