.product-info{
	
	// elements
	&__{
        &item{
            position: relative;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            &:after{
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 1px;
                border-bottom: 1px dotted #ccc;
            }
        }
		&inline{
            display: flex;
            justify-content: space-between;
            @media(--s-mobile){
                flex-direction: column;
            }
        }
        &name{
            position: relative;
            color: #5e6254;
            font-size: 0.813em;
            background-color: #fff;
            z-index: 2;
        }
        &data{
            position: relative;
            font-size: 0.813em;
            background-color: #fff;
            z-index: 2;
        }
	}
}