<div class="links">
    <div class="links__title">Результаты других тиражей</div>
    <a href="#" class="links__link">105 тираж от 30.12.2015</a>
    <a href="#" class="links__link">105 тираж от 30.12.2015</a>
    <a href="#" class="links__link">105 тираж от 30.12.2015</a>
    <a href="#" class="links__link">105 тираж от 30.12.2015</a>
    <a href="#" class="links__link">Посмотреть все</a>
</div>