<div class="links">
    <a href="#" class="links__link">Основные правила лотереи</a>
    <a href="#" class="links__link">Как проводится лотерея?</a>
    <a href="#" class="links__link">Что такое закрытие продаж?</a>
    <a href="#" class="links__link">Как распределяется призовой фонд в игре?</a>
    <a href="#" class="links__link">Как узнать результат тиража и проверить билет?</a>
    <a href="#" class="links__link">Как получить выигрыш?</a>
</div>