.links{
	margin-top: 25px;
	// elements
	&__{
		&title{
            text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
            color: #000;
            font-family: PTSans;
            font-size: 1.563em;
            line-height: 1;
        }
        &link{
            display: block;
            margin-top: 15px;
            color: #0394d8;
            font-size: 0.875em;
        }
	}
}