.payments{
    margin: 30px 0 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	
	// elements
	&__{
		&payment{
            size: 132px;
            
            border-radius: 20px;
            box-shadow: 0 0 0 1px #d7d7d7 inset;
            
            transition: .3s;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover{
                box-shadow: 0 0 0 3px #3ba3dc inset;
            }
            &:not(:last-child){
                margin-bottom: 30px;
            }
        }
	}
}