<div block="payments">
    <a href="#" elem="payment">
        <img src=":115x50" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":100x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":105x40" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":90x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":115x50" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":100x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":105x40" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":90x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":115x50" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":100x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":105x40" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":90x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":115x50" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":100x45" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":105x40" alt="" elem="logo">
    </a>
    <a href="#" elem="payment">
        <img src=":90x45" alt="" elem="logo">
    </a>
</div>