.status{
    &__{
        &line{
            width: 100%;
            height: 14px;
            margin-top: 20px;
            margin-bottom: 7px;
            background-color: #bbb;
            background-image: linear-gradient(to top, #d4d4d4 0%, #f7f7f7 100%);
            border: 0.063em solid #bfbfbf;
            border-radius: 0.125em;
            box-shadow: inset 0 0.063em 0 #fff;
            &__active{
                position: relative;
                width: 40%;
                height: 14px;
                margin-top: -1px;
                background-color: #59a500;
                background-image: linear-gradient(to top, #0394d8 0%, #68bfe8 100%);
                border: 0.063em solid #0180bc;
                border-radius: 0.125em;
                box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.2);
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-image: url('img/pattern__status.png');
                    background-repeat: repeat-x;
                }
            }
        }
        &description{
            display: flex;
            justify-content: space-between;
        }
        &text{
            text-shadow: 0 0.063em 0 #fff;
            font-size: 0.813em;
            @media(--mobile-less){
                font-size: 0.625em;
            }
        }
    }
}