<div class="status">
    <div class="status__line">
        <div class="status__line__active"></div>
    </div>
    <div class="status__description">
        <div class="status__text">100 комбинаций продано</div>
        <div class="status__text">20 комбинаций осталось</div>
    </div>
</div>