.map{
	
	// elements
	&__{
	   &title{
           font-family: PTSans;
            font-size: 25px;
       }
       &body{
           width: 100%;
           height: 450px;
           overflow: hidden;
           margin-top: 15px;
           img{
               width: 100%;
               height: auto;
           }
           @media(--s-tablet-less){
               height: 300px;
           }
       }
	}
}