<div class="g-section map">
    <div class="g-section__content">
        <div class="map__title">Наши лотерейные агенты</div>
    </div>
    <div class="map__body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24533622.79554156!2d53.375670363282005!3d41.35611382684607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1458037717027" width="1920" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>