<div class="news">
	<div class="news__head">
		<div class="news__title">Последние новости</div>
		<a href="#" class="news__more">Посмотреть все новости</a>
	</div>
	<div class="news__body">
		<div class="news__item">
			<div class="news__text">
				<a href="#" class="news__link">Хобби помогло супружеской паре выиграть миллион баксов в EuroMillions.</a> Lorem ipsum dolor sit amet, consecteturrrrrtew        eadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudtw exercitation ullamco laboris nisi ut aliquip ex Lorem ipsum dolor sit amet, consecteturrrrrtew        eadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudtw exercitation ullamco laboris nisi ut aliquip ex
			</div>
			<div class="news__date">23 октября 2015</div>
		</div>
		<div class="news__item">
			<div class="news__text">
				<a href="#" class="news__link">Хобби помогло супружеской паре выиграть миллион баксов в EuroMillions.</a> Lorem ipsum dolor sit amet, consecteturrrrrtew        eadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudtw exercitation ullamco laboris nisi ut aliquip ex
			</div>
			<div class="news__date">23 октября 2015</div>
		</div>
	</div>
</div>