.news{
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
	margin-top: 40px;
	@media(--mobile-less){
		margin-top: 0;
        &:after{
            content: "";
            position: absolute;
            top: -20px;
            bottom: -20px;
            left: -200%;
            width: 500%;
            background-color: #fff;
            z-index: -1;
        }
	}
	// elements
	&__{
		&head{
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			margin-bottom: 15px;
			@media(--tablet-less){
				display: block;
                margin-bottom: 10px;
			}
		}
		&title{
			color: #000;
			font-family: PTSans;
			font-size: 1.563em;
		}
		&more{
			color: #0394d8;
			font-size: 15px;
			text-decoration: underline;
			@media(--tablet-less){
                position: absolute;
                bottom: 0;
                left: 0;
			}
		}
		&body{
			display: flex;
			justify-content: space-between;
			padding: 30px 27px;
			
			background-color: #fff;
            border-radius: 0.313em;
			@media(--tablet-less){
				display: block;
				background-color: transparent;
				padding: 0;
                font-size: 15px;
			}
		}
		&item{
			width: 48%;
			@media(--tablet-less){
				width: 100%;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
			}
		}
		&text{
			font-size: 15px;
			color: #5e6254;
		}
		&link{
			color: #0394d8;
			font-size: 0.938em;
			text-decoration: none;
		}
		&date{
			margin-top: 10px;
			color: #b3b3b3;
			font-size: 13px;
		}
	}
}