.ball{
    text-align: center;
    text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
    font-weight: 700;
    &_clear{
        opacity: 0.2;
    }
    &_size{
        &_huge{
            width: 55px;
            min-width: 55px;
            height: 55px;
            line-height: 55px;
            
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
            font-size: 34px;
            font-weight: 700;
        }
        &_big{
            width: 42px;
            min-width: 42px;
            height: 42px;
            margin-left: 5px;
            line-height: 38px;
            font-size: 1.438em;
        }
        &_small{
				width: 30px;
				min-width: 30px;
				height: 30px;
				
				margin-right: 2px;
				margin-bottom: 10px;
				
				line-height: 30px;
        }
    }
	&_color{
		&_yellow{
            background-image: url(img/ball-yellow.png);
            background-position: center center;
            background-size: 100% 100%;
		}
		&_green{
            background-image: url(img/ball-green.png);
            background-position: center center;
            background-size: 100% 100%;
		}
		&_white{
            background-image: url(img/ball-white.png);
            background-position: center center;
            background-size: 100% 100%;
		}
		&_blue{
			background-color: #88e4ff;
			background-image: radial-gradient(circle 12px at center 40.43%, rgba(101, 157, 28, 0) 0%, rgba(33, 33, 33, 0.09) 73%, rgba(33, 33, 33, 0.1) 78%, rgba(33, 33, 33, 0.12) 90%, rgba(20, 98, 95, 0.13) 99%, rgba(20, 98, 95, 0.13) 100%);
			border: 0.063em solid rgba(48, 157, 219, 0.87);
			box-shadow: 0 0.25em 0.125em rgba(0, 0, 0, 0.26);
		}
	}
}