.footer-menu{
	
	@media(--tablet-less){
		width: 100%;
		display: flex;
		justify-content: space-between;
		
		margin-top: 25px;
	}
	@media(--s-tablet-less){
		display: none !important;
	}
	
	// elements
	&__{
		&link{
			display: block;
			text-shadow: 0.031em 0.056em 0 rgba(255, 255, 255, 0.27);
			color: #506466;
			font-size: 0.813em;
            &:hover{
                color: #01aeff;
            }
			&:not(:last-child){
				margin-bottom: 12px;
				@media(--tablet-less){
					margin-bottom: 0;
				}
			}
			@media(--tablet-less){
				white-space: nowrap;
			}
		}
	}
}