<div class="footer-menu">
	<a href="#" class="footer-menu__link">Условия пользования</a>
	<a href="#" class="footer-menu__link">Политика безопасности</a>
	<a href="#" class="footer-menu__link">Партнёрская программа</a>
	<a href="#" class="footer-menu__link">Поддержка онлайн</a>
	<a href="#" class="footer-menu__link">Войти</a>
	<a href="#" class="footer-menu__link">О компании</a>
</div>