.close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #679f1c;
    font-size: 0.875em;
    cursor: pointer;
    user-select: none;
    z-index: 2;
	// elements
	&__{
        &icon{
            font-size: 18px;
            margin-left: 10px;
        }
	}
}