.deals{
	background-color: #fff;
	// elements
	&__{
		&item{
			display: flex;
			align-items: center;
			padding: 4px 15px;
			border-bottom: 2px solid #e6e6e6;
		}
		&logo{
			margin-right: 15px;
		}
		&text{
			max-width: 270px;
			margin-right: 20px;
			color: #5e6254;
			font-size: 0.813em;
		}
		&play{
			padding: 0 20px;
			border-radius: 0.188em;
			text-decoration: none;
			text-shadow: 0.044em 0.044em 0 rgba(96, 153, 27, 0.28);
			font-family: PTSans;
			font-size: 0.813em;
			font-weight: 700;
			line-height: 28px;
			text-transform: uppercase;
		}
		&bottom{
			padding: 0 20px;
			text-align: right;
		}
		&link{
            line-height: 30px;
			color: #0394d8;
			font-size: 0.813em;
			text-decoration: underline;
		}
	}
}