<div class="deals">
	<div class="deals__item">
		<div class="deals__logo"><img src="img/deals-logo.png" alt=""></div>
		<div class="deals__text">In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel.</div>
		<a href="#" class="deals__play button_color_green">играть</a>
	</div>
	<div class="deals__item">
		<div class="deals__logo"><img src="img/deals-logo.png" alt=""></div>
		<div class="deals__text">In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel.</div>
		<a href="#" class="deals__play button_color_green">играть</a>
	</div>
	<div class="deals__item">
		<div class="deals__logo"><img src="img/deals-logo.png" alt=""></div>
		<div class="deals__text">In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel.</div>
		<a href="#" class="deals__play button_color_green">играть</a>
	</div>
	<div class="deals__item">
		<div class="deals__logo"><img src="img/deals-logo.png" alt=""></div>
		<div class="deals__text">In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel.</div>
		<a href="#" class="deals__play button_color_green">играть</a>
	</div>
	<div class="deals__bottom">
		<a href="#" class="deals__link">Подробнее</a>
	</div>
</div>