<div class="draw-result">
    <div class="g-section draw-result__intro">
        <div class="g-section__content">
            <div class="draw-result__hat">
                <div class="draw-result__title">Результаты тиража № 105 от 30.12.2014</div>
                <import src="modules/share/share.htm"></import>
            </div>
            <div class="draw-result__informers">
                    <import src="modules/informer-main/informer-main--circulation.htm"></import>
                    <import src="modules/informer-combination/informer-combination.htm"></import>
            </div>
        </div>
    </div>
    <div class="g-section">
        <div class="g-section__content">
            <div class="draw-result__content">
                <div class="draw-result__main">
                    <div class="draw-result__tabs">
                        <div class="draw-result__tab _active">Итоги розыгрыша</div>
                        <div class="draw-result__tab">Результаты групповых игр</div>
                        <div class="draw-result__tab">Итоги розыгрыша PowerPlay</div>
                    </div>
                    <div class="draw-result__tabs__body">
                        <div class="draw-result__tabs__item _active">
                            <table class="draw-result__table">
                                <thead>
                                    <tr>
                                        <th>Номеров выбранно</th>
                                        <th>Категория</th>
                                        <th>Выигрышей</th>
                                        <th>Приз, руб</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="draw-result__tabs__item">
                            <table class="draw-result__table">
                                <thead>
                                    <tr>
                                        <th>Номеров выбранно</th>
                                        <th>Категория</th>
                                        <th>Выигрышей</th>
                                        <th>Приз, руб</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >11</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="draw-result__tabs__item">
                            <table class="draw-result__table">
                                <thead>
                                    <tr>
                                        <th>Номеров выбранно</th>
                                        <th>Категория</th>
                                        <th>Выигрышей</th>
                                        <th>Приз, руб</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >12</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td >10</td>
                                        <td>10 x 10</td>
                                        <td>0</td>
                                        <td>500000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="draw-result__aside">
                    <div class="draw-result__video">
                        <div class="draw-result__video__title">Видео тиража</div>
                        <a href="#" class="draw-result__video__preview">
                            <img src=":210x115" alt="">
                        </a>
                        <div class="draw-result__video__name">
                            Тираж <a href="#" class="draw-result__video__name__link">103</a> от 09.01.2015
                        </div>
                    </div>
                    <import module="links"></import>
                </div>
            </div>
        </div>
    </div>
</div>