.draw-result{
    position: relative;
    background-image: url('img/bg-result.png');
    background-position: top center;
    background-repeat: no-repeat;
	// elements
    .g-section{
        background: none;
    }
    .links{
        @media(--mobile-less){
            margin-top: 15px;
            text-align: center;
        }
    }
	&__{
        &intro{
            padding-top: 30px;
            padding-bottom: 40px;
        }
		&hat{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &title{
            color: #000;
            font-family: PTSans;
            font-size: 2.25em;
            font-weight: 700;
        }
        &informers{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 25px;
            @media(--tablet-less){
                flex-direction: column;
            }
        }
        &content{
            display: flex;
            justify-content: space-between;
            @media(--tablet-less){
                flex-direction: column;
            }
        }
        &main{
            width: 100%;
        }
        &aside{
            width: 210px;
            margin-left: 30px;
            @media(--tablet-less){
                width: 100%;
                margin-left: 0;
            }
            @media(--mobile-less){
                margin-left: 0;
            }
        }
        &tabs{
            display: flex;
            &__item{
                &:not(._active){
                    display: none;
                }
            }
            @media(--s-tablet-less){
                flex-direction: column;
            }
        }
        &tab{
            box-sizing: border-box;
            padding: 0 10px;
            height: 34px;
            line-height: 30px;
            border: 0.063em dashed #b0b0b0;
            border-radius: 0.438em;
            color: #000;
            font-weight: 700;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
            background-color: #fff;
            &:not(:last-child){
                margin-right: 7px;
                @media(--s-tablet-less){
                    margin-right: 0 !important;
                    margin-bottom: 20px;
                }
            }
            &:not(._active){
                cursor: pointer;
            }
            &._active{
                background-color: #ffd200;
                border: 0.063em solid #ffd200;
            }
        }
        &table{
            width: 100%;
            margin-top: 15px;
            margin-bottom: 40px;
            @media(--mobile){
                font-size: 14px;
            }
            @media(--s-mobile){
                font-size: 9px;
            }
            th{
                height: 54px;
                vertical-align: middle;
                background-color: #ffd200;
                font-weight: 700;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
            }
            td{
                height: 40px;
                text-align: center;
                vertical-align: middle;
            }
            > tbody{
                &:not(:last-child){
                    border-bottom: 2px solid #ffd200;
                }
            }
            tr{
                &:nth-child(2n){
                    background-color: #dcf1f2;
                }
            }
             > tbody > tr:nth-child(1) > td:nth-child(1){
                font-size: 2em;
             }
        }
        &video{
            @media(--mobile-less){
                text-align: center;
            }
            &__title{
                margin-bottom: 10px;
                text-shadow: 0 0.063em 0 rgba(255, 255, 255, 0.75);
                font-family: PTSans;
                font-size: 1.563em;
            }
            &__name{
                margin-top: 10px;
                &__link{
                    color: #0394d8;
                }
            }
        }
	}
}