<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Prolotto</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
	
	<script src="modernizr.js" ansync></script>
	<script src="http://code.jquery.com/jquery-2.1.1.min.js" defer></script>
	<script src="app.js" defer></script>
	<import src="modules/g-errors/g-errors.head.htm.htm"></import>
</head>