<div class="fallback">
    <div class="fallback__item fallback__item_border-bottom">
        <div class="fallback__title">Часто выпадающие числа</div>
        <div class="fallback__body">
            <div class="fallback__numbers">
                <div class="fallback__number fallback__number_full fallback__number_popular">
                    <div class="fallback__number__top">15</div>
                    <div class="fallback__number__body">45</div>
                    <div class="fallback__number__bottom">2</div>
                </div>
                <div class="fallback__number fallback__number_full">
                    <div class="fallback__number__top">15</div>
                    <div class="fallback__number__body">45</div>
                    <div class="fallback__number__bottom">2</div>
                </div>
                <div class="fallback__number fallback__number_full">
                    <div class="fallback__number__top">15</div>
                    <div class="fallback__number__body">45</div>
                    <div class="fallback__number__bottom">2</div>
                </div>
                <div class="fallback__number fallback__number_full">
                    <div class="fallback__number__top">15</div>
                    <div class="fallback__number__body">45</div>
                    <div class="fallback__number__bottom">2</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
            </div>
            <div class="fallback__quantity">15 раз</div>
            <div class="fallback__popular">
                <div class="fallback__popular__left">
                    <div class="fallback__popular__number">45</div>
                </div>
                <div class="fallback__popular__right">
                    <div class="fallback__popular__text">
                        <span class="fallback__popular__text__bold">в 20% тиражей</span> последний раз - 1 день назад
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fallback__item">
        <div class="fallback__title">Давно не выпадали</div>
        <div class="fallback__body">
            <div class="fallback__numbers">
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
                <div class="fallback__number">
                    <div class="fallback__number__body">45</div>
                </div>
            </div>
            <a href="#" class="fallback__link">Статистика выпадения шаров</a>
        </div>
    </div>
</div>