.fallback{
    max-width: 210px;
    margin-top: 25px;
	border: 2px solid #eee;
    border-radius: 4px;
    background-color: #fff;
	// elements
	&__{
		&item{
            box-sizing: border-box;
            padding: 20px 10px;
            &_border-bottom{
                border-bottom: 2px dashed #c7c7c7;
            }
        }
        &title{
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
        &numbers{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10px 0;
            margin-left: -15px;
        }
        &number{
            margin-left: 15px;
            text-align: center;
            &_popular &__body{
                font-weight: 700;
                color: #59a500;
            }
            &__body{
                width: 28px;
                min-width: 28px;
                line-height: 28px;
                border: 1px solid #dedede;
                border-radius: 3px;
                color: #9e9e9e;
                font-size: 0.813em;
                font-weight: 700;
            }
            &__top{
                font-size: 12px;
                line-height: 20px;
                color: #5e6254;
            }
            &__bottom{
                font-size: 12px;
                line-height: 20px;
                color: #0394d8;
            }
        }
        &quantity{
            margin-left: 12px;
            font-size: 12px;
            font-weight: 700;
        }
        &popular{
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 10px;
            margin-top: 10px;
            &__number{
                width: 28px;
                min-width: 28px;
                margin-right: 7px;
                line-height: 28px;
                border: 1px solid #dedede;
                border-radius: 3px;
                text-align: center;
                font-weight: 700;
                color: #59a500;
                font-size: 0.813em;
            }
            &__text{
                font-size: 10px;
                color: #898c82;
                &__bold{
                    color: #000;
                    font-size: 11px;
                    font-weight: 700;
                }
            }
        }
        &link{
            display: block;
            text-align: center;
            font-size: 12px;
            color: #0394d8;
        }
	}
}