.order{
	position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    width: 100%;
	// elements
	&__{
		&head{
            padding: 5px 0;
            background-color: #3b85c1;
        }
        &body{
            padding: 6px 0;
            background-color: #fdfffd;
        }
        &content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media(--mobile-less){
                flex-direction: column;
            }
            &_body{
                flex-wrap: wrap;
                @media(--mobile-less){
                    justify-content: center;
                }
            }
        }
        &center{
            display: flex;
            align-items: center;
            @media(--mobile-less){
                margin: 5px 0 10px;
            }
        }
        &right{
            display: flex;
            align-items: center;
        }
        &link{
            display: block;
            margin: 0 15px;
            font-size: 13px;
            color: #fff;
            &:hover{
                text-decoration: none;
            }
            i{
                margin: 0 10px;
            }
        }
        &title{
            padding-top: 3px;
            font-family: PTSans;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
        &pay{
            padding: 3px 12px 0 12px;
            margin-left: 35px;
            border-radius: 3px;
            line-height: 23px;
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #ffd200;
            cursor: pointer;
            @media(--s-tablet-less){
                margin-left: 15px;
            }
            &_empty{
                opacity: 0.5;
                cursor: default;;
            }
        }
        &item{
            position: relative;
            margin-bottom: 2px;
            &__content{
                display: flex;
                align-items: center;
            }
        }
        &number{
            margin-right: 10px;
            font-weight: 700;
            color: $color__gray1;
        }
        &numbers{
            display: flex;
            span{
                box-sizing: border-box;
                display: block;
                width: 24px;
                height: 24px;
                text-align: center;
                line-height: 22px;
                padding-top: 2px;
                font-family: PTSans;
                font-weight: 700;
                border-radius: 3px;
                background-color: $color__blue;
                color: #fff;
                &:not(:last-child){
                    margin-right: 2px;
                }
                &:last-child{
                    background-color: $color__green;
                }
            }
            &_empty{
                span{
                    border: 1px solid #c5c5c5;
                    background-color: #fff;
                    &:last-child{
                        background-color: #fff;
                    }
                }
            }
        }
        &star{
            position: absolute;
            top: 50%;
            left: 100%;
            margin-left: 10px;
            transform: translate(0, -50%);
            font-size: 18px;
            color: $color__yellow;
            &_empty{
                color: #c5c5c5;
            }
        }
	}
}