<div class="order">
    <div class="g-section order__head">
        <div class="g-section__content order__content">
            <div class="order__left">
                <div class="order__title">Ваш заказ(10):</div>
            </div>
            <div class="order__center">
                <a href="#" class="order__link"><i class="icon-left-open"></i>Предыдущие</a>
                <a href="#" class="order__link">Следующие<i class="icon-right-open"></i></a>
            </div>
            <div class="order__right">
                <div class="order__title">Сумма: 1200 грн</div>
                <div class="order__pay">Оплатить</div>
            </div>
        </div>
    </div>
    <div class="g-section order__body">
        <div class="g-section__content order__content order__content_body">
            <div class="order__item">
                <div class="order__item__content">
                    <div class="order__number">№1</div>
                    <div class="order__numbers">
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                    </div>
                </div>
                <div class="order__star">
                    <i class="icon-star-empty"></i>
                </div>
            </div>
            <div class="order__item order__item_empty">
                <div class="order__item__content">
                    <div class="order__number">№1</div>
                    <div class="order__numbers order__numbers_empty">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="order__star order__star_empty">
                    <i class="icon-star-empty"></i>
                </div>
            </div>
            <div class="order__item">
                <div class="order__item__content">
                    <div class="order__number">№1</div>
                    <div class="order__numbers">
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                    </div>
                </div>
                <div class="order__star">
                    <i class="icon-star-empty"></i>
                </div>
            </div>
            <div class="order__item">
                <div class="order__item__content">
                    <div class="order__number">№1</div>
                    <div class="order__numbers">
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                        <span>77</span>
                    </div>
                </div>
                <div class="order__star">
                    <i class="icon-star-empty"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="order">
    <div class="g-section order__head">
        <div class="g-section__content order__content">
            <div class="order__left">
                <div class="order__title">Ваш заказ</div>
            </div>
            <div class="order__center">
                <a href="#" class="order__link"><i class="icon-left-open"></i>Предыдущие</a>
                <a href="#" class="order__link">Следующие<i class="icon-right-open"></i></a>
            </div>
            <div class="order__right">
                <div class="order__title">Сумма: 0 грн</div>
                <div class="order__pay order__pay_empty">Оплатить</div>
            </div>
        </div>
    </div>
    <div class="g-section order__body">
        <div class="g-section__content order__content order__content_body">
            <div class="order__item order__item_empty">
                <div class="order__item__content">
                    <div class="order__number">№1</div>
                    <div class="order__numbers order__numbers_empty">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="order__star order__star_empty">
                    <i class="icon-star-empty"></i>
                </div>
            </div>
        </div>
    </div>
</div>

-->