.lottery-head{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
	// elements
	&__{
		&title{
            font-family: PTSans;
            font-size: 2.25em;
            font-weight: 700;
        }
	}
}