<div block="videos">
    <div elem="video" repeat="9">
        <a href="#" elem="preview">
            <img src=":210x115" alt="" elem="image">
            <div elem="play"><div elem="play-icon" class="icon-right-dir"></div></div>
        </a>
        <div elem="title">Тираж <a href="#">№ 102</a> от 07.01.2015 лотереи MegaMillion</div>
    </div>
</div>