.videos{
    
    padding: 30px 0 0;
    border-top: 2px dashed color(black a(.2));
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media (--tablet-less) {
        justify-content: space-between;
    }
    @media (--mobile-less) {
        flex-direction: column;
        align-items: center;
    }
    
	// elements
	&__{
		&video{
            max-width: 210px;
            margin: 0 0 1.5rem;
            
            text-align: center;
            
            &:not(:nth-child(3n)){
                margin-right: 30px;
            }
            
            @media (--tablet-less) {
                margin-right: 0 !important;
            }
        }
        &preview{
            display: block;
            
            position: relative;
            
            margin-bottom: 7px;
            &:after{
                content: '';
                position: absolute 0;
                z-index: 10;
                
                background: linear-gradient(90deg, color(black a(.2)) 0%, transparent 40%, transparent 60%, color(black a(.2)) 100%);
            }
        }
        &image{
            display: block;
        }
        &play{
            position: absolute 50% * * 50%;
            z-index: 20;
            transform: translate(-50%, -50%);
            
            size: 42px;
            
            font-size: 40px;
            
            border-radius: 50%;
            background: color(#08f a(.85));
            color: white;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            &-icon{
                transform: translateX(25%);
            }
        }
        &title{
            a{
                color: #08f;
                text-decoration: none;
            }
        }
	}
}