<div class="surprises">
    <div class="surprises__body">
        <div class="surprises__title">Суперпризы:</div>
        <div class="surprises__links">
            <a href="#" class="surprises__link">Гаджеты</a>
            <a href="#" class="surprises__link">Бытовая техника</a>
            <a href="#" class="surprises__link">Отдых и туризм</a>
            <a href="#" class="surprises__link">Авто и мото</a>
        </div>
        <div class="surprises__text">Известная во всем мире немецкая лотерея Lotto регулярно проводится, начиная с 1955 года, и является самой популярной лотереей Германии. Организатором игры является «Deutscher Lotto und Totoblock», в которую входят 16 лотерей. Участие в Lotto предполагает выбор шести чисел от 1 до 49. </div>
    </div>
    <div class="surprises__bottom">
        <div class="surprises__result">
            <div class="surprises__result__text">Результаты последней игры:</div>
            <div class="surprises__result__balls">
                <div class="ball ball_size_small ball_color_yellow">7</div>
                <div class="ball ball_size_small ball_color_yellow">8</div>
                <div class="ball ball_size_small ball_color_yellow">9</div>
                <div class="ball ball_size_small ball_color_yellow">10</div>
            </div>
        </div>
        <div class="surprises__box">
            <div class="surprises__left">
                <div class="surprises__info">
                    <div class="surprises__number"><a href="#" class="surprises__link">№1423</a> от 05.01.2015</div>
                    <div class="surprises__name">Разыгран: Mitsubishi Pajero 2015</div>
                </div>
            </div>
            <div class="surprises__right">
                <a href="#" class="surprises__link">Архив тиражей</a>
            </div>
        </div>
    </div>
</div>