.surprises{
    box-sizing: border-box;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
	// elements
	&__{
        &body{
            padding: 25px;
            border-radius: 7px;
            background-color: #fff;
        }
        &bottom{
            padding: 23px 25px;
        }
		&title{
            line-height: 36px;
            color: #000;
            font-family: PTSans;
            font-size: 36px;
            font-weight: 700;
        }
        &links{
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            @media(--tablet-less){
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: -20px;
            }
            .surprises__link{
                @media(--tablet-less){
                    margin-left: 15px;
                    line-height: 20px;
                }
            }
        }
        &link{
            color: #0394d8;
            font-size: 14px;
            &:hover{
                text-decoration: none;
            }
        }
        &text{
            margin-top: 20px;
            font-size: 13px;
        }
        &result{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__text{
                font-family: PTSans;
                font-size: 25px;
                line-height: 25px;
            }
            &__balls{
                display: flex;
            }
            .ball{
                margin-bottom: 0;
            }
        }
        &box{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            margin-top: 10px;
            font-size: 13px;
            line-height: 20px;
            a{
                font-size: inherit;
            }
        }
        &right{
            .surprises__link{
                white-space: nowrap;
            }
        }
	}
}