<div class="check">
    <div class="check__body">
        <div class="check__month">октябрь</div>
        <div class="check__table">
            <div class="check__row">
                <div class="check__col">
                    <div class="check__title">Тираж / Дата</div>
                </div>
                <div class="check__col">
                    <div class="check__title">Выигрышная комбинация</div>
                </div>
                <div class="check__col">
                    <div class="check__title">Суперприз</div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col">
                    <div class="check__number">0 1 5 8</div>
                </div>
                <div class="check__col">
                    <div class="check__name">Электронная книга  Amazon Kindle </div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col">
                    <div class="check__number">0 1 5 8</div>
                </div>
                <div class="check__col">
                    <div class="check__name">Электронная книга  Amazon Kindle </div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col">
                    <div class="check__number">0 1 5 8</div>
                </div>
                <div class="check__col">
                    <div class="check__name">Электронная книга  Amazon Kindle </div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col">
                    <div class="check__number">0 1 5 8</div>
                </div>
                <div class="check__col">
                    <div class="check__name">Электронная книга  Amazon Kindle </div>
                </div>
            </div>
        </div>
    </div>
    <div class="check__bottom">
        <import src="modules/pagination/pagination-inner.htm"></import>
    </div>
</div>