<div class="check">
    <div class="check__body">
        <div class="check__month">октябрь</div>
        <div class="check__table">
            <div class="check__row">
                <div class="check__col">
                    <div class="check__title">Тираж / Дата</div>
                </div>
                <div class="check__col check__col_second">
                    <div class="check__title">Выигрышная комбинация</div>
                </div>
                <div class="check__col check__col_third">
                </div>
                <div class="check__col">
                    <div class="check__title">Джек пот</div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col check__col_second">
                    <div class="check__numbers"><span class="check__numbers__gray">01 32 33 12 25 26 25</span> 03 04 11 23</div>
                </div>
                <div class="check__col check__col_third">
                </div>
                <div class="check__col">
                    <div class="check__name">$120 000 000</div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col check__col_second">
                    <div class="check__numbers"><span class="check__numbers__gray">01 32 33 12 25 26 25</span> 03 04 11 23</div>
                </div>
                <div class="check__col check__col_third">
                    <div class="check__finish">Джекпот разыгран</div>
                </div>
                <div class="check__col">
                    <div class="check__name">$120 000 000</div>
                </div>
            </div>
            <div class="check__row">
                <div class="check__col">
                    <div class="check__date"><a href="#" class="check__date__link">108</a> / 02.12.2014</div>
                </div>
                <div class="check__col check__col_second">
                    <div class="check__numbers"><span class="check__numbers__gray">01 32 33 12 25 26 25</span> 03 04 11 23 <span class="check__numbers__gray">01 32 33 12 25 26 25</span> 03 04 11 23</div>
                </div>
                <div class="check__col check__col_third">
                </div>
                <div class="check__col">
                    <div class="check__name">$120 000 000</div>
                </div>
            </div>
        </div>
    </div>
    <div class="check__bottom">
        <import src="modules/pagination/pagination-inner.htm"></import>
    </div>
</div>