.check{
    overflow: hidden;
	background-color: #fff;
    border: 0.188em solid #ffd200;
    border-radius: 0.438em;
	// elements
	&__{
	   &month{
           color: #000;
            font-family: PTSans;
            font-size: 1.563em;
       }
       &table{
           margin-top: 20px;
       }
        &row{
            display: flex;
            align-items: center;
            margin: 7px 0;
            &:first-child{
                @media(--s-mobile){
                    display: none;
                }
            }
            @media(--s-mobile){
                flex-direction: column;
                &:not(:last-child){
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 0.063em dashed #c7c7c7;
                }
            }
        }
        &col{
            width: 33.33%;
            &_second{
                width: 390px;
            }
            &_third{
                @media(--mobile-less){
                    display: none;
                }
            }
            @media(--mobile-less){
                width: 100%;
            }
        }
        &title{
            color: #a3aeb5;
            font-size: 13px;
            @media(--mobile){
                text-align: center;
            }
        }
        &date{
            color: #5e6254;
            font-size: 0.813em;
            &__link{
                color: #0394d8;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &number{
            max-width: 160px;
            text-align: center;
            line-height: 34px;
            background-color: #e4edf2;
            border-radius: 0.438em;
            color: #5e6254;
            font-size: 13px;
            font-weight: 700;
            @media(--mobile-less){
                max-width: 100px;
                margin: 10px 0;
            }
        }
        &numbers{
            box-sizing: border-box;
            padding: 7px 9px;
            background-color: #e4edf2;
            border-radius: 0.438em;
            font-size: 15px;
            &__gray{
                color: #5e6254;
            }
            @media(--mobile-less){
                margin: 10px 0;
            }
        }
        &finish{
            width: 64px;
            padding: 7px 0;
            margin: 0 auto;
            background-color: #59a500;
            border-radius: 0.313em;
            color: #fff;
            text-align: center;
            font-size: 11px;
            line-height: 0.9em;
        }
        &name{
            color: #5e6254;
            font-size: 13px;
            @media(--mobile){
                text-align: center;
            }
        }
        &body{
            padding: 20px 25px;
        }
        &bottom{
            padding: 20px 0;
            background-color: #f1f5f2;
        }
	}
}