.winning-combination{
    max-width: 455px;
    padding: 10px 0 20px;
	background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    
	// elements
	&__{
        &title{
            margin: 15px 0 10px;
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
		&balls{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 60px;
        }
        &line{
            margin-top: 20px;
            padding: 12px 0;
            line-height: 24px;
            font-weight: 700;
            text-align: center;
            background-color: rgba(89, 213, 147, 0.2);
            border: 1px solid #bae7cd;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        &bottom{
            text-align: center;
            margin-top: 15px;
        }
        &link{
            font-size: 13px;
            color: $color__blue;
            &:hover{
                text-decoration: none;
            }
            &:not(:first-child){
                margin-left: 20px;
            }
        }
	}
}