<div class="winning-combination">
    <div class="winning-combination__title">Выигрышная комбинация</div>
    <div class="winning-combination__balls">
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
        <div class="ball ball_size_big ball_color_yellow">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
        <div class="ball ball_size_big ball_color_green ball_clear">1</div>
        <div class="ball ball_size_big ball_color_yellow ball_clear">1</div>
    </div>
    <div class="winning-combination__title">Джокер</div>
    <div class="winning-combination__balls">
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_green">1</div>
        <div class="ball ball_size_big ball_color_white">1</div>
    </div>
    <div class="winning-combination__line">Поздравляем! Ваша комбинация выиграла 10$</div>
    <div class="winning-combination__bottom">
        <a href="#" class="winning-combination__link">Результаты тиража</a>
        <a href="#" class="winning-combination__link">Видеотрансляция</a>
    </div>
</div>