<div class="g-section">
    <div class="g-section__content">
        <div class="communications">
            <div class="communications__content">
                <div class="communications__left">
                    <div class="communications__title">Контактная информация</div>
                    <div class="communications__text">In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa. </div>
                    <div class="communications__section">
                        <div class="communications__subtitle">
                            <div class="communications__subtitle__icon"><i class="icon-ok"></i></div>
                            <div class="communications__subtitle__text">Юридический адрес компании: </div>
                        </div>
                        <div class="communications__text">P.O. Box 590, Suite 5 Horsford’s Business Centre, Long Point Road, Charlestown, Nevis, West Indies.</div>          
                    </div>
                    <div class="communications__section">
                        <div class="communications__subtitle">
                            <div class="communications__subtitle__icon"><i class="icon-ok"></i></div>
                            <div class="communications__subtitle__text">Skype: </div>
                        </div>
                        <div class="communications__text">prolotto</div>                        
                    </div>
                    <div class="communications__section">
                        <div class="communications__subtitle">
                            <div class="communications__subtitle__icon"><i class="icon-ok"></i></div>
                            <div class="communications__subtitle__text">Телефоны:  </div>
                        </div>
                        <div class="communications__phones">
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">Germany:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                            <div class="communications__phone">
                                <div class="communications__phone__name">The USA:</div>
                                <div class="communications__phone__number">0800-1700-409</div>
                            </div>
                        </div>                   
                    </div>
                    <div class="communications__section">
                        <div class="communications__text">Здесь можно задать вопрос, высказать замечание или предложение специалистам нашей компании. Советуем обратить внимание на часто <a href="#" class="communications__link">задаваемые вопросы</a>, <a href="#" class="communications__link">Условия пользования</a>, <a href="#" class="communications__link">Политика безопасности.</a></div>                        
                    </div>
                </div>
                <div class="communications__right">
                    <import src="modules/contact-form/contact-form.htm"></import>
                </div>
            </div>
        </div>
    </div>
</div>