.communications{
	padding: 25px 0;
	// elements
	&__{
		&content{
            display: flex;
            align-items: flex-start;
            @media(--s-tablet-less){
                flex-direction: column;
            }
        }
        &left{
            width: 50%;
            margin-right: 25px;
            @media(--s-tablet-less){
                width: 100%;
                margin-right: 0;
            }
        }
        &right{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            @media(--s-tablet-less){
                justify-content: center;
                width: 100%;
            }
        }
        &section{
            margin-top: 15px;
        }
        &title{
            font-family: PTSans;
            font-size: 25px;
        }
        &text{
            color: #5e6254;
            font-size: 15px;
        }
        &subtitle{
            display: flex;
            align-items: center;
            &__icon{
                font-size: 24px;
                color: #599dd6;
                margin-right: 10px;
            }
            &__text{
                color: #5e6254;
                font-size: 15px;
                font-weight: 700;
            }
        }
        &link{
            color: #599dd6;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        &phones{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &phone{
            display: flex;
            width: 50%;
            color: #5e6254;
            font-size: 15px;
            line-height: 20px;
            &__name{
                width: 85px;
                min-width: 85px;
            }
            @media(--tablet){
                font-size: 13px;
                &__name{
                    width: 70px;
                    min-width: 70px;
                }
            }
            @media(--s-tablet-less){
                width: 100%;
            }
        }
	}
}