<div class="check-results">
    <div class="check-results__main">
        <div class="check-results__title">Проверка результатов лотереи 4x4 Lotto</div>
        <div class="check-results__selects">
            <import src="modules/types/types.htm"></import>
        </div>
        
        <import src="modules/statistics/statistics.htm"></import>
        <import src="modules/dropping/dropping.htm"></import>
        
        <div class="check-results__filter">
            <import src="modules/filter/filter-inner.htm"></import>
        </div>
        <div class="check-results__sort">
            <div class="check-results__sort__text">Показывать комбинации:</div>
            <div class="check-results__sort__tab _active">по порядку выпадения номеров</div>
            <div class="check-results__sort__text">или</div>
            <div class="check-results__sort__tab">по возрастанию</div>
        </div>
        <div class="check-results__body">
            <import src="modules/check/check2.htm"></import>
        </div>
    </div>
    <div class="check-results__aside">
        <div class="check-results__share">
            <import src="modules/share/share.htm"></import>
        </div>
        <import src="modules/quick-lottery/quick-lottery.htm"></import>
        <import src="modules/fallback/fallback.htm"></import>
		<import src="modules/links/links.htm"></import>
		<import src="modules/social-links/social-links.htm"></import>
    </div>
</div>