<div class="hat-inner">
    <div class="hat-inner__title">Результаты тиража № 105 от 30.12.2014</div>
    <import src="modules/share/share.htm"></import>
</div>
<div class="check-results">
    <div class="check-results__main">
        
        <import src="modules/video/video.htm"></import>
        <import src="modules/videos/videos.htm"></import>
    </div>
    <div class="check-results__aside">
        <import src="modules/quick-lottery/quick-lottery--video.htm"></import>
    </div>
</div>