<div class="hat-inner">
    <div class="hat-inner__title">Результаты тиража № 105 от 30.12.2014</div>
    <import src="modules/share/share.htm"></import>
</div>
<div class="check-results">
    <div class="check-results__main">
        <div class="check-results__selects">
            <import src="modules/types/types.htm"></import>
        </div>
        
        <import src="modules/statistics/statistics.htm"></import>
        
    </div>
    <div class="check-results__aside">
        <import src="modules/quick-lottery/quick-lottery.htm"></import>
		<import src="modules/links/links.htm"></import>
		<import src="modules/social-links/social-links.htm"></import>
    </div>
</div>