<div class="hat-inner">
    <div class="hat-inner__title">Результаты тиража № 105 от 30.12.2014</div>
    <import src="modules/share/share.htm"></import>
</div>
<div class="check-results">
    <div class="check-results__main">
        <div class="check-results__selects">
            <import module="types"></import>
        </div>
        <div class="check-results__filter">
            <import src="modules/filter/filter-inner.htm"></import>
        </div>
        <div class="check-results__sort">
            <div class="check-results__sort__text">Показывать комбинации:</div>
            <div class="check-results__sort__tab _active">по порядку выпадения номеров</div>
            <div class="check-results__sort__text">или</div>
            <div class="check-results__sort__tab">по возрастанию</div>
        </div>
        <div class="check-results__body">
            <import module="check"></import>
        </div>
    </div>
    <div class="check-results__aside">
        <div class="check-results__items">
            <div class="check-results__tovar">
                <div class="check-results__tovar__body">
                    <div class="check-results__tovar__preview">
                    <img src=":120x180" alt="">
                    </div>
                    <div class="check-results__tovar__name">Смартфон Amazon Kindle</div>
                    <a href="#" class="check-results__tovar__play button_color_green">Играть</a>
                </div>
                <div class="check-results__tovar__bottom">
                    <import src="modules/timer/timer-inner.htm"></import>
                </div>
            </div>
            <div class="check-results__tovar">
                <div class="check-results__tovar__body">
                    <div class="check-results__tovar__preview">
                    <img src=":120x180" alt="">
                    </div>
                    <div class="check-results__tovar__name">Смартфон Amazon Kindle</div>
                    <a href="#" class="check-results__tovar__play button_color_green">Играть</a>
                </div>
                <div class="check-results__tovar__bottom">
                    <import src="modules/timer/timer-inner.htm"></import>
                </div>
            </div>
        </div>
		<import src="modules/social-links/social-links.htm"></import>
    </div>
</div>