<div class="hat-inner">
    <div class="hat-inner__title">Результаты тиража № 105 от 30.12.2014</div>
    <import src="modules/share/share.htm"></import>
</div>
<div class="check-results">
    <div class="check-results__main">
        <import src="modules/links/links--rules.htm"></import>
        <import src="modules/topic/topic.htm"></import>
        <import src="modules/topic/topic-list.htm"></import>
        <import src="modules/topic/topic-list-num.htm"></import>
        <import src="modules/topic/topic-img.htm"></import>
        <import src="modules/topic/topic-table.htm"></import>
    </div>
    <div class="check-results__aside">
        <import src="modules/fallback/fallback.htm"></import>
		<import src="modules/links/links.htm"></import>
		<import src="modules/social-links/social-links.htm"></import>
    </div>
</div>