.check-results{
	display: flex;
    @media(--tablet-less){
        flex-direction: column;
    }
	// elements
	&__{
        &main{
            width: 100%;
        }
		&aside{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-left: 30px;
            @media(--tablet){
                padding-top: 0;
                margin-left: 0;
                justify-content: space-between;
                flex-direction: row;
                align-items: flex-start;
            }
            @media(--s-tablet-less){
                padding-top: 0;
                margin-left: 0;
                flex-direction: column;
                align-items: center;
            }
        }
        &share{
            @media(--tablet-less){
                display: none;
            }
        }
        &title{
            margin: 30px 0 20px;
            color: #000;
            font-family: PTSans;
            font-size: 2.25em;
            font-weight: 700;
        }
        &filter{
            margin-top: 15px;
        }
        &sort{
            display: flex;
            margin: 30px 0 10px;
            line-height: 22px;
            &__text{
                margin-left: 10px;
                font-size: 0.813em;
                color: #5e6254;
                @media(--mobile-less){
                    display: none;
                }
                &:first-child{
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
            &__tab{
                font-size: 0.813em;
                color: #5e6254;
                    padding: 0 12px;
                @media(--mobile-less){
                    font-size: 13px;
                }
                &:not(._active){
                    cursor: pointer;
                }
                &._active{
                    background-color: #ffd200;
                    border-radius: 0.438em;
                    color: #000;
                }
            }
        }
        &items{
            @media(--tablet){
                display: flex;
            }
        }
        &tovar{
            box-sizing: border-box;
            width: 210px;
            margin-top: 25px;
            text-align: center;
            border: 1px solid #eee;
            border-radius: 4px;
            background-color: #fff;
            @media(--tablet-less){
                margin-right: 5%;
            }
            &__body{
                padding: 30px 20px 0;
            }
            &__name{
                margin-top: 10px;
                font-family: PTSans;
                font-size: 25px;
            }
            &__play{
                display: block;
                width: 126px;
                padding-top: 2px;
                margin: 10px auto;
                line-height: 32px;
                text-align: center;
                border-radius: 3px;
                text-transform: uppercase;
                font-family: PTSans;
                font-weight: 700;
                text-decoration: none;
            }
            &__bottom{
                padding: 10px 15px 20px 15px;
                background-color: #f7f7f7;
            }
        }
	}
}