<div class="comments-section">
    <div class="comments-section__title">Коментарии</div>
    <div class="comments-section__body">
        <import src="modules/comments/comments.htm"></import>
    </div>
</div>