<div class="useful">
	<div class="useful__item">
		<div class="useful__icon"><img src="img/useful1.png" alt="" class="useful__icon__img"></div>
		<div class="useful__title">Наши победители</div>
		<div class="useful__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque tetur adipiscing elit. Fusce vestibulum laoreet metus, in la</div>
		<a href="#" class="useful__link">Перейти</a>
	</div>
	<div class="useful__item">
		<div class="useful__icon"><img src="img/useful2.png" alt="" class="useful__icon__img"></div>
		<div class="useful__title">Выплачено призов</div>
		<import module="counter"></import>
		<div class="useful__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet </div>
	</div>
	<div class="useful__item">
		<div class="useful__icon"><img src="img/useful3.png" alt="" class="useful__icon__img"></div>
		<div class="useful__title">Видеорозыгрыши</div>
		<div class="useful__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque tetur adipiscing elit. Fusce vestibulum laoreet metus, in la</div>
		<a href="#" class="useful__link">Перейти</a>
	</div>
	<div class="useful__item">
		<div class="useful__icon"><img src="img/useful4.png" alt="" class="useful__icon__img"></div>
		<div class="useful__title">Пожертвования</div>
		<div class="useful__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque tetur adipiscing elit. Fusce vestibulum laoreet metus, in la</div>
		<a href="#" class="useful__link">Перейти</a>
	</div>
</div>