.useful{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	
	@media(--tablet-less){
        justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	
	// elements
	&__{
		&item{
			width: 22%;
			text-align: center;
			@media(--tablet-less){
				width: 42%;
				margin-bottom: 50px;
			}
			@media(--mobile-less){
				width: 100%;
			}
		}
		&icon{
			position: relative;
			width: 100%;
			height: 100px;
			&__img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&title{
            position: relative;
            z-index: 1;
			text-shadow: 0.031em 0.056em 0 rgba(255, 255, 255, 0.27);
			color: #000;
			font-family: PTSans;
			font-size: 1.563em;
		}
		&text{
            position: relative;
            z-index: 1;
			color: #5b6a6c;
			font-size: 0.813em;
		}
		&link{
			color: #0394d8;
			font-size: 0.813em;
			text-decoration: underline;
		}
	}
}