<div class="social-links">
    <div class="social-links__title">Мы в социальных сетях:</div>
    <div class="social-links__content">
        <a href="#" class="social-links__link social-links__link_fb"><i class="icon-socfb"></i></a>
        <a href="#" class="social-links__link social-links__link_tw"><i class="icon-soctw"></i></a>
        <a href="#" class="social-links__link social-links__link_vk"><i class="icon-socvk"></i></a>
        <a href="#" class="social-links__link social-links__link_ok"><i class="icon-socok"></i></a>
        <a href="#" class="social-links__link social-links__link_gp"><i class="icon-socgp"></i></a>
    </div>
</div>