.social-links{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    &_inline{
        flex-direction: row !important;
        @media(--tablet-less){
            flex-wrap: wrap;
        }
        .social-links__title{
            margin-right: 20px;
            @media(--mobile-less){
                margin: 0 auto !important;
            }
        }
    }
	// elements
	&__{
		&title{
            font-family: PTSans;
            font-size: 24px;
            line-height: 40px;
            @media(--mobile-less){
                display: none;
            }
        }
        &content{
            display: flex;
            align-items: center;
            @media(--mobile-less){
                position: relative;
                z-index: 1;
                margin: 0 auto;
                &:after{
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: -15px;
                    left: -200%;
                    width: 500%;
                    height: 62px;
                    background-color: #f4fafb;
                }
            }
        }
        &link{
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 3px;
            line-height: 32px;
            text-align: center;
            color: #fff;
            &:hover{
                opacity: 0.8;
            }
            &:not(:last-child){
                margin-right: 12px;
            }
            &_fb{
                background-color: #5491cb;
            }
            &_tw{
                background-color: #47c9d0;
            }
            &_vk{
                background-color: #476e97;
            }
            &_ok{
                background-color: #f58326;
            }
            &_gp{
                background-color: #da4835;
            }
        }
	}
}