<div class="about-lottery">
    <div class="about-lottery__title">О лоттерее Mega Millions</div>
    <div class="about-lottery__body">
        <p>Известная во всем мире немецкая лотерея Lotto регулярно проводится, начиная с 1955 года, и является самой популярной лотереей Германии. Организатором игры является «Deutscher Lotto und Totoblock», в которую входят 16 лотерей. Участие в Lotto предполагает выбор шести чисел от 1 до 49. Самый крупный выигрыш в истории этой лотереи составил 43 382 458 евро и был поделен между тремя счастливчиками в 2007 году. Максимальный выигрыш, который достался одному человеку, составил 37 688 292 евро, и было это в 2006 году.</p>
        <p>Минимальный размер призового фонда в Lotto составляет 1 миллион евро по средам и 2 миллиона евро по субботам.</p>
        <p><b>В случае если выигрышную комбинацию никто не угадал, сумма джек-пота переносится на следующий розыгрыш.</b></p> 
       <p>Результаты розыгрышей можно узнать сразу после окончания тиражей.Информацию о распределении призов или количестве победителей оглашают на следующий день, когда все данные проверены и подтверждены.</p>
        <p>Известная во всем мире немецкая лотерея Lotto регулярно проводится, начиная с 1955 года, и является самой популярной лотереей Германии. Организатором игры является «Deutscher Lotto und Totoblock», в которую входят 16 лотерей. Участие в Lotto предполагает выбор шести чисел от 1 до 49. Самый крупный выигрыш в истории этой лотереи составил 43 382 458 евро и был поделен между тремя счастливчиками в 2007 году. Максимальный выигрыш, который достался одному человеку, составил 37 688 292 евро, и было это в 2006 году.</p>
        <p>Минимальный размер призового фонда в Lotto составляет 1 миллион евро по средам и 2 миллиона евро по субботам.</p>
        <p><b>В случае если выигрышную комбинацию никто не угадал, сумма джек-пота переносится на следующий розыгрыш.</b></p> 
       <p>Результаты розыгрышей можно узнать сразу после окончания тиражей.Информацию о распределении призов или количестве победителей оглашают на следующий день, когда все данные проверены и подтверждены.</p>
        <p>Известная во всем мире немецкая лотерея Lotto регулярно проводится, начиная с 1955 года, и является самой популярной лотереей Германии. Организатором игры является «Deutscher Lotto und Totoblock», в которую входят 16 лотерей. Участие в Lotto предполагает выбор шести чисел от 1 до 49. Самый крупный выигрыш в истории этой лотереи составил 43 382 458 евро и был поделен между тремя счастливчиками в 2007 году. Максимальный выигрыш, который достался одному человеку, составил 37 688 292 евро, и было это в 2006 году.</p>
        <p>Минимальный размер призового фонда в Lotto составляет 1 миллион евро по средам и 2 миллиона евро по субботам.</p>
        <p><b>В случае если выигрышную комбинацию никто не угадал, сумма джек-пота переносится на следующий розыгрыш.</b></p> 
       <p>Результаты розыгрышей можно узнать сразу после окончания тиражей.Информацию о распределении призов или количестве победителей оглашают на следующий день, когда все данные проверены и подтверждены.</p>
        <div class="about-lottery__info">
            <div class="about-lottery__list">
                <p><b>Страны проведения: </b>Европа, США</p>
                <p><b>Страны проведения: </b>Европа, США</p>
                <p><b>Страны проведения: </b>Европа, США</p>
                <p><b>Страны проведения: </b>Европа, США</p>
                <p><b>Страны проведения: </b>Европа, США</p>
            </div>
        </div>
    </div>
</div>