.about-lottery{
    padding: 25px 0;
	// elements
	&__{
		&title{
            font-family: PTSans;
            font-size: 25px;
        }
        &body{
	       position: relative;
            margin-top: 10px;
            font-size: 13px;
            column-count: 3;
            @media(--tablet-less){
                column-count: 2;
            }
            @media(--mobile-less){
                column-count: 1;
            }
            p{
                margin-bottom: 10px;
            }
            b{
                font-weight: 700;
            }
        }
        &info{
            padding: 20px 25px 10px;
            box-sizing: border-box;
            border: 6px solid #ffd200;
        }
	}
}