<div class="lottery">
	<div class="lottery__content">
		<div class="lottery__inline">
			<div class="lottery__left">
				<div class="lottery__title">Гослото 6 из 45</div>
                <div class="lottery__img">
                    <img src="http://dummyimage.com/126x90/00ddff" alt="">
                </div>
				<div class="lottery__text">Всероссийская государственная тиражная лотерея «ВГЛ 1 Спорт» «Гослотo «5 из 36»</div>
				<div class="lottery__links">
					<a href="#" class="lottery__link">Сайт игры</a>
					<a href="#" class="lottery__link">Как играть</a>
					<a href="#" class="lottery__link">Подробные правила</a>
					<a href="#" class="lottery__link">Как получить выигрыш</a>
					<a href="#" class="lottery__link">Видеоархив</a>
					<a href="#" class="lottery__link">Все результаты</a>
					<a href="#" class="lottery__link">Проверить билет</a>
					<a href="#" class="lottery__link">Статистика</a>
					<a href="#" class="lottery__link">Групповая игра</a>
				</div>
			</div>
			<div class="lottery__right">
				<div class="lottery__jackpot">
					<div class="lottery__jackpot__title">Джекпот</div>
					<div class="lottery__jackpot__body">
						<div class="lottery__jackpot__number">1 011 678 000</div>
						<div class="lottery__jackpot__type">руб.</div>
					</div>
				</div>
				<div class="lottery__result">
					<div class="lottery__result__title">Результаты последнего тиража № 105 от 10.01.2015</div>
					<div class="lottery__result__body">
						<div class="lottery__result__numbers">
							<div class="lottery__result__numeral ball ball_size_small ball_color_yellow">0</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">1</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">2</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">3</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">4</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">5</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">6</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">7</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">8</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">9</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">10</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">6</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">7</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">8</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">9</div>
							<div class="lottery__result__numeral ball ball_size_small ball_color_green">10</div>
						</div>
						<div class="lottery__result__inline">
							<div class="lottery__result__text">Общее число победителей:</div>
							<div class="lottery__result__number">347 249</div>
						</div>
						<div class="lottery__result__inline">
							<div class="lottery__result__text">Сумма, выплаченная по <br>итогам розыгрыша:</div>
							<div class="lottery__result__number"> $ 1 315 216</div>
						</div>
						<div class="lottery__result__inline">
							<div class="lottery__result__text">Джекпот увеличился на сумму:</div>
							<div class="lottery__result__number">$ 10 000 000</div>
						</div>
					</div>
				</div>
				<a href="#" class="lottery__play button_color_green">играть сейчас</a>
			</div>
		</div>
	</div>
</div>