<div class="lottery">
	<div class="lottery__content">
        <div class="lottery__inline">
            <div class="lottery__left">
                <div class="lottery__title">Все по 100</div>
                <div class="lottery__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
                <div class="lottery__links">
                    <a href="#" class="lottery__link">Сайт игры</a>
                    <a href="#" class="lottery__link">Как играть</a>
                    <a href="#" class="lottery__link">Подробные правила</a>
                    <a href="#" class="lottery__link">Как получить выигрыш</a>
                    <a href="#" class="lottery__link">Видеоархив</a>
                    <a href="#" class="lottery__link">Все результаты</a>
                    <a href="#" class="lottery__link">Проверить билет</a>
                    <a href="#" class="lottery__link">Статистика</a>
                    <a href="#" class="lottery__link">Групповая игра</a>
                </div>
            </div>
            <div class="lottery__right">
                <div class="lottery__tovar">
                    <div class="lottery__tovar__preview">
                        <img src="http://dummyimage.com/200x270/00ddff" alt="">
                        <div class="lottery__tovar__banner">
                            <div class="lottery__tovar__number">100</div>
                            <div class="lottery__tovar__currency">руб.</div>
                        </div>
                    </div>
                    <div class="lottery__tovar__title">Краткое описание ВСЕ ПО 100</div>
                    <div class="lottery__tovar__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
                </div>
                <a href="#" class="lottery__play button_color_green">играть сейчас</a>
            </div>
        </div>
	</div>
</div>