<div class="lottery">
	<div class="lottery__content">
		<div class="lottery__top">
			<div class="lottery__left">
				<div class="lottery__title">Магазин лотерейных билетов</div>
			</div>
			<div class="lottery__right">
			</div>
		</div>
		<div class="lottery__bottom">
			<div class="lottery__left">
				<div class="lottery__links">
                    <a href="#" class="lottery__link">О компании</a>
                    <a href="#" class="lottery__link">Как работает наш сервис</a>
                    <a href="#" class="lottery__link">Новости</a>
                    <a href="#" class="lottery__link">Статьи</a>
                    <a href="#" class="lottery__link">Условия пользования</a>
                    <a href="#" class="lottery__link">Правовая информация</a>
                    <a href="#" class="lottery__link">Политика безопасности</a>
                    <a href="#" class="lottery__link">Партнерская программа</a>
                    <a href="#" class="lottery__link">Контактная информация</a>
                    <a href="#" class="lottery__link">Служба поддержки</a>
				</div>
			</div>
			<div class="lottery__right">
                <div class="lottery__tovar">
                    <div class="lottery__tovar__preview">
                        <img src="http://dummyimage.com/400x300/00ddff" alt="">
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>