.lottery{
	position: relative;
	// elements
	&__{
		&inline{
			display: flex;
            @media(--tablet-less){
                flex-direction: column-reverse;
            }
		}
		&top{
			display: flex;
			@media(--tablet-less){
				flex-direction: column;
			}
		}
		&bottom{
			display: flex;
			@media(--tablet-less){
				flex-direction: column-reverse;
			}
		}
		&left{
			box-sizing: border-box;
			width: 40%;
			padding-right: 30px;
			@media(--tablet-less){
				width: 100%;
                margin-top: 25px;
			}
		}
		&right{
			width: 60%;
			@media(--tablet-less){
				width: 100%;
			}
		}
		&title{
			color: #000;
			font-family: PTSans;
			font-size: 1.563em;
			@media(--tablet-less){
				margin-bottom: 10px;
			}
		}
        &img{
			margin: 15px 0;
        }
		&text{
			margin-top: 20px;
			margin-bottom: 15px;
			color: #5e6254;
			font-size: 0.813em;
			@media(--tablet-less){
				display: none;
			}
		}
		&links{
			@media(--tablet-less){
				display: flex;
				flex-wrap: wrap;
				width: 100%;
			}
		}
		&link{
			display: block;
			color: #0394d8;
			font-size: 0.875em;
			text-decoration: none;
			@media(--tablet-less){
				width: 50%;
			}
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}
		&jackpot{
			margin-top: 30px;
			margin-bottom: 15px;
			&__title{
				margin-bottom: 5px;
				color: #010101;
				font-size: 0.813em;
				font-weight: 700;
			}
			&__body{
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px 30px 10px;
				
				height: 70px;
				border: 0.25em solid #ffdd1e;
				border-radius: 0.375em;
			}
			&__number{
				font-family: PTSans;
				font-weight: 700;
				font-size: 2.938em;
                line-height: 47px;
			}
			&__type{
				font-family: PTSans;
				font-weight: 700;
				font-size: 1.75em;
			}
		}
		&result{
			@media(--tablet-less){
				margin-top: 20px;
			}
			&__title{
				margin-bottom: 5px;
				color: #010101;
				font-size: 0.813em;
				font-weight: 700;
			}
			&__body{
				padding: 17px;
				border: 0.063em solid #e1e1e1;
				border-radius: 0.188em;
			}
			&__numbers{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: 10px;
			}
            &__number{
                min-width: 90px;
            }
			&__inline{
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #5e6254;
				font-size: 0.813em;
				&:not(:last-child){
					margin-bottom: 5px;
				}
			}
		}
        &tovar{
            &__preview{
                position: relative;
                display: inline-block;
            }
            &__banner{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
                width: 110px;
                height: 110px;
                border-radius: 50%;
                background-color: #d54531;
                color: #fff;
            }
            &__number{
                font-family: BrushScriptStd;
                font-size: 2.125em;
            }
            &__currency{
                margin-left: 5px;
                font-style: italic;
            }
            &__title{
                margin-top: 15px;
                font-size: 0.813em;
                font-weight: 700;
                text-transform: uppercase;
            }
            &__text{
                margin-top: 5px;
                font-size: 0.813em;
                color: #5e6254;
            }
        }
	}
		&__play{
			display: inline-block;
			padding: 0 35px;
			margin-top: 25px;
			line-height: 33px;
			text-decoration: none;
			text-transform: uppercase;
			font-family: PTSans;
			font-size: 0.938em;
			font-weight: 700;
			border-radius: 0.313em;
		}
}