<div class="choice-combination">
    <table class="choice-combination__table">
        <tr>
            <th>Основной диапазон</th>
            <th>Дополнительный</th>
            <th></th>
        </tr>
        <tr class="choice-combination__line">
            <td>
                <div class="choice-combination__box">
                    <div class="choice-combination__cell">47
                        <import src="modules/prompt/prompt.htm"></import>
                    </div>
                    <div class="choice-combination__cell">47
                        <import src="modules/prompt/prompt2.htm"></import>
                    </div>
                    <div class="choice-combination__cell">47
                        <import src="modules/prompt/prompt3.htm"></import>
                    </div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                </div>
            </td>
            <td>
                <div class="choice-combination__box">
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                </div>
            </td>
            <td>
                <div class="choice-combination__del"><i class="icon-cancel"></i></div>
            </td>
        </tr>
        <tr class="choice-combination__line _active">
            <td>
                <div class="choice-combination__box">
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                </div>
            </td>
            <td>
                <div class="choice-combination__box">
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                    <div class="choice-combination__cell">47</div>
                </div>
            </td>
            <td>
                <div class="choice-combination__del"><i class="icon-cancel"></i></div>
            </td>
        </tr>
    </table>
    <div class="choice-combination__add">
        <div class="choice-combination__add__sign">+</div>
        <div class="choice-combination__add__text">добавить <br>комбинацию</div>
    </div>
</div>