.choice-combination{
	
	// elements
	&__{
        &table{
            margin-top: 10px;
        }
	   &cell{
           position: relative;
           box-sizing: border-box;
            width: 27px;
            height: 32px;
            margin-left: 7px;
            line-height: 32px;
            border: 1px solid #a5a5a5;
            border-radius: 3px;
            box-shadow: inset 0 0 2.8px 5.2px rgba(255, 255, 255, 0.2);
            
            text-align: center;
            font-family: PTSans;
            font-size: 15px;
            font-weight: 700;
            color: $color__gray1;
            cursor: pointer;
            @media(--tablet-less){
                width: 21px;
                height: 30px;
                margin-left: 2px;
                font-size: 14px;
            }
            &:hover{
                border-width: 2px;
                border-color:#59a500 !important;
                .prompt{
                    display: block;
                }
            }
       }
       &box{
            display: flex;
            align-items: center;
            margin-left: -7px;
            @media(--tablet-less){
                margin-left: -2px;
            }
       }
       &del{
           color: #c7c7c7;
           cursor: pointer;
       }
       &line{
           &._active .choice-combination__cell{
               border-color: $color__yellow;
           }
       }
       &add{
           display: flex;
           align-items: center;
           margin-top: 20px;
            &__text{
                color: $color__blue;
                font-size: 13px;
                margin-left: 12px;
                text-align: left;
            }
            &__sign{
                box-sizing: border-box;
                width: 48px;
                height: 48px;
                text-align: center;
                line-height: 54px;
                border-radius: 50%;
                background-color: #fff;
                border: 1px solid rgba(0, 139, 210, 0.3);

                color: $color__blue;
                font-family: PTSans;
                font-size: 40px;
                cursor: pointer;
            }
       }
	}
    table{
        width: 100%;
    }
    th{
        padding-bottom: 3px;
        text-align: left;
        font-size: 13px;
        color: $color__gray1;
    }
    td{
        padding: 5px 0;
        vertical-align: middle;
    }
}