<div block="filter">
    <div elem="set">
        <select elem="select _selected">
            <option value="0" selected >Название лотереи</option>
            <option value="1">Лотереи Америки</option>
            <option value="2">Лотереи Африки</option>
        </select>
        <select elem="select">
            <option value="0" selected >Название лотереи</option>
            <option value="1">Лотереи Америки</option>
            <option value="2">Лотереи Африки</option>
        </select>
    </div>
    <div elem="set filter__set_big">
        <div elem="inline">
            <div elem="date">
                <input type="text" elem="field" placeholder="Дата" value="31.03.2015">
                <div class="filter__date__icon"><i class="icon-calendar"></i></div>
            </div>
            <div elem="date">
                <input type="text" elem="field" placeholder="Дата" value="31.03.2015">
                <div class="filter__date__icon"><i class="icon-calendar"></i></div>
            </div>
            <div elem="button">Найти</div>
        </div>
        <div elem="inline">
            <input type="text" elem="input" placeholder="Номер тиража">
            <div elem="button">ок</div>
        </div>
    </div>
</div>