<div block="filter">
    <div elem="set">
        <div elem="date">
            <input type="text" elem="field" placeholder="Дата" value="31.03.2015">
            <div class="filter__date__icon"><i class="icon-calendar"></i></div>
        </div>
        <div elem="date">
            <input type="text" elem="field" placeholder="Дата" value="31.03.2015">
            <div class="filter__date__icon"><i class="icon-calendar"></i></div>
        </div>
        <div elem="button">Найти</div>
        <div elem="checkbox">
            <input type="checkbox" name="super" id="super" class="filter__checkbox__input">
            <label for="super" class="filter__checkbox__label">С разыгранным суперпризом</label>
        </div>
    </div>
</div>