$filter__height: 32px;
.filter{
	
	// elements
	&__{
        &set{
            display: flex;
            
            @media (--mobile-less) {
                flex-wrap: wrap !important;
            }
            &_big{
                @media (--s-tablet-less) {
                    flex-direction: column;
                }
            }
            
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
        &inline{
            width: 100%;
            display: flex;
            &:first-child{
                margin-right: 0.5rem;
                @media (--s-tablet-less) {
                    margin-bottom: 15px;
                }
            }
        }
        &input{
            box-sizing: border-box;
            position: relative;
            background-color: #fff;
            max-width: 185px;
            height: $filter__height;
            border: none;
            
            border-radius: 3px;
            line-height: $filter__height;
            
            
            padding: 0 .75rem;
            margin: 0 .5rem 0 0;
            
            box-shadow: 0 0 0 1px #cecece inset;
            font-size: 1rem;
            color: #5e6254;
            
            flex: 1;
            
            white-space: nowrap;
            overflow: hidden;
        }
        &date{
            box-sizing: border-box;
            position: relative;
            background-color: #fff;
            max-width: 185px;
            height: $filter__height;
            border: none;
            
            border-radius: 3px;
            line-height: $filter__height;
            
            
            padding: 0 .75rem;
            margin: 0 .5rem 0 0;
            
            box-shadow: 0 0 0 1px #cecece inset;
            font-size: 1rem;
            color: #5e6254;
            
            flex: 1;
            
            white-space: nowrap;
            overflow: hidden;
            
            @media (--s-mobile) {
                max-width: 130px;
                padding: 0 .5rem;
                margin-right: 10px;
                font-size: 14px;
            }
            &__icon{
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translate(0, -50%);
                color: $color__blue;
                @media (--mobile-less) {
                    right: .5rem;
                }
            }
        }
        &select{
            max-width: 185px;
            height: $filter__height;
            border: none;
            
            border-radius: 3px;
            line-height: $filter__height;
            
            @media (--mobile-less) {
                max-width: 100%;
                margin-top: .5rem;
            }
            
            &:not(:last-child){
                margin-right: .5rem;
            }
        }
        &button{
            height: $filter__height;
            border: none;
            
            border-radius: 3px;
            line-height: 35px;
            
            
            &:not(:last-child){
                margin-right: .5rem;
            }
            
            @media (--mobile-less) {
                margin-right: 0 !important;
            }
        }
        &select{
            padding: 0 .75rem;
            margin: 0 .5rem 0 0;
            
            box-shadow: 0 0 0 1px #cecece inset;
            font-size: 1rem;
            color: #5e6254;
        }
        &select{
            min-width: 220px;
            
            &._selected{
                background: $color__yellow;
                box-shadow: none;
                color: black;
            }
        }
        &button{
            padding: 0 .75rem;
            
            font-family: PTSans;
            font-weight: 700;
            
            text-transform: uppercase;
            background: $color__blue;
            color: white;
            
            transition: .3s;
            
            @media (--mobile-less) {
                text-align: center;
            }
            
            &:hover{
                background: color($color__blue b(.2));
                cursor: pointer;
            }
        }
        &checkbox{
            display: flex;
            align-items: center;
            @media(--mobile-less){
                width: 100%;
                margin-top: 15px;
            }
            &__input{
                display: none;
            }
            &__label{
                position: relative;
                padding-left: 25px;
            }
            &__input + label{
                display: block;
                color: #5e6254;
                font-family: Arial;
                font-size: 0.813em;
                font-weight: 400;
                &:before{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    box-sizing: border-box;
                    display: block;
                    content: "";
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    background-color: #fff;
                    border: 0.063em solid #cecece;
                    border-radius: 0.188em;
                }
            }
            &__input:checked + label{
                color: #599dd6;
                &:before{
                    padding: 4px;
                    background-color: #599dd6;
                    background-clip: content-box;
                }
            }
        }
	}
}