.pagination{
    
    display: flex;
    justify-content: center;
	&_dotted{
        padding: 30px 0 0;
        border-top: 2px dashed color(black a(.2));
    }
	// elements
	&__{
        &prev,
        &next,
        &numb{
            display: inline-block;
            
            size: 27px 34px;
            margin: 0 2px;
            
            font-family: 'PTSans';
            font-size: 15px;
            font-weight: 700;
            line-height: 36px;
            
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
            background: $color__blue_light;
            
            color: white;
            
            &._active{
                background: $color__yellow;
            }
            &:not(._active){
                &:hover{
                    background-color: #4fa8f2;
                }
                &._not-active{
                    opacity: 0.3;
                }
            }
        }
		&prev{
            &:after{
                content: '<<';
            }
        }
        &next{
            &:after{
                content: '>>';
            }
        }
        &dots{
            display: inline-block;
            align-self: flex-end;
            
            padding: 0 6px;
            margin: 0 2px;
            
            font-weight: 700;
            text-decoration: none;
            color: $color__blue_light;
            
            &:after{
                content: '...';
            }
        }
	}
}