<div block="pagination pagination_dotted">
    <a href="#" elem="prev"></a>
    <a href="#" elem="numb">1</a>
    <span elem="numb _active">2</span>
    <a href="#" elem="numb">3</a>
    <a href="#" elem="dots"></a>
    <a href="#" elem="numb">9</a>
    <a href="#" elem="numb">10</a>
    <a href="#" elem="next"></a>
</div>