<div class="informer-lottery">
    <div class="informer-lottery__left">
        <div class="informer-lottery__preview">
            <img src=":110x110" alt="">
        </div>
        <a href="#" class="informer-lottery__name">Твердохлебов В. А.</a>
    </div>
    <div class="informer-lottery__center">
        <div class="informer-lottery__title">Тут или тип игры или название</div>
        <div class="informer-lottery__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Suspendisse pellentesque, nuncac fermentum eleifend, nibh dictum ipsum maximus vel uncac fermentum eleifend.</div>
        <a href="#" class="informer-lottery__link">Подробное описание</a>
    </div>
    <div class="informer-lottery__right">
        <div class="informer-lottery__box">
            <div class="informer-lottery__info">
                <div class="informer-lottery__item">
                    <div class="informer-lottery__item__icon"><i class="icon-users"></i></div>
                    <div class="informer-lottery__item__text">Участников: 12</div>
                </div>
                <div class="informer-lottery__item">
                    <div class="informer-lottery__item__icon"><i class="icon-diamond"></i></div>
                    <div class="informer-lottery__item__text">Тип выигрыша: Равноценный</div>
                    <span class="informer-lottery__item__quest"><i class="icon-help-circled"></i></span>
                </div>
                <div class="informer-lottery__item">
                    <div class="informer-lottery__item__icon"><i class="icon-check"></i></div>
                    <div class="informer-lottery__item__text">Комбинаций для участия: 10</div>
                </div>
                <div class="informer-lottery__item">
                    <div class="informer-lottery__item__icon"><i class="icon-dollar"></i></div>
                    <div class="informer-lottery__item__text">Стоимость участия: 2$</div>
                </div>
                <div class="informer-lottery__item">
                    <div class="informer-lottery__item__icon informer-lottery__item__icon_blue"><i class="icon-help-circled"></i></div>
                    <div class="informer-lottery__item__text"><a href="#" class="informer-lottery__link">Условия участия</div>
                </div>
            </div>
        </div>
    </div>
</div>