.informer-lottery{
    display: flex;
    padding: 25px 20px;
	background-color: #fff;
    border: 3px solid $color__yellow;
    border-radius: 6px;
    
    @media(--s-tablet-less){
        flex-direction: column;
        padding: 0;
        margin-bottom: 1.5rem;
    }
	// elements
	&__{
        &left{
            min-width: 190px;
            text-align: center;
            @media(--tablet){
                min-width: 170px;
            }
            @media(--s-tablet-less){
                min-width: 100%;
                text-align: left;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0 10px 0;
            }
        }
        &center{
            box-sizing: border-box;
            padding: 0 20px;
            @media(--mobile-less){
                padding: 0 15px;
            }
        }
        &right{
            position: relative;
            padding-left: 30px;
            @media(--s-tablet-less){
                padding: 10px 20px 15px;
                margin-top: 15px;
                background-color: #e7f3f8;
            }
            &:before{
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 5px;
                background-image: url('img/microball.png');
                @media(--s-tablet-less){
                    display: none;
                }
            }
        }
		&preview{
            margin: 0 auto;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            overflow: hidden;
            @media(--s-tablet-less){
                width: 90px;
                height: 90px;
                min-width: 90px;
                margin: 0;
                margin-right: 20px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            @media(--mobile-less){
                margin-right: 10px !important;
            }
        }
        &name{
            display: block;
            white-space: nowrap;
            margin-top: 15px;
            font-size: 16px;
            font-weight: 700;
            color: $color__blue;
            
            @media(--s-tablet-less){
                font-size: 12px;
            }
        }
        &title{
            font-family: PTSans;
            font-size: 25px;
            @media(--mobile-less){
                font-size: 19px;
                text-align: center;
            }
        }
        &text{
            font-size: 13px;
            font-weight: 400;
        }
        &link{
            color: $color__blue;
            font-size: 13px;
            &__icon{
                font-size: 18px !important;
                margin-right: 12px;
            }
            &:hover{
                text-decoration: none;
            }
        }
        &info{
            box-sizing: border-box;
        }
        &item{
            display: flex;
            align-items: center;
            margin-top: 7px;
            color: $color__gray1;
            &__icon{
                min-width: 24px;
                width: 24px;
                margin-right: 10px;
                text-align: center;
                font-size: 18px;
                @media(--mobile-less){
                    width: 16px;
                    min-width: 16px;
                    font-size: 14px;
                    margin-right: 5px;
                }
                &_blue{
                    color: $color__blue;
                }
            }
            &__text{
                white-space: nowrap;
                font-size: 13px;
                @media(--mobile-less){
                    font-size: 12px;
                }
            }
            &__quest{
                margin-left: 5px;
                font-size: 18px;
                color: $color__blue;
                @media(--mobile-less){
                    font-size: 14px;
                }
            }
        }
        &play{
            display: block;
            text-align: center;
            width: 175px;
            line-height: 50px;
            padding-top: 5px;
            border-radius: 3px;
            text-decoration: none;
            font-family: PTSans;
            text-transform: uppercase;
            font-weight: 700;
        }
        &status{
            margin-top: 20px;
        }
        &combination{
            display: flex;
            align-items: center;
            margin-top: 15px;
            &__text{
                margin-right: 10px;
                font-size: 13px;
            }
            &__body{
                padding: 0 10px;
                line-height: 32px;
                font-size: 15px;
                color:#5e6254;;
                background-color: #fff;
                border: 1px solid rgba(191, 191, 191, 0.35);
                border-radius: 7px;
                span{
                    color: #000;
                }
            }
        }
        &home{
            display: block;
            margin-top: 35px;
        }
        &box{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
	}
}