.dropping{
    margin-top: 20px;
    padding: 15px 0 10px;
	background-color: #fff;
    border: 3px solid #ffd200;
    border-radius: 7px;
	// elements
	&__{
        &content{
            padding: 15px 0 20px;
            margin: 0 30px;
            &:not(:last-child){
                border-bottom: 1px solid #e4edf2;
            }
        }
		&title{
            text-align: center;
            font-family: PTSans;
            font-size: 25px;
        }
        &body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &_between{
                justify-content: space-between;
            }
        }
        &group{
            display: flex;
            justify-content: center;
            width: 33.3%;
            @media(--s-tablet){
                width: 50%;
            }
            @media(--mobile){
                width: 50%;
            }
            @media(--s-mobile){
                width: 100%;
            }
            .dropping__item{
                width: 33.3%;
            }
        }
        &item{
            position: relative;
            box-sizing: border-box;
            width: 20%;
            padding: 0 10px 20px 0;
            margin-top: 15px;
            text-align: center;
            @media(--s-tablet){
                width: 25%;
            }
            @media(--mobile){
                width: 33.3%;
            }
            @media(--s-mobile){
                width: 50%;
            }
        }
        &ball{
            margin: 0 auto;
        }
        &text{
            color: $color__gray1;
            font-size: 13px;
        }
        &link{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 13px;
            white-space: nowrap;
            color: $color__blue;
            &:hover{
                text-decoration: none;
            }
        }
	}
}