<div class="dropping">
    <div class="dropping__content">
        <div class="dropping__title">Числа, выпадающие чаще других</div>
        <div class="dropping__body">
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
                <a href="#" class="dropping__link">Добавить к ставке</a>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
                <a href="#" class="dropping__link">Добавить к ставке</a>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
        </div>
    </div>
    <div class="dropping__content">
        <div class="dropping__title">Давно не выпадали</div>
        <div class="dropping__body">
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
                <a href="#" class="dropping__link">Добавить к ставке</a>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
                <a href="#" class="dropping__link">Добавить к ставке</a>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
            <div class="dropping__item">
                <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                <div class="dropping__text">49 раз последний - 2 дня назад</div>
            </div>
        </div>
    </div>
    <div class="dropping__content">
        <div class="dropping__title">Часто выпадающие пары чисел</div>
        <div class="dropping__body dropping__body_between">
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                    <div class="dropping__text">28 дней</div>
                    <a href="#" class="dropping__link">Добавить к ставке</a>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                    <div class="dropping__text">28 дней</div>
                    <a href="#" class="dropping__link">Добавить к ставке</a>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_green">1</div>
                    <div class="dropping__text">28 дней</div>
                    <a href="#" class="dropping__link">Добавить к ставке</a>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
            </div>
            <div class="dropping__group">
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
                <div class="dropping__item">
                    <div class="dropping__ball ball ball_size_huge ball_color_white">1</div>
                    <div class="dropping__text">28 дней</div>
                </div>
            </div>
        </div>
    </div>
</div>