<import src="modules/hat/hat.htm"></import>
<div class="main g-section">
	<div class="g-section__content main__content">
		<div class="main__body">
            <div class="l-grid">
                <import src="modules/types/types.htm"></import>
                <import src="modules/share/share.htm"></import>
            </div>
			<import src="modules/people/people.htm"></import>
		</div>
	</div>
    <import src="modules/more-line/more-line.htm"></import>
</div>
<div class="main main_bright g-section">
	<div class="g-section__content main__content">
		<div class="main__body">
            <div class="main__title">Отзывы</div>
            <div class="main__grid">
                <div class="main__col main__col_lg">
                    <import src="modules/reviews/reviews.htm"></import>
                </div>
                <div class="main__col main__col_sht">
                    <a href="#" class="button button_color_blue button_recall">Написать отзыв</a>
                    <img src=":210x210" alt="" class="main__aside__img">
                    <import src="modules/social-links/social-links.htm"></import>
                </div>
            </div>
		</div>
	</div>
</div>