<div class="main g-section">
	<import module="intro"></import>
	<div class="g-section__content main__content">
		<div class="main__head">
			<import module="types"></import>
			<import src="modules/share/share.htm" class=" share_main"></import>
		</div>
		<div class="main__body">
			<import module="items"></import>
			<import module="more"></import>
			<import module="information"></import>
		</div>
	</div>
</div>