.main{
            
    overflow: hidden;
    
	background-color: #dbecf3;
    
    &_bright{
        background-color: white;
    }
    
	// elements
	&__{
		&content{
			padding: 30px 0;
            
			@media(--mobile-less){
                padding-bottom: 20px;
			}
            &_stuck{
                padding-top: 0;
                padding-bottom: 0;
            }
		}
		&head{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&body{
			width: 100%;
		}
        &grid{
            display: flex;
            
            &_payments{
                @media (--tablet) {
                    flex-direction: row !important;
                    align-items: flex-start !important;
                }
            }
            @media (--tablet-less) {
                flex-direction: column;
                align-items: center;
            }
        }
        &col{
            @media (--tablet-less) {
                margin-bottom: 1rem;
            }
            
            // mods
            &_sht{
                min-width: 210px;
                width: 210px;
                
                &:first-child{
                    margin-right: 30px;
                }
                &:last-child{
                    margin-left: 30px;
                }
                
                @media (--s-tablet-less) {
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                }
                @media (--tablet) {
                    width: 100%;
                    margin-top: 20px;
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                    display: flex;
                    justify-content: space-between;
                    .social-links{
                        padding: 0;
                    }
                }
            }
            &_lg{
                width: 100%;
            }
        }
        &aside{
            min-width: 290px;
            margin-right: 30px;
            
            &__img{
                margin-top: 30px;
                @media (--tablet) {
                    margin-top: 0;
                }
            }
            &__share{
                display: flex;
                justify-content: flex-end;
            }
            @media (--s-tablet-less) {
                margin-right: 0;
            }
            @media(--tablet){
                min-width: 250px;
            }
        }
        &aside + &col{
            padding-top: 30px;
        }
        &post{
            margin-top: 20px;
        }
        &title{
            font-size: 25px;
            font-family: 'PTSans'
        }
        &text{
            font-size: 13px;
            p{
                margin-top: 7px;
            }
            &_color{
                &_gray{
                    color: #5e6254;
                }
            }
        }
	}
}