<import src="modules/hat/hat.htm"></import>
<div class="main main_bright g-section">
	<div class="g-section__content main__content main__content_stuck">
		<div class="main__body">
            <div class="main__grid">
                <import src="modules/aside/aside.menu.htm" class=" main__col main__aside"></import>
                <div class="main__col main__col_lg">
                    <import src="modules/faq/faq.htm"></import>
                </div>
            </div>
		</div>
	</div>
</div>