<import src="modules/hat/hat--payments.htm"></import>
<div class="main main_bright g-section">
	<div class="g-section__content main__content main__content_stuck">
		<div class="main__body">
            <div class="main__grid main__grid_payments">
                <import src="modules/aside/aside.payments.htm" class=" main__col main__aside"></import>
                <div class="main__col main__col_lg">
                    <import src="modules/types/types.short.htm"></import>
                    <import src="modules/payments/payments.htm"></import>
                </div>
            </div>
		</div>
	</div>
</div>