<import src="modules/hat/hat.htm"></import>
<div class="main main_bright g-section">
	<div class="g-section__content main__content">
		<div class="main__body">
            <div class="main__grid">
                <div class="main__col main__col_lg">
                    <import src="modules/filter/filter.htm"></import>
                    <import src="modules/video/video.htm"></import>
                    <import src="modules/videos/videos.htm"></import>
                    <import src="modules/pagination/pagination-inner.htm"></import>
                </div>
                <div class="main__col main__col_sht">
                    <div class="main__aside__share">
                        <import src="modules/share/share.htm"></import>
                    </div>
                    <img src=":210x210" alt="" class="main__aside__img">
                    <import src="modules/social-links/social-links.htm"></import>
                </div>
            </div>
		</div>
	</div>
</div>