<import src="modules/hat/hat.htm"></import>
<div class="main main_bright g-section">
	<div class="g-section__content main__content">
		<!--<div class="main__head">
			<import module="types"></import>
			<import module="share"></import>
		</div>-->
		<div class="main__body">
			<import src="modules/people/people.htm"></import>
            <div class="main__title">Отзывы</div>
            <div class="main__grid">
                <div class="main__col main__col_lg">
                    <import src="modules/filter/filter.htm"></import>
                    <import src="modules/reviews/reviews.htm"></import>
                    <import src="modules/articles/articles.htm"></import>
                    <import src="modules/video/video.htm"></import>
                    <import src="modules/videos/videos.htm"></import>
                    <import src="modules/pagination/pagination-inner.htm"></import>
                </div>
                <div class="main__col main__col_sht">
                    <img src=":210x210" alt="">
                </div>
            </div>
            <div class="main__grid">
                <div class="main__col main__aside">
                    <import src="modules/aside/aside.htm"></import>
                </div>
                <div class="main__col main__col_lg">
                    <import src="modules/faq/faq.htm"></import>
                    <import src="modules/payments/payments.htm"></import>
                </div>
            </div>
		</div>
	</div>
</div>