<import src="modules/hat/hat.htm"></import>
<div class="main main_bright g-section">
	<div class="g-section__content main__content">
		<div class="main__body">
            <div class="main__grid">
                <div class="main__col main__col_lg">
                    <import src="modules/types/types.htm"></import>
                    <div class="main__post">
                        <div class="main__title">Реальное участие</div>
                        <div class="main__text main__text_color_gray">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa.</p>
                        </div>
                    </div>
                    <import src="modules/lottery-table/lottery-table.htm"></import>
                </div>
                <div class="main__col main__col_sht">
                    <div class="main__aside__share">
                        <import src="modules/share/share.htm"></import>
                    </div>
                    <img src=":210x210" alt="" class="main__aside__img">
                    <import src="modules/social-links/social-links.htm"></import>
                </div>
            </div>
            <div class="main__post">
                <div class="main__title">Лотереи онлайн</div>
                <div class="main__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum laoreet metus, in laoreet tortor vehicula et. Pellentesque egestas nisl mauris, vel condimentum purus interdum vel. Suspendisse pellentesque, nunc ac fermentum eleifend, nibh augue facilisis diam, non hendrerit leo nunc ac lectus. In nec nisi lorem. Aenean venenatis accumsan ligula, vitae dictum ipsum maximus vel. Mauris nec fringilla massa.</p>
                </div>
            </div>
		</div>
	</div>
</div>